{% extends "base_site.html" %}


{% block content %}
<!-- Basic Examples -->
  <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header bg-light-green">
                  <h2>
                      Cuentas 
                  </h2>
              </div>
              <div class="body">
                  <div class="table-responsive">
                      <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                          <thead>
                              <tr>
                                  <th>Cuenta</th>
                                  <th>Saldo Actual</th>
                                  <th>Fecha de ultima conciliacíon</th>
                                  <th>Status</th>
                                  <th>Acciones</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                  <th>Cuenta</th>
                                  <th>Saldo Actual</th>
                                  <th>Fecha de ultima conciliacíon</th>
                                  <th>Status</th>
                                  <th>Acciones</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              <tr>
                                  <td>Santander</td>
                                  <td>1,854,654.54</td>
                                  <td>14/06/2018</td>
                                  <td> <span class="badge bg-light-green">Completo</span></td>
                                  <td>
                                    <a class="btn btn-small btn-info waves-effect" href="/conciliaciones/perfil_cuenta" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                      <i class="material-icons">visibility</i>
                                    </a>
                                    <a class="btn js-modal-buttons btn-small btn-success waves-effect" data-toggle="modal" data-target="#modal_conciliar_cuenta" >
                                      <i data-toggle="tooltip" data-placement="top" title="Conciliar" class="material-icons">payment</i>
                                    </a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>


{% include "modal_conciliar_cuenta.html" %}

  
{% endblock content %}

{% block javascripts %}
  {{ super() }}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

<script>
 
  $(function () {
    //Tooltip
    $('[data-toggle="tooltip"]').tooltip({
        container: 'body'
    });

    //Popover
    $('[data-toggle="popover"]').popover();
  })

  $('.js-basic-example').DataTable({
     dom: 'Bfrtip',
     responsive: true,
     select: true,
     buttons: [
         'copy', 'csv', 'excel', 'pdf', 'print'
     ]
  });
</script>
{% endblock javascripts %}
