{% extends "base_site.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">

    <!-- INFO CARD -->
    <div class="card">
      <div class="header bg-black">
        <h2 class="font-24">{{cuenta.nombre}}</h2>
      </div>

      <div class="body">
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
          <li role="presentation" class="active"><a href="#datos" data-toggle="tab">Datos generales</a></li>
          <li role="presentation"><a href="#saldos" data-toggle="tab">Saldos</a></li>
          <li role="presentation"><a href="#conciliacion" data-toggle="tab">Úlima conciliación</a></li>
          <li role="presentation"><a href="#cheques" data-toggle="tab">Cheques</a></li>
        </ul>
        <div class="tab-content">
          <!-- Tab panes -->
          <div role="tabpanel" class="tab-pane fade in active" id="datos">
            <div class="row mycontainer">
              <div class="col-sm-12 col-md-8">
                <p class="font-18">Nombre: <span class="font-bold">{{cuenta.nombre}}</span></p>
                <p class="font-18">Banco: <span class="font-bold">{{cuenta.banco}}</span></p>
                <p class="font-18">Número: <span class="font-bold">{{cuenta.numero}}</span></p>
              </div>
              <div class="col-sm-12 col-md-4 text-left">
                <p class="font-18">Empresa: <span class="font-bold">{{cuenta.empresa.nombre}}</span></p>
                <p class="font-18">Saldo actual: <span class="font-bold">{{"${:,.2f}".format(cuenta.saldo)}}</span></p>
              </div>
            </div>
            <div class="row mycontainer">
              <div class="col-sm-12">
                <div class="border-box">
                  <p class="font-18 font-bold">Comentarios</p>
                  <p class="font-18">{{cuenta.comentario}} </p>
                </div>
              </div>
            </div>
          </div>


          <div role="tabpanel" class="tab-pane fade" id="saldos">
            <div class="row mycontainer">
              <div class="col-sm-12 col-md-4">
                <p class="font-18">Saldo en transito ingresos: <span
                    class="font-bold">{{"${:,.2f}".format(saldo_transito_ingresos)}}</span></p>
                <p class="font-18">Saldo conciliado ingresos: <span
                    class="font-bold">{{"${:,.2f}".format(saldo_conciliado_ingresos)}}</span></p>
              </div>
              <div class="col-sm-12 col-md-4 text-center" >
                <p class="font-16"> <span class="font-16 label label-success">Saldo disponible</span>
                  <br> <span class="font-bold">{{"${:,.2f}".format(cuenta.saldo)}}</span>
                </p>
                <p class="font-16"> <span class="font-16 label label-info">Saldo actual </span>
                  <br> <span class="font-bold">
                    {{"${:,.2f}".format(saldo_conciliado_ingresos + cuenta.saldo_inicial - saldo_conciliado_egresos - saldo_transito_egresos)}}</span>
                </p>
                <p class="font-16"> <span class="font-16 label label-default">Saldo en sistema</span>
                  <br> <span class="font-bold">
                    {{"${:,.2f}".format(saldo_conciliado_ingresos + cuenta.saldo_inicial - saldo_conciliado_egresos)}}
                  </span>
                </p>
              </div>
              <div class="col-sm-12 col-md-4 align-left">
                <p class="font-18">Saldo solicitado egresos: <span
                    class="font-bold">{{"${:,.2f}".format(saldo_solicitado_egresos)}}</span></p>
                <p class="font-18">Saldo en transito egresos: <span
                    class="font-bold">{{"${:,.2f}".format(saldo_transito_egresos)}}</span></p>
                <p class="font-18">Saldo conciliado egresos: <span
                    class="font-bold">{{"${:,.2f}".format(saldo_conciliado_egresos)}}</span></p>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="conciliacion">
            {% if ultima_conciliacion is not none %}

            <div class="row mycontainer">
              <div class="col-12">
                  
                <span data-id="{{ultima_conciliacion.id}}" data-saldo="{{ultima_conciliacion.saldo_usuario}}" data-comentario="{{ultima_conciliacion.comentario}}" style="float: right; margin-right: 30px;"
                  class="btn btn-warning open-recalcular">Recalcular conciliación</span>
              </div>
            </div>

            <div class="row mycontainer">
              <div class="col-sm-12 col-md-4">
                <div class="info-box hover-expand-effect">
                    <div class="icon bg-blue">
                        <i class="material-icons">access_time</i>
                    </div>
                    <div class="content">
                        <div class="text">Fecha</div>
                        <div class="number">{{ultima_conciliacion.fecha}}</div>
                    </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-4 text-center">
                  <p class="font-16"> <span class="font-16 label label-success">Saldo real</span>
                    <br> <span class="font-bold"> {{"${:,.2f}".format(ultima_conciliacion.saldo_usuario)}}</span>
                  </p>
                  <p class="font-16"> <span class="font-16 label label-info">Saldo sistema </span>
                    <br> <span class="font-bold">
                      {{"${:,.2f}".format(ultima_conciliacion.saldo_sistema)}}</span>
                  </p>
                  <p class="font-16"> <span class="font-16 label label-default">Diferencia</span>
                    <br> <span class="font-bold">
                        {{"${:,.2f}".format(ultima_conciliacion.saldo_usuario - ultima_conciliacion.saldo_sistema)}}
                    </span>
                  </p> 
              </div>

              <div class="col-sm-12 col-md-4 align-left">
                  {% if ultima_conciliacion.status == 'correcta' %}
                  <div class="info-box hover-expand-effect">
                      <div class="icon bg-green">
                          <i class="material-icons">thumb_up</i>
                      </div>
                      <div class="content">
                          <div class="text">Status</div>
                          <div class="number">Correcta</div>
                      </div>
                  </div>
                  {% elif ultima_conciliacion.status == 'con_ajuste' %}
                  <div class="info-box hover-expand-effect" style="margin-bottom:0;">
                      <div class="icon bg-red">
                          <i class="material-icons">thumb_down</i>
                      </div>
                      <div class="content">
                          <div class="text">Status</div>
                          <div class="number">Ajustada </div>
                          
                      </div>
                  </div>
                  {% elif ultima_conciliacion.status == 'por_revisar' %}
                  <div class="info-box hover-expand-effect">
                      <div class="icon bg-yellow">
                          <i class="material-icons">thumbs_up_down</i>
                      </div>
                      <div class="content">
                          <div class="text">Status</div>
                          <div class="number">Revisar</div>
                      </div>
                  </div>
                  {% endif %}

                  <span class="font-18" >
                      {% if ultima_conciliacion.egreso_id %}
                      <a class="btn btn-xs bg-red waves-effect" style="width:100%;"
                        href="/egresos/perfil_pago/{{ultima_conciliacion.egreso_id}}" data-toggle="tooltip"
                        data-placement="top" title="Ver detalle"> Ajuste
                        <i class="material-icons">visibility</i>
                      </a>
                      {% elif ultima_conciliacion.ingreso_id %}
                      <a class="btn btn-xs bg-red waves-effect" style="width:100%;"
                        href="/ingresos/perfil_pago_ingreso/{{ultima_conciliacion.ingreso_id}}" data-toggle="tooltip"
                        data-placement="top" title="Ver detalle"> Ajuste
                        <i class="material-icons">visibility</i>
                      </a>
                      {% endif %}
                    </span>
              </div>
            </div>

            <div class="row mycontainer">
                <div class="col-sm-12">
                  <div class="border-box">
                    <p class="font-18 font-bold">Comentarios</p>
                    <p class="font-18">{{ultima_conciliacion.comentario}} </p>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          <div role="tabpanel" class="tab-pane fade" id="cheques">

            <div class="row mycontainer">
              <div class="col-12">
                <span style="float: right; margin-right: 30px;" data-toggle="modal" data-target="#numero_cheque"
                  class="btn btn-success">Editar número de cheque</span>
              </div>
            </div>

            <div class="row mycontainer">
                <div class="col-sm-12 col-md-4">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-blue">account_balance</i>
                </div>
                <div class="content">
                    <div class="text">Último cheque</div>
                    <div class="number">{{cuenta.numero_cheque}}</div>
                </div>
            </div> 

          </div>
        </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- PAGOS COMPLETADOS Egresos TABLE -->
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header bg-black">
          <h2>
            Egresos
            <div class="select-btn-group">
              <span id="open-conciliar-multiple" class="btn bg-deep-purple">Conciliar movimientos</span>
            </div>
          </h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
              <thead>
                <tr>
                  <th><input name="select_all2" value="1" class="select-all table-check" type="checkbox" /></th>
                  <th>ID</th>
                  <th>Fecha</th>
                  <th>Forma</th>
                  <th>Cuenta</th>
                  <th>Referencia</th>
                  <th>Monto</th>
                  <th>Status</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th>Fecha</th>
                  <th>Forma</th>
                  <th>Cuenta</th>
                  <th>Referencia</th>
                  <th>Monto</th>
                  <th>Status</th>
                  <th>Acciones</th>
                </tr>
              </tfoot>
              <tbody>
                {% for pago in cuenta.pagos %}
                <tr>
                  <td>
                    {% if pago.status == 'por_conciliar' %}
                    <input name="select_all" value="{{pago.id}}" type="checkbox" class="table-check conciliar-table" />
                    {% endif %}
                  </td>
                  <td>{{pago.id}}</td>
                  <td>{{pago.fecha_pago}}</td>
                  <td>{{pago.forma_pago}}</td>
                  <td>{{pago.cuenta}}</td>
                  <td>{{pago.referencia_pago}}</td>
                  <td>{{"${:,.2f}".format(pago.monto_total)}}</taltd>
                  <td>
                    {% if pago.status == 'solicitado' %}
                    <span class="badge bg-blue">Solicitado</span>
                    {% endif %}
                    {% if pago.status == 'conciliado' %}
                    <span class="badge bg-green">Liquidado</span>
                    {% endif %}
                    {% if pago.status == 'por_conciliar' %}
                    <span class="badge bg-orange">Por conciliar</span>
                    {% endif %}
                    {% if pago.status == 'cancelado' %}
                    <span class="badge bg-red">Cancelado</span>
                    {% endif %}
                  </td>
                  <td>
                    <a class="btn btn-xs btn-info waves-effect" href='/egresos/perfil_pago/{{pago.id}}'
                      data-toggle="tooltip" data-placement="top" title="Ver detalle">
                      <i class="material-icons">visibility</i>
                    </a>
                    {% if pago.status == 'solicitado' %}
                    <a class="btn btn-xs btn-success waves-effect open-generar-pago"
                      data-url="{{ url_for('egresos_blueprint.get_data_generar_pago', pago_id=pago.id) }}">
                      <i class="material-icons" data-toggle="tooltip" data-placement="top"
                        title="Generar pago">payment</i>
                    </a>
                    <a class="btn btn-xs btn-danger waves-effect delete-pago" data-type="confirm"
                      data-url="{{ url_for('egresos_blueprint.borrar_pago', pago_id=pago.id) }}">
                      <i data-toggle="tooltip" data-placement="top" title="Borrar" class="material-icons">delete</i>
                    </a>
                    {% endif %}
                    {% if pago.status == 'por_conciliar' %}
                    <a class="btn btn-xs bg-deep-purple waves-effect open-conciliar"
                      data-url="{{ url_for('egresos_blueprint.get_data_conciliar', pago_id=pago.id) }}">
                      <i data-toggle="tooltip" data-placement="top" title="Conciliar Movimiento"
                        class="material-icons">assignment_turned_in</i>
                    </a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGOS COMPLETADOS Ingresos TABLE -->
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header bg-black">
          <h2>
            Ingresos
            <div class="select-btn-group">
              <span id="open-conciliar-multiple" class="btn bg-deep-purple ">Conciliar movimientos</span>
            </div>
          </h2>
        </div>
        <div class="body">
          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
            <thead>
              <tr>
                <th><input name="select_all" value="1" class="select-all conciliar-table" type="checkbox" /></th>
                <th>ID</th>
                <th>Fecha</th>
                <th>Forma</th>
                <th>Cuenta</th>
                <th>Referencia</th>
                <th>Monto</th>
                <th>Status</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>ID</th>
                <th>Fecha</th>
                <th>Forma</th>
                <th>Cuenta</th>
                <th>Referencia</th>
                <th>Monto</th>
                <th>Status</th>
                <th>Acciones</th>
              </tr>
            </tfoot>
            <tbody>
              {% for pago in cuenta.pagos_ingresos %}
              <tr>
                <td>
                  {% if pago.status == 'por_conciliar' %}
                  <input name="select_all" value="{{pago.id}}" type="checkbox" class="table-check conciliar-table" />
                  {% endif %}
                </td>
                <td>{{pago.id}}</td>
                <td>{{pago.fecha_pago}}</td>
                <td>{{pago.forma_pago}}</td>
                <td>{{pago.cuenta}}</td>
                <td>{{pago.referencia_pago}}</td>
                <td>{{"${:,.2f}".format(pago.monto_total)}}</taltd>
                <td>
                  {% if pago.status == 'solicitado' %}
                  <span class="badge bg-blue">Solicitado</span>
                  {% endif %}
                  {% if pago.status == 'conciliado' %}
                  <span class="badge bg-green">Liquidado</span>
                  {% endif %}
                  {% if pago.status == 'por_conciliar' %}
                  <span class="badge bg-orange">Por conciliar</span>
                  {% endif %}
                  {% if pago.status == 'cancelado' %}
                  <span class="badge bg-red">Cancelado</span>
                  {% endif %}
                </td>
                <td>
                  <a class="btn btn-xs btn-info waves-effect" href='/egresos/perfil_pago/{{pago.id}}'
                    data-toggle="tooltip" data-placement="top" title="Ver detalle">
                    <i class="material-icons">visibility</i>
                  </a>
                  {% if pago.status == 'solicitado' %}
                  <a class="btn btn-xs btn-success waves-effect open-generar-pago"
                    data-url="{{ url_for('egresos_blueprint.get_data_generar_pago', pago_id=pago.id) }}">
                    <i class="material-icons" data-toggle="tooltip" data-placement="top"
                      title="Generar pago">payment</i>
                  </a>
                  <a class="btn btn-xs btn-danger waves-effect delete-pago" data-type="confirm"
                    data-url="{{ url_for('egresos_blueprint.borrar_pago', pago_id=pago.id) }}">
                    <i data-toggle="tooltip" data-placement="top" title="Borrar" class="material-icons">delete</i>
                  </a>
                  {% endif %}
                  {% if pago.status == 'por_conciliar' %}
                  <a class="btn btn-xs bg-deep-purple waves-effect open-conciliar"
                    data-url="{{ url_for('egresos_blueprint.get_data_conciliar', pago_id=pago.id) }}">
                    <i data-toggle="tooltip" data-placement="top" title="Conciliar Movimiento"
                      class="material-icons">assignment_turned_in</i>
                  </a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </td>
        </div>
      </div>
    </div>
  </div>

  <!-- DETALLES TABLE -->
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header bg-black">
          <h2>
            Conciliacíones de cuenta
          </h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Fecha</th>
                  <th>Saldo Real</th>
                  <th>Saldo Teórico</th>
                  <th>Diferencia </th>
                  <th>Ajuste</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Fecha</th>
                  <th>Saldo Real</th>
                  <th>Saldo Teórico</th>
                  <th>Diferencia </th>
                  <th>Ajuste</th>
                  <th>Status</th>
                </tr>
              </tfoot>
              <tbody>
                {% for conciliacion in cuenta.conciliaciones %}
                <tr>
                  <td>{{conciliacion.id}}</td>
                  <td>{{conciliacion.fecha}}</td>
                  <td>{{"${:,.2f}".format(conciliacion.saldo_usuario)}}</td>
                  <td>{{"${:,.2f}".format(conciliacion.saldo_sistema)}}</td>
                  <td>{{"${:,.2f}".format(conciliacion.saldo_usuario - conciliacion.saldo_sistema)}}
                  <td>
                    {% if conciliacion.egreso_id %}
                    <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_pago/{{conciliacion.egreso_id}}"
                      data-toggle="tooltip" data-placement="top" title="Ver detalle"> Ajuste
                      <i class="material-icons">visibility</i>
                    </a>
                    {% elif conciliacion.ingreso_id %}
                    <a class="btn btn-xs btn-info waves-effect"
                      href="/ingresos/perfil_pago_ingreso/{{conciliacion.ingreso_id}}" data-toggle="tooltip"
                      data-placement="top" title="Ver detalle"> Ajuste
                      <i class="material-icons">visibility</i>
                    </a>
                    {% else %}
                    Sin Ajuste
                    {% endif %}
                  </td>
                  <td>
                      {% if conciliacion.status == 'correcta' %}
                       <span class="badge bg-green">Correcta</span>
                      {% elif conciliacion.status == 'con_ajuste' %}
                       <span class="badge bg-red">Ajustada</span>
                      {% elif conciliacion.status == 'por_revisar' %}
                       <span class="badge bg-yellow">Revisar</span>
                      {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "modal_conciliar_movimiento.html" %}
  {% include "modal_recalcular_conciliacion.html" %}
  {% include "modal_generar_pago.html" %}
  <!-- Modal numero de cheque -->
  <div class="modal fade" id="numero_cheque" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <form class="form-horizontal form-label-left" id="user_inputs" method="POST"
          action="{{ url_for('conciliacion_blueprint.cambiar_numero_cheque', cuenta_id=cuenta.id) }}">
          <div class="modal-header">
            <h3 class="modal-title" id="largeModalLabel"> Editar número de cheque</h3>
          </div>
          <div class="modal-body">
            <div class="row" style="margin-bottom:20px !important">
              <div class="col-sm-12">
                <label for="number"> Numero</label>
                <input type='number' class="form-control" name="number" />
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Cambiar</button>
            <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
              <i class="material-icons">close</i>
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>

  {% endblock content %}

  {% block javascripts %}
  {{ super() }}
  <!-- Jquery DataTable Plugin Js -->
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}">
  </script>
  <script
    src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='vendors/sweetalert/sweetalert.min.js') }}"></script>
  <script>
    //recalcular conciliacion
    $(".open-recalcular").on("click", function () {
      const html =
        `<input type="hidden" name="conciliacion_id" value="${$(this).data('id')}">
        <hr>`
      $('#saldo-input').val($(this).data('saldo'));
      $('#comentario-input').val($(this).data('comentario'));
      let element = document.querySelector(".here-rc");
      element.innerHTML = "";
      element.insertAdjacentHTML('beforeend', html);
      $('#modal_recalcular_conciliacion').modal('show');
    });

    // hacemos el form sumbit de concilair cuenta con ajax
    $("#form-rc").submit(function () {
      $.ajax({
        url: "/conciliaciones/recalcular_conciliacion",
        data: $("#form-rc").serialize(),
        type: "POST",
        dataType: 'json',
        success: function (data) {
          //Si la respuesta es exitosa checamos si la conciliacion es correcta (1) o no (2)
          $('#modal_recalcular_conciliacion').modal('hide');
          if (data.res == 1) {
            swal({
              title: 'La Conciliación es correcta',
              text: "El saldo en sistema y el saldo a conciliar son iguales",
              type: "success"
            });
          } else if (data.res == 2) {
            //Si no es correcta preguntamos si desear crear el ajuste automatico
            swal({
              title: "Conciliación no correcta?",
              text: 'El saldo en sistema $' + data.saldo_sistema + ' y el saldo a conciliar $' + data
                .saldo_usuario + ' son distintos',
              type: "warning",
              showCancelButton: true,
              cancelButtonText: "Dejar conciliacion abierta",
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Ajustar!",
              closeOnConfirm: false
            }, function () {
              //Si ocupa el ajuste automatico post a ajustar_conciliacion via ajax
              $.ajax({
                url: '/conciliaciones/ajustar_conciliacion/' + data.conciliacion,
                success: function (data) {
                  if (data == "exito") {
                    swal("Ajustado!", "El ajuste fue correcto.", "success");
                    setTimeout(function () {
                      location.reload();
                    }, 2000);
                  } else {
                    swal("Ocurrio un error!", "Por favor crea el ajuste manualmente.", "error");
                  }
                }
              })
            });
          }
        },
        error: function (e) {
          $('#modal_recalcular_conciliacion').modal('hide');
          swal("Ocurrio un error!", JSON.stringify(e), "error");
          console.log(JSON.stringify(e));
        }
      });
      return false;
    });


    //Jquery table
    var table = $('.js-basic-example').DataTable({
      'order': [1, 'asc'],
      "columnDefs": [{
        "targets": 0,
        "orderable": false
      }]
    });

    // "Select all" control
    $('.select-all').on('click', function () {
      // Check/uncheck all checkboxes in the table
      var rows = table.rows({
        'search': 'applied'
      }).nodes();
      $('input[type="checkbox"]', rows).prop('checked', this.checked);
    });


    $("#open-conciliar-multiple").on("click", function () {
      let pagos = []
      // Iterate over all checkboxes in the table
      $('.conciliar-table').each(function () {

        // If checkbox is checked
        if (this.checked) {
          pagos.push($(this).val())
        }
      })
      $.get({
        url: '/egresos/get_data_conciliar_multiple',
        data: {
          pagos: pagos
        },
        success: function (data) {
          let element = document.querySelector(".here-conciliar");
          element.innerHTML = "";
          data.forEach(pago => {
            const html =
              `<div class="row" style="margin-bottom:20px;">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Beneficiario: <span class="font-bold">${pago.beneficiario}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Monto a conciliar: <span class="font-bold">${money.format(pago.monto_total)}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cuenta de banco: <span class="font-bold">${pago.cuenta}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Referencia de pago : <span class="font-bold">${pago.referencia}</span></p>
                            </div>
                        </div>
                <input type="hidden" id="pago_id" name="pago_id" value="${pago.pago_id}">
                <hr>`
            element.insertAdjacentHTML('beforeend', html);
            $('#modal_conciliar_movimiento').modal('show');

          });

        }
      });
    });

    //Modal generar pago
    $(".open-generar-pago").on("click", function () {
      $.ajax({
        url: $(this).attr("data-url"),
        success: function (data) {
          const html =
            `<div class="row" style="margin-bottom:10px;">
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Beneficiario: <span class="font-bold">${data.beneficiario}</span></p>
                                </div>
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Monto a total: <span class="font-bold">${money.format(data.monto_total)}</span></p>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Cuenta de banco: <span class="font-bold">${data.cuenta}</span></p>
                                </div>
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Forma de pago: <span class="font-bold">${data.forma_pago}</span></p>
                                </div>
                            </div>
                    <input type="hidden" id="pago_id" name="pago_id" value="${data.pago_id}">
                    <hr>
                    `
          let element = document.querySelector(".generar_here");
          element.innerHTML = "";
          element.insertAdjacentHTML('beforeend', html);

          if (data.forma_pago.toLowerCase() == 'cheque') {
            $('#referencia_pago').val(data.numero_cheque);
            let element = document.querySelector(".alert-here");
            element.innerHTML = "";
            const ref =
              `<div class="alert alert-warning alert-dismissible" style="margin-bottom:0" role="alert">
                                Revisar que el folio del cheque sea correcto
                            </div>`
            element.insertAdjacentHTML('beforeend', ref);
          }

          if (data.forma_pago.toLowerCase() == 'transferencia') {
            let element = document.querySelector(".alert-here");
            element.innerHTML = "";
            const ref =
              `<div class="alert alert-info alert-dismissible" style="margin-bottom:0" role="alert">
                                Revisar que la cuenta del beneficiario sea ${data.cuenta_beneficiario}
                            </div>`
            element.insertAdjacentHTML('beforeend', ref);
          }
          $('#modal_generar_pago').modal('show');
        }
      });
    });


    // Conciliado check for modal generar pago
    $("#conciliado_check").change(function () {
      if (this.checked) {
        $("#referencia_conciliacion").fadeIn()
      } else {
        $("#referencia_conciliacion").fadeOut()
      }
    });

     //Modal Conciliar
     $(".open-conciliar").on("click", function () {
        $.ajax({
            url: $(this).attr("data-url"),
            success: function (data) {
                const html =
                    `<div class="row" style="margin-bottom:20px;">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Beneficiario: <span class="font-bold">${data.beneficiario}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Monto a conciliar: <span class="font-bold">${money.format(data.monto_total)}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cuenta de banco: <span class="font-bold">${data.cuenta}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Referencia de pago : <span class="font-bold">${data.referencia}</span></p>
                            </div>
                        </div>
                <input type="hidden" id="pago_id" name="pago_id" value="${data.pago_id}">
                <hr>`
                let element = document.querySelector(".here-conciliar");
                element.innerHTML = "";
                element.insertAdjacentHTML('beforeend', html);
                $('.selectpicker').selectpicker('refresh');
                $('#modal_conciliar_movimiento').modal('show');
            }
        });
    });

  </script>
  {% endblock javascripts %}