{% extends "base_site.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">

    <!-- INFO CARD -->
    <div class="card">
      <div class="header bg-black">
        <h2 class="font-24">Cuenta</h2>
      </div>

      <div class="body">
        <div class="row mycontainer">
          <div class="col-sm-12 col-md-6">
            <p class="font-18">Id: <span class="font-bold">15615156</span></p>
            <p class="font-18">Status: <span class="badge bg-red">Incompleto</span></p>
          </div>
          <div class="col-sm-12 col-md-6 align-right">
            <p class="font-18">Saldo Actual: <span class="font-bold">178,824.00</span></p>
            <p class="font-18">Fecha de ultima conciliacíon: <span class="font-bold">22 dic 2018</span></p>
          </div>
        </div>
        <!-- <div class="row mycontainer">
          <div class="col-sm-12">
            <div class="border-box">
              <p class="font-18 font-bold">Comentarios</p>
              <p class="font-18">Lorem ipsum ldoreniducn ounc iub h </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>


    <!-- DETALLES TABLE -->
    <div class="card">
      <div class="header">
        <h2>Datos de Cuenta</h2>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
            <thead>
              <tr>
                <th>ID</th>
                <th># de documento</th>
                <th>Monto</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>ID</th>
                <th># de documento</th>
                <th>Monto</th>
                <th>Acciones</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>9</td>
                <td>9743ndo</td>
                <td>$12,155</td>
                <td>
                  <a class="btn btn-small btn-info waves-effect" href="/egresos/perfil_pago" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                    <i class="material-icons">visibility</i>
                  </a>
                  <a class="btn btn-small btn-danger waves-effect" data-toggle="tooltip" data-placement="top" title="Borrar">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- DETALLES TABLE -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-black">
                    <h2>
                      Egresos
                    </h2>
                    <div class="select-btn-group">
                        <span class="btn btn-primary">Pagar</span>
                        <span class="btn bg-deep-purple" >Reprogramar fecha</span>
                    </div>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                                    <th>ID</th>
                                    <th>Fecha</th>
                                    <th>Beneficiario</th>
                                    <th>Forma de pago</th>
                                    <th>Monto</th>
                                    <th>Referencia</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Fecha</th>
                                    <th>Beneficiario</th>
                                    <th>Forma de pago</th>
                                    <th>Monto</th>
                                    <th>Referencia</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>1</td>
                                    <td>24/08/2018</td>
                                    <td>Felxi</td>
                                    <td>Transferencia</td>
                                    <td>$320,800</td>
                                    <td>Abc138Gs</td>
                                    <td> <span class="badge bg-green">Liquidado</span></td>
                                    <td>
                                      <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_pago" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                        <i class="material-icons">visibility</i>
                                      </a>
                                      <a class="btn btn-xs btn-success waves-effect" data-toggle="tooltip" data-placement="top" title="Generar pago">
                                        <i class="material-icons">payment</i>
                                      </a>
                                      <a class="btn btn-xs bg-purple waves-effect"  data-toggle="modal" data-target="#largeModal" >
                                        <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Conciliar movimiento">assignment_turned_in</i>
                                      </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


      <!-- DETALLES TABLE -->
      <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                  <div class="header bg-black">
                      <h2>
                        Ingresos
                      </h2>
                      <div class="select-btn-group">
                          <span class="btn btn-primary">Pagar</span>
                          <span class="btn bg-deep-purple" >Reprogramar fecha</span>
                      </div>
                  </div>
                  <div class="body">
                      <div class="table-responsive">
                          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                              <thead>
                                  <tr>
                                      <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                                      <th>ID</th>
                                      <th>Fecha</th>
                                      <th>Cliente</th>
                                      <th>Forma de pago</th>
                                      <th>Monto</th>
                                      <th>Referencia</th>
                                      <th>Status</th>
                                      <th>Acciones</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                      <th></th>
                                      <th>ID</th>
                                      <th>Fecha</th>
                                      <th>Cliente</th>
                                      <th>Forma de pago</th>
                                      <th>Monto</th>
                                      <th>Referencia</th>
                                      <th>Status</th>
                                      <th>Acciones</th>
                                  </tr>
                                  </tr>
                              </tfoot>
                              <tbody>
                                  <tr>
                                      <td></td>
                                      <td>1</td>
                                      <td>24/08/2018</td>
                                      <td>Felxi</td>
                                      <td>Transferencia</td>
                                      <td>$320,800</td>
                                      <td>Abc138Gs</td>
                                      <td> <span class="badge bg-green">Liquidado</span></td>
                                      <td>
                                        <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_pago" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                          <i class="material-icons">visibility</i>
                                        </a>
                                        <a class="btn btn-xs btn-success waves-effect" data-toggle="tooltip" data-placement="top" title="Generar pago">
                                          <i class="material-icons">payment</i>
                                        </a>
                                        <a class="btn btn-xs bg-purple waves-effect"  data-toggle="modal" data-target="#largeModal" >
                                          <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Conciliar movimiento">assignment_turned_in</i>
                                        </a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- DETALLES TABLE -->
      <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                  <div class="header bg-black">
                      <h2>
                        Conciliacíones
                      </h2>
                      <div class="select-btn-group">
                          <span class="btn btn-primary">Conciliar</span>
                          <span class="btn bg-deep-purple" >Reprogramar fecha</span>
                      </div>
                  </div>
                  <div class="body">
                      <div class="table-responsive">
                          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                              <thead>
                                  <tr>
                                      <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                                      <th>ID</th>
                                      <th>Fecha</th>
                                      <th>Saldo Real</th>
                                      <th>Saldo Teórico</th>
                                      <th>Diferencia </th>
                                      <th>Ajuste</th>
                                      <th>Status</th>
                                      <th>Acciones</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                      <th></th>
                                      <th>ID</th>
                                      <th>Fecha</th>
                                      <th>Saldo Real</th>
                                      <th>Saldo Teórico</th>
                                      <th>Diferencia </th>
                                      <th>Ajuste</th>
                                      <th>Status</th>
                                      <th>Acciones</th>
                                  </tr>
                                  </tr>
                              </tfoot>
                              <tbody>
                                  <tr>
                                      <td></td>
                                      <td>1</td>
                                      <td>24/08/2018</td>
                                      <td>$3,500,722</td>
                                      <td>$3,4700,755</td>
                                      <td>$3,800</td>
                                      <td>Abc138Gs</td>
                                      <td> <span class="badge bg-red">Incompleto</span></td>
                                      <td>
                                        <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_pago" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                          <i class="material-icons">visibility</i>
                                        </a>
                                        <a class="btn btn-xs btn-success waves-effect" data-toggle="tooltip" data-placement="top" title="Generar pago">
                                          <i class="material-icons">payment</i>
                                        </a>
                                        <a class="btn btn-xs bg-purple waves-effect"  data-toggle="modal" data-target="#largeModal" >
                                          <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Conciliar movimiento">assignment_turned_in</i>
                                        </a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>



      {% endblock content %}

      {% block javascripts %}
      {{ super() }}
      <!-- Jquery DataTable Plugin Js -->
      <script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
      <script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
      <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
      <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>
  
      <script>
      var table = $('.js-basic-example').DataTable({
     'columnDefs': [{
         'targets': 0,
         'className': 'dt-body-center',
         'render': function (data, type, full, meta){
             return '<input type="checkbox" name="id[]" value="' 
                + $('<div/>').text(data).html() + '">';
         }
      }],
      'order': [1, 'asc'],

  });

     // Handle click on "Select all" control
     $('#example-select-all').on('click', function(){
      // Check/uncheck all checkboxes in the table
      var rows = table.rows({ 'search': 'applied' }).nodes();
      $('input[type="checkbox"]', rows).prop('checked', this.checked);
   });

    // Handle click on checkbox to set state of "Select all" control
    $('#example tbody').on('change', 'input[type="checkbox"]', function(){
      // If checkbox is not checked
      if(!this.checked){
         var el = $('#example-select-all').get(0);
         // If "Select all" control is checked and has 'indeterminate' property
         if(el && el.checked && ('indeterminate' in el)){
            // Set visual state of "Select all" control 
            // as 'indeterminate'
            el.indeterminate = true;
         }
      }
   });
    
   $('#frm-example').on('submit', function(e){
      var form = this;

      // Iterate over all checkboxes in the table
      table.$('input[type="checkbox"]').each(function(){
         // If checkbox doesn't exist in DOM
         if(!$.contains(document, this)){
            // If checkbox is checked
            if(this.checked){
               // Create a hidden element 
               $(form).append(
                  $('<input>')
                     .attr('type', 'hidden')
                     .attr('name', this.name)
                     .val(this.value)
               );
            }
         } 
      });

      // FOR TESTING ONLY
      
      // Output form data to a console
      $('#example-console').text($(form).serialize()); 
      console.log("Form submission", $(form).serialize()); 
       
      // Prevent actual form submission
      e.preventDefault();
   });
      </script>
      {% endblock javascripts %}
  