<section>
<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">    
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <!--  <li class="header">MAIN NAVIGATION</li> -->
            <li {% if request.path == '/home/index' %}class="active"{% endif %} >
                <a href="/home/index">
                    <!--  <i class="material-icons">home</i> -->
                    <span>Home</span>
                </a>
            </li>
            <!-- Egresos -->
            <li {% if '/egresos' in request.path %}class="active"{% endif %}>
                <a href="javascript:void(0);" class="menu-toggle">
                    <!--  <i class="material-icons">swap_calls</i> -->
                    <span>Egresos</span>
                </a>
                <ul class="ml-menu">
                    <li {% if request.path == '/egresos/cuentas_por_pagar' %} class="active"{% endif %}>
                        <a href="/egresos/cuentas_por_pagar">Cuentas por pagar</a>
                    </li>
                    <li {% if request.path == '/egresos/pagos_realizados' %} class="active"{% endif %}>
                        <a href="/egresos/pagos_realizados">Pagos</a>
                    </li>
                    <li {% if request.path == '/egresos/capturar_egreso' %} class="active"{% endif %}>
                        <a href="/egresos/capturar_egreso">Capturar</a>
                    </li>
                </ul>
            </li>
            <!-- Fin de Egresos -->


            <!-- Ingresos -->
            <li {% if '/ingresos' in request.path %}class="active"{% endif %}>
                <a href="javascript:void(0);" class="menu-toggle">
                    <!--  <i class="material-icons">attach_money</i> -->
                    <span>Ingresos</span>
                </a>
                <ul class="ml-menu">
                    <li {% if request.path == '/ingresos/cuentas_por_cobrar' %} class="active"{% endif %}>
                        <a href="/ingresos/cuentas_por_cobrar">Cuentas por Cobrar</a>
                    </li>
                    
                    <li {% if request.path == '/ingresos/ingresos_tiendas' %} class="active"{% endif %}>
                        <a href="/ingresos/ingresos_tiendas">Ingresos de Tiendas</a>
                    </li>
                    
                    <li {% if request.path == '/ingresos/capturar_ingreso' %} class="active"{% endif %}>
                        <a href="/ingresos/capturar_ingreso"> Capturar </a>
                    </li>
                    
                </ul>
            </li>
            <!-- Fin de Ingresos -->


            <!-- Conciliaciónes -->
            <li {% if '/conciliaciones' in request.path %}class="active"{% endif %}>
                <a href="javascript:void(0);" class="menu-toggle">
                    <!--  <i class="material-icons">attach_money</i> -->
                    <span>Conciliaciónes</span>
                </a>
                <ul class="ml-menu">

                    <li {% if request.path == '/conciliaciones/capturar_conciliacion' %} class="active"{% endif %}>
                        <a href="/conciliaciones/capturar_conciliacion">Conciliar Saldos</a>
                    </li>
                </ul>
            </li>
            <!-- Fin de Conciliaciónes -->


            <!-- Reportes -->
            <li {% if '/reportes' in request.path %}class="active"{% endif %}>
                <a href="javascript:void(0);" class="menu-toggle">
                    <!--   <i class="material-icons">attach_money</i> -->
                    <span>Reportes</span>
                </a>
                <ul class="ml-menu">
                    <li {% if request.path == '/reportes/analisis_egresos' %} class="active"{% endif %}>
                        <a href="/reportes/ver">Analisis Egresos</a>
                    </li>
                    <li {% if request.path == '/reportes/analisis_egresos' %} class="active"{% endif %}>
                        <a href="/reportes/capturar">Analisis Ingresos</a>
                    </li>
                </ul>
            </li>
            <!-- Fin de Reportes -->



            <!-- nomina -->
            <li {% if '/nomina' in request.path %}class="active"{% endif %}>
                <a href="javascript:void(0);" class="menu-toggle">
                    <!--  <i class="material-icons">attach_money</i> -->
                    <span>Nómina</span>
                </a>
                <ul class="ml-menu">
                    <li {% if request.path == '/nomina/ver_empleados' %} class="active"{% endif %}>
                        <a href="/nomina/ver_empleados">Ver</a>
                    </li>

                </ul>
            </li>
            <!-- Fin de nomina -->

            <!-- administracion -->
            <li {% if '/administracion' in request.path %}class="active"{% endif %}>
                <a href="javascript:void(0);" class="menu-toggle">
                    <!--  <i class="material-icons">attach_money</i> -->
                    <span>Administración</span>
                </a>
                <ul class="ml-menu">
                    <li {% if request.path == '/administracion/beneficiarios' %} class="active"{% endif %}>
                        <a href="/administracion/beneficiarios">Beneficiarios</a>
                    </li>
                    <li {% if request.path == '/administracion/clientes' %} class="active"{% endif %}>
                        <a href="/administracion/clientes">Clientes</a>
                    </li>
                    <li {% if
                         request.path == '/administracion/cuentas' %} class="active"{% endif %}>
                        <a href="/administracion/cuentas">Cuentas</a>
                    </li>
                    <li {% if
                        request.path == '/administracion/centros_negocios' %} class="active"{% endif %}>
                       <a href="/administracion/centros_negocios">Centros de Negocios</a>
                   </li>
                   <li {% if
                        request.path == '/administracion/directorio_contactos' %} class="active"{% endif %}>
                    <a href="/administracion/directorio_contactos">Directorio de contactos</a>
                    </li>
                    <li {% if
                        request.path == '/administracion/otros' %} class="active"{% endif %}>
                       <a href="/administracion/otros">Soporte</a>
                   </li>
                </ul>
            </li>
            <!-- Fin de nomina -->
        </ul>

    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2019 <a href="javascript:void(0);">Rudos Admin</a>.  Version: <b> 2.0.0 </b>
        </div>

    </div>
    <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->
