
  
  <div class="modal fade" id="modal_pagar" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="largeModalLabel">Solicitud de documentos a pagar</h4>
          </div>
          <form class="form-horizontal form-label-left" id="user_inputs" method="POST" action="{{ url_for('modales_blueprint.mandar_pagar') }}">            
          <div class="modal-body">
            <div class="here"></div>
              <div class="input-group">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 nomargin">
                      <label for="beneficiario"> Forma de pago </label><br>
                      <select class="selectpicker" id="forma_pago" data-live-search="true" name="forma_pago_id" title="Seleccione una Forma de Pago..." data-width="100%">
                         {% for forma in formas_pago %} 
                         <option value="{{forma.id}}"> {{ forma }} </option>
                        {% endfor %} 
                      </select>
                    </div>
                    <div class="col-sm-12 col-md-6 nomargin">
                        <label for="beneficiario"> Cuenta </label><br>
                        <select class="selectpicker" id="cuenta" data-live-search="true" name="cuenta_id" title="Seleccione una Cuenta.." data-width="100%">
                           {% for cuenta in cuentas %} 
                           <option value="{{cuenta.id}}"> {{ cuenta }} </option>
                          {% endfor %} 
                        </select>
                    </div>
                  </div>
                </div>


                <div class="input-group">
                    <div class="row" style="margin-top:10px;">
                      <div class="col-sm-12 col-md-6 ">
                        <input type="checkbox" id="parcial" name="parcial" class="filled-in" />
                        <label class="grey-font" for="parcial">Pago parcial</label>
                      </div>
                      <div class="col-sm-12 col-md-6 ">
                        <input placeholder="Monto parcial" class="form-control" style="display:none" type="number"
                          id="monto_parcial" name="monto_parcial">
                      </div>
                    </div>
                  </div>
        

                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-link waves-effect ">Enviar</button>
                <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
                  <i class="material-icons">close</i>
                </button>
            </div>
          </form>
          </div>
        </div>
      </div>
  
  <!-- Modal pagos 
  <div class="modal fade" id="modal_pagar" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="largeModalLabel">Pagos a generar | fecha .. 24/12/18</h4>
                </div>
                <div class="modal-body">
                  <div class="box">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 nomargin">
                      <p class="font-18" id="id">Beneficiario: <span class="font-bold">Tom Brady</span></p>
                    </div>
                    <div class="col-sm-12 col-md-6 nomargin">
                      <p class="font-18">Monto a pagar: <span class="font-bold">$10343.00</span></p>
                    </div>
                  </div>

                  <div class="input-group">
                    <div class="row">
                      <div class="col-sm-12 col-md-6 nomargin">
                        <label for="beneficiario"> Forma de pago </label><br>
                        <select class="selectpicker" id="concepto" onchange='ajaxFirstOnChange()' data-live-search="true" name="concepto" title="Seleccione una forma de pago..." data-width="100%">
                           {% for w in concepto %} 
                          <option> {{ w | safe }} </option>
                          {% endfor %} 
                        </select>
                      </div>
                      <div class="col-sm-12 col-md-6 nomargin">
                        <label> Cuenta </label>
                        <select class="selectpicker" id="concepto2" onchange='ajaxFirstOnChange()' data-live-search="true" name="concepto" title="Seleccione una cuenta..." data-width="100%">
                          {% for w in concepto %} 
                          <option> {{ w | safe }} </option>
                          {% endfor %} 
                        </select>
                      </div>
                    </div>
                  </div>

                  <table id="table" style="table-layout: fixed;" class="table table-striped">
                    <thead>
                      <tr>
                        <th>ID egreso</th>
                        <th>Monto</th>
                        <th># de documento</th>
                        <th>Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td> 32938dh </td>
                        <td> $15434</td>
                        <td> 3494</td>
                        <td>
                          <a class="btn btn-small btn-danger waves-effect" data-toggle="tooltip" data-placement="top" title="Eliminar">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="box">
                  <hr>
                  <div class="row">
                    <div class="col-sm-12 col-md-6 nomargin">
                      <p class="font-18">Beneficiario: <span class="font-bold">Rob Gronkowski</span></p>
                    </div>
                    <div class="col-sm-12 col-md-6 nomargin">
                      <p class="font-18">Monto a pagar: <span class="font-bold">$10343.00</span></p>
                    </div>
                  </div>

                  <div class="input-group">
                    <div class="row">
                      <div class="col-sm-12 col-md-6 nomargin">
                        <label for="beneficiario"> Forma de pago </label><br>
                        <select class="selectpicker" id="concepto" onchange='ajaxFirstOnChange()' data-live-search="true" name="concepto" title="Seleccione una forma de pago..." data-width="100%">
                          {% for w in concepto %} 
                          <option> {{ w | safe }} </option>
                           {% endfor %} 
                        </select>
                      </div>
                      <div class="col-sm-12 col-md-6 nomargin">
                        <label> Cuenta </label>
                        <select class="selectpicker" id="concepto2" onchange='ajaxFirstOnChange()' data-live-search="true" name="concepto" title="Seleccione una cuenta..." data-width="100%">
                           {% for w in concepto %} 
                          <option> {{ w | safe }} </option>
                          {% endfor %} 
                        </select>
                      </div>
                    </div>
                  </div>

                  <table id="table" style="table-layout: fixed;" class="table table-striped">
                    <thead>
                      <tr>
                        <th>ID egreso</th>
                        <th>Monto</th>
                        <th># de documento</th>
                        <th>Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td> 32938dh </td>
                        <td> $15434</td>
                        <td> 3494</td>
                        <td>
                          <a class="btn btn-small btn-danger waves-effect" data-toggle="tooltip" data-placement="top" title="Eliminar">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td> 32938dh </td>
                        <td> $15434</td>
                        <td> 3494</td>
                        <td>
                          <a class="btn btn-small btn-danger waves-effect" data-toggle="tooltip" data-placement="top" title="Eliminar">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                  <p class="font-18">Monto total a pagar: <span class="font-bold">$10343.00</span></p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect ">Enviar</button>
                    <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
                      <i class="material-icons">close</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
  -->
