<div class="modal fade" id="modal_editar_egreso" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form class="form-horizontal form-label-left" method="POST" action="{{ url_for('egresos_blueprint.editar_egreso', egreso_id=egreso.id) }}">
        <div class="modal-header">
          <h3 class="modal-title" id="largeModalLabel">Editar Egreso</h3>
        </div>
        <div class="modal-body">
          <div class="row" style="margin-bottom:20px !important">
            {% if egreso.status == 'pendiente' %}
            <div class="col-sm-12 col-md-6">
              <label for="beneficiario"> Beneficiario </label><br />
              <select class="selectpicker" id="beneficiario" name="beneficiario" data-validation="required" data-live-search="true" title="Seleccione una Beneficiario..." data-width="100%" value="{{ egreso.beneficiario_id }}">
                {% for beneficiario in proveedores %}
                <option value="{{ beneficiario.id }}">
                  {{ beneficiario.nombre }}
                </option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            <div class="col-sm-12 col-md-6">
              <label for="empresa"> Empresa </label><br />
              <select class="selectpicker" id="empresa" name="empresa" data-validation="required" data-live-search="true" title="Seleccione una Empresa..." data-width="100%" value="{{ egreso.empresa_id }}">
                {% for empresa in empresas %}
                <option value="{{ empresa.id }}"> {{ empresa.nombre }} </option>
                {% endfor %}
              </select>
            </div>
          </div>
          

          <div class="row" style="margin-bottom:20px !important">
            <div class="col-sm-12 col-md-6 ">
              <label> Fecha de Vencimiento </label>
              <div class='date mydatepicker' data-provide="datepicker">
                <input type='text' class="form-control" value="{{egreso.fecha_vencimiento}}"name="fecha_vencimiento" autocomplete="off" required />
                <span class="input-group-addon" style="display: none">
                  <i class="material-icons mydate">date_range</i>
                </span>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <label> Fecha programada de pago </label>
              <div class='date mydatepicker' data-provide="datepicker">
                <input type='text' class="form-control" value="{{egreso.fecha_programada_pago}}"autocomplete="off" name="fecha_programada_pago" />
                <span class="input-group-addon" style="display: none">
                  <i class="material-icons mydate">date_range</i>
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="margin-bottom:20px !important">
            <div class="col-sm-12 col-md-6">
              <label for="numero_documento"> # de documento </label>
              <input type="text" value="{{ egreso.numero_documento }}" class="form-control" name="numero_documento"/>
            </div>

            <div class="col-sm-12 col-md-6">
                <label for="referencia"> Referencia </label>
                <input type="text" value="{{ egreso.referencia }}" class="form-control" name="referencia"/>
            </div>
          </div>


          <div class="row" style="margin-bottom:20px !important">
            <div class="col-sm-12">
              <label for="arrendadora"> Comentario </label>
              <textarea name="comentario" id="comentario" style="width:100%">{{ egreso.comentario }}</textarea>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Editar Egreso</button>
          <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
            <i class="material-icons">close</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
