<!-- Modal pagos -->
<div class="modal fade" id="modal_recalcular_conciliacion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4 class="modal-title" id="largeModalLabel">Recalcular conciliación </h4>
                </center>
                <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <form class="form-horizontal form-label-left" id="form-rc" method="POST">
                <div class="here-rc"></div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="row">
                            <div class="col-md-12 ">
                                <label for="saldo">Saldo a conciliar</label>
                                <input class="form-control" id="saldo-input" type="text" data-validation="number" data-validation-allowing="float"
                                    data-validation-allowing="float" name="saldo">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label style="margin-top: 7px;" for="comentario">Comentario:</label>
                                <textarea class="form-control" id="comentario-input" style="width:100%" id="comentario"
                                    name="comentario"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-link waves-effect ">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>