<div class="modal fade" id="modal_editar_ingreso" tabindex="-1" role="dialog">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form class="form-horizontal form-label-left" method="POST" action="{{ url_for('ingresos_blueprint.editar_ingreso', ingreso_id=ingreso.id) }}">
        <div class="modal-header">
          <h3 class="modal-title" id="largeModalLabel">Editar Ingreso</h3>
        </div>
        <div class="modal-body">
          <div class="row" style="margin-bottom:20px !important">
            {% if ingreso.status == 'pendiente' %}
            <div class="col-sm-12 col-md-6">
              <label for="cliente"> Cliente </label><br />
              <select class="selectpicker" id="cliente" name="cliente" data-validation="required" data-live-search="true" title="Seleccione una Cliente..." data-width="100%" value="{{ ingreso.cliente_id }}">
                {% for cliente in clientes %}
                <option value="{{ cliente.id }}">
                  {{ cliente.nombre }}
                </option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            <div class="col-sm-12 col-md-6">
              <label for="empresa"> Empresa </label><br />
              <select class="selectpicker" id="empresa" name="empresa" data-validation="required" data-live-search="true" title="Seleccione una Empresa..." data-width="100%" value="{{ ingreso.empresa_id }}">
                {% for empresa in empresas %}
                <option value="{{ empresa.id }}"> {{ empresa.nombre }} </option>
                {% endfor %}
              </select>
            </div>
          </div>
          

          <div class="row" style="margin-bottom:20px !important">
            <div class="col-sm-12 col-md-6 ">
              <label> Fecha de Vencimiento </label>
              <div class='date mydatepicker' data-provide="datepicker">
                <input type='text' class="form-control" value="{{ingreso.fecha_vencimiento}}"name="fecha_vencimiento" autocomplete="off" required />
                <span class="input-group-addon" style="display: none">
                  <i class="material-icons mydate">date_range</i>
                </span>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <label> Fecha programada de pago </label>
              <div class='date mydatepicker' data-provide="datepicker">
                  {% if ingreso.fecha_programada_pago   %}
                <input type='text' class="form-control" value="{{ingreso.fecha_programada_pago}}"autocomplete="off" name="fecha_programada_pago" />
                {% else %} 
                <input type='text' class="form-control"  autocomplete="off" name="fecha_programada_pago" />
                {% endif %} 
                <span class="input-group-addon" style="display: none">
                  <i class="material-icons mydate">date_range</i>
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="margin-bottom:20px !important">
            <div class="col-sm-12 col-md-6">
              <label for="numero_documento"> # de documento </label>
              <input type="text" value="{{ ingreso.numero_documento }}" class="form-control" name="numero_documento"/>
            </div>

            <div class="col-sm-12 col-md-6">
                <label for="referencia"> Referencia </label>
                <input type="text" value="{{ ingreso.referencia }}" class="form-control" name="referencia"/>
            </div>
          </div>


          <div class="row" style="margin-bottom:20px !important">
            <div class="col-sm-12">
              <label for="arrendadora"> Comentario </label>
              <textarea name="comentario" id="comentario" style="width:100%">{{ ingreso.comentario }}</textarea>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Editar Ingreso</button>
          <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
            <i class="material-icons">close</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
