<!-- Modal pagos -->
<div class="modal fade" id="modal_conciliar_movimiento" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Conciliar Pago </h4>
                <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <form class="form-horizontal form-label-left" id="user_inputs" method="POST" action="{{ url_for('egresos_blueprint.conciliar_movimento') }}">
                <div class="modal-body">
                    <div style="margin-bottom:20px;" class="here-conciliar"></div>
                    
                    <div class="input-group ">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 ">
                                <label> Fecha de conciliación </label>
                                <div class='date mydatepicker ' data-provide="datepicker">
                                    <input type='text' class="form-control set-today" autocomplete="off" name="fecha"/>
                                    <span class="input-group-addon">
                                        <i class="material-icons mydate">date_range</i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 ">
                                <label for="referencia">Referencia de conciliacion</label>
                                <input class="form-control" type="text" id="referencia" name="referencia">
                            </div>

                        </div>
                    </div>


                    <div class="input-group ">
                        <div class="row">
                            <div class="col-sm-12  ">
                                <label for="comentario">Comentario</label>
                                <textarea class="form-control full-width" type="text" id="comentarip" name="comentario"></textarea>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-link waves-effect ">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>