
  <!-- Modal pagos -->
  <div class="modal fade" id="modal_cobrar" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <center><h2 class="modal-title" id="largeModalLabel">Ingreso Cuenta por Cobrar </h2></center>
                </div>
                <div class="modal-body">
                  <div class="box">
                  <div class="input-group">
                      <div class="row">
                        <div class="col-sm-12 col-md-6 nomargin">
                          <b><p class="font-18">Orden de Venta / Referencia: </p></b>
                        </div>
                        <div class="col-sm-12 col-md-6 nomargin"> 
                          <input class="form-control" type="text" id="ref" name="Referencía">
                        </div>
                      </div>
                      
                      <br></br>
                      <div class="row">
                        <div class="col-sm-12 col-md-6 nomargin">
                          <b><p class="font-18">Cliente </p></b>
                        </div>
                        <div class="col-sm-12 col-md-6 nomargin"> 
                            <select class="selectpicker" id="categoria" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" name="tipo" title="Seleccione un Cliente..." data-width="100%" >
                              {% for cl in clientes %}
                              <option> {{ cl | safe }} </option>
                              {% endfor %}
                            </select>
                        </div>
                      </div>
                      
                      
                      <br></br>
                      <div class="row">
                        <div class="col-sm-12 col-md-6 nomargin">
                           <b><p class="font-18">Cuenta</p></b>
                        </div>
                        <div class="col-sm-12 col-md-6 nomargin"> 
                            <select class="selectpicker" id="categoria" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" name="tipo" title="Seleccione una Cuenta..." data-width="100%" >
                              {% for c in cuentas %}
                              <option> {{ c | safe }} </option>
                              {% endfor %}
                            </select>
                        </div>
                      </div>
                      
                      <br></br>
                      <div class="row">
                        <div class="col-sm-12 col-md-6 nomargin">
                          <b><p class="font-18">Forma de Pago </p></b>
                        </div>
                        <div class="col-sm-12 col-md-6 nomargin">  
                            <select class="selectpicker" id="categoria" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" name="tipo" title="Seleccione una Forma de Pago..." data-width="100%" >
                              {% for f in forma_pago %}
                              <option> {{ f | safe }} </option>
                              {% endfor %}
                            </select>
                        </div>
                      </div>
                      
                      
                      <br></br>
                      <div class="row">
                        <div class="col-sm-12 col-md-6 nomargin">
                          <b><p class="font-18">Monto </p></b>
                        </div>
                        <div class="col-sm-12 col-md-6 nomargin"> 
                          <input class="form-control" type="text" id="ref" name="Referencía">
                        </div>
                      </div>
                      
                      <br></br>
                      <div class="row">
                      <div class="col-sm-12 col-md-6 nomargin">
                          <b><p class="font-18">Referencia de Pago: </p></b>
                        </div>
                        <div class="col-sm-12 col-md-6 nomargin"> 
                          <input class="form-control" type="text" id="ref" name="Referencía">
                        </div>
                      </div>
                      
                      <br></br>
                      <div class="row">
                        <div class="col-sm-12 col-md-6 nomargin">
                          <b><p class="font-18">Fecha de Pago </p></b>
                        </div>
                        <div class="col-sm-12 col-md-6 nomargin"> 
                            <div class='input-group date mydatepicker' data-provide="datepicker">
                              <input type='text' class="form-control" autocomplete="off" data-width="105%"/>
                              <span class="input-group-addon">
                                <i class="material-icons mydate">date_range</i>
                              </span>
                            </div>
                        </div>
                      </div>
                      
                      
                      <br></br>
                      <div class="row">
                        <div class="col-sm-12 col-md-6 nomargin">
                          <b><p class="font-18">Conciliado</p></b>
                        </div>
                        <div class="col-sm-12 col-md-6 nomargin"> 
                            <div class="switch">
                                <label style="margin-top: 10px"><input id="pagado" type="checkbox"><span class="lever"></span></label>
                            </div>
                        </div>
                      </div>

                      <br></br>
                      <div class="row">
                        <div class="col-sm-12 col-md-6 nomargin">
                          <b><p class="font-18">Conciliado</p></b>
                        </div>
                        
                        <div class="col-sm-12 col-md-1 nomargin"> 
                            <input type="checkbox" id="movimiento" class="filled-in" />
                        </div>
                        
                        <div class="col-sm-12 col-md-5 nomargin"> 
                            <label class="grey-font" for="movimiento"></label>
                            <input disabled placeholder="Referencia" class="form-control" type="text" id="movimiento-input" name="monto">
                        </div>
                      </div>
                     
                      
                      <br></br>
                      
                      <div class="row">
                        <div class="col-sm-12 col-md-12 nomargin">
                        <div class="input-group ">
                          <label for="lname">Comentario</label>
                          <textarea class="form-control" type="text" id="descripcion" name="descripcion" placeholder=""></textarea>
                        </div>
                    </div>
                  </div>
                  

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Marcar Como Recibido</button>
                    <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
                      <i class="material-icons">close</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
 </div>


<script>
    $(function () {
        $('.js-modal-buttons .btn').on('click', function () {
            var color = $(this).data('color');
            $('#mdModal .modal-content').removeAttr('class').addClass('modal-content modal-col-' + color);
            $('#mdModal').modal('show');
        });
    });



</script>