
<!-- Modal pagos -->
<div class="modal fade" id="modal_editar_detalle" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
               
                    <div class="modal-header">
                        <h3 class="modal-title" id="largeModalLabel"> Editar detalle a la cuenta por pagar</h3>
                    </div>
                    <div class="modal-body">
                    <div class="detalle-here"></div>
                   
            </div>
        </div>
    </div>