<!-- Modal pagos -->
<div class="modal fade" id="modal_agregar_concepto" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form class="form-horizontal form-label-left" id="user_inputs" method="POST"
        action="{{ url_for('modales_blueprint.agregar_concepto') }}">
        <div class="modal-header">
          <h3 class="modal-title" id="largeModalLabel"> Agregar Cuenta de Menor</h3>
        </div>
        <div class="modal-body">
          <div class="row" style="margin-bottom:10px !important">
            <div class="col-sm-12 col-md-6">
              <label for="nombre"> Cuenta de Menor </label>
              <input type='text' class="form-control" name="nombre" />
            </div>
            <div class="col-sm-12 col-md-6">
              <label for="tipo">Egreso o Ingreso </label>
              <select class="selectpicker" id="select-tipo" data-live-search="true" name="tipo" title="Seleccione uno.."
                data-width="100%">
                <option value="egreso"> Egreso </option>
                <option value="ingreso"> Ingreso </option>
              </select>
            </div>
          
          <div class="col-sm-12 " id="select-egreso" style="display:none;">
            <label for="categoria">Cuenta de Mayor </label>
            <select class="selectpicker" data-live-search="true" name="categoria" title="Seleccione una Cuenta Mayor..."
              data-width="100%">
              {% for categoria in categorias %}
              {% if categoria.tipo == "egreso" %}
              <option value="{{categoria.id}}"> {{ categoria.nombre }} </option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        
          <div class="row" style="margin-bottom:20px !important">
            <div class="col-sm-12" id="select-ingreso" style="display:none;">
              <label for="categoria">Cuenta de Mayor </label>
              <select class="selectpicker" data-live-search="true" name="categoria2"
                title="Seleccione una Cuenta Mayor..." data-width="100%">
                {% for categoria in categorias %}
                {% if categoria.tipo == "ingreso" %}
                <option value="{{categoria.id}}"> {{ categoria.nombre }} </option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Agregar</button>
          <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
            <i class="material-icons">close</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>