<!-- Modal pagos -->
<div class="modal fade" id="modal_reprogramar_fecha_multiple" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <form class="form-horizontal form-label-left" id="reprogramar_multiple" method="POST" >
      
              <div class="modal-header">
                <h3 class="modal-title" id="largeModalLabel"> Cambio de multiple de fecha</h3>
              </div>
              <div class="modal-body">
                <div class="input-group">
                  <div class="row">
                    <div class="col-sm-12 col-md-9 ">
                      <label> Nueva fecha programada de pago </label>
                      <div class='input-group date mydatepicker' data-provide="datepicker">
                        <input type='text' id="fecha" name="fecha" class="form-control" />
                        <span class="input-group-addon">
                          <i class="material-icons mydate">date_range</i>
                        </span>
                      </div>
                    </div>
      
                  </div>
                </div>
      
                <div class="egreso_id_here"></div>
      
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-link waves-effect ">Enviar</button>
                <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
                  <i class="material-icons">close</i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>