
  
  <div class="modal fade" id="modal_pagar" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="largeModalLabel">Solicitud de documentos a pagar</h4>
          </div>
          <form class="form-horizontal form-label-left" id="mandar_pagar_form"  method="POST" action="{{ url_for('egresos_blueprint.mandar_pagar') }}">         
          <div class="modal-body">
            <div class="here" id="solicitar_pago"></div>
              <div class="input-group">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 nomargin">
                      <label for="cliente"> Forma de pago </label><br>
                      <select class="selectpicker" id="forma_pago" data-live-search="true" name="forma_pago_id" title="Seleccione una Forma de Pago..." data-width="100%" data-validation="required">
                         {% for forma in formas_pago %} 
                         <option value="{{forma.id}}"> {{ forma }} </option>
                        {% endfor %} 
                      </select>
                    </div>
                    <div class="col-sm-12 col-md-6 nomargin">
                        <label for="beneficiario"> Cuenta </label><br>
                        <select class="selectpicker" id="cuenta" data-live-search="true" name="cuenta_id" title="Seleccione una Cuenta.." data-width="100%" data-validation="required">
                           {% for cuenta in cuentas %} 
                           <option value="{{cuenta.id}}"> {{ cuenta }} </option>
                          {% endfor %} 
                        </select>
                    </div>
                  </div>
                </div>


                <div class="input-group">
                    <div class="row" style="margin-top:10px;">
                      <div class="col-sm-12 col-md-6 ">
                        <input type="checkbox" id="parcial" name="parcial" class="filled-in" />
                        <label class="grey-font" for="parcial">Pago parcial</label>
                      </div>
                      <div class="col-sm-12 col-md-6 ">
                        <input placeholder="Monto parcial" class="form-control" style="display:none" type="text" id="monto_parcial" name="monto_parcial" data-validation="number" data-validation-allowing="float">
                      </div>
                    </div>
                  </div>
        

                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-link waves-effect ">Enviar</button>
                <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
                  <i class="material-icons">close</i>
                </button>
            </div>
          </form>
          </div>
        </div>
      </div>
  
 