{% extends "base_site.html" %}

{% block content %}

<div class="block-header">
  <h2>{{title}}</h2>
</div>
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Porfavor registre el gasto llenando el siguiente formulario</h2>
      </div>
        <div class="body">
          <div class="row clearfix">
            <form class="form-horizontal form-label-left" id="user_inputs" method="POST" action="{{ url_for('ingresos_blueprint.captura_ingresos') }}">
                <div class="col-sm-10 text-left">
                  <div class="input-group" style="width:80%;">
                    <label for="ref">Referencía de ingreso</label>
                    <input class="form-control" type="text" id="ref" name="Referencía" >
                  </div>

                  <div class="input-group" >
                      <label for="forma_pago"> Forma de Pago </label><br>
                      <select class="selectpicker" id="forma_pago" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" name="forma de pago" title="Seleccione una Forma de Pago..." data-width="80%" >
                        {% for w in formaPago %}
                          <option> {{ w | safe }}  </option>
                        {% endfor %}
                      </select>
                       <button class="btn btn-default" type="button">Agregar Nuevo</button>
                  </div>

                    <div class="input-group" >
                      <label for="beneficiario"> Beneficiario </label><br>
                       <select class="selectpicker" id="beneficiario" name="beneficiario" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" title="Seleccione un Beneficiario..." data-width="80%" >
                          {% for w in vendor %}
                            <option> {{ w | safe }}  </option>
                          {% endfor %}
                        </select>
                        <button class="btn btn-default" type="button">Agregar Nuevo</button>
                    </div>

                    <div class="input-group" >
                        <label for="proveedor">Proveedor </label><br>
                        <select class="selectpicker" id="proveedor" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" name="sub_categoria" title="Seleccione una Sub Categoria de Gasto..." data-width="80%" >
                          {% for w in proveedor %}
                            <option> {{ w | safe }}  </option>
                          {% endfor %}
                        </select>
                       <button class="btn btn-default" type="button">Agregar Nuevo</button>
                    </div>


                    <div class="input-group" >
                        <label for="categoria"> Categoria </label><br>
                        <select class="selectpicker" id="categoria" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" name="categoria" title="Seleccione una Categoria de Gasto..." data-width="80%" >
                          {% for w in categoria %}
                            <option> {{ w | safe }}  </option>
                          {% endfor %}
                        </select>
                        <button class="btn btn-default" type="button">Agregar Nuevo</button>
                    </div>

                    <div class="input-group" >
                        <label for="concepto"> Concepto </label><br>
                        <select class="selectpicker" multiple id="concepto" onchange='ajaxFirstOnChange()' data-live-search="true" name="concepto" title="Seleccione un Concepto..." data-width="80%" >
                          {% for w in concepto %}
                            <option> {{ w | safe }}  </option>
                          {% endfor %}
                        </select>
                        <button class="btn btn-default" type="button">Agregar Nuevo</button>
                    </div>

                    <div class="input-group" style="width:50%">
                      <label for="fname">Monto</label>
                      <input class="form-control" type="number" id="monto" name="monto" >
                    </div>

                    <div class="input-group " style="width:90%; ">
                      <label for="lname">Descripción</label>
                      <textarea class="form-control"  type="text" id="descripcion" name="descripcion" placeholder="" ></textarea>
                    </div>


                    <div class="input-group" >
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <label > Fecha de Vencimiento </label>
                           <div class='input-group date mydatepicker' data-provide="datepicker">
                               <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                  <i class="material-icons mydate">date_range</i>
                                </span>
                            </div>
                        </div>
                          <!-- <div class="col-sm-12 col-md-6">
                             <label > Fecha de Pago </label>
                             <div class='input-group date mydatepicker'  data-provide="datepicker">
                                 <input type='text' class="form-control" name="fecha de vencimiento" />
                                  <span class="input-group-addon">
                                    <i class="material-icons mydate">date_range</i>
                                  </span>
                              </div>
                          </div> -->
                      </div>
                    </div>


                    <div class="input-group col-sm-6" >
                      <button class="btn btn-primary" type="submit">Registrar ingreso</button>
                    </div>
              </div>
           </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
     $('.select').selectpicker();
     $('.mydatepicker').datepicker({
       format: "dd/mm/yyyy",
       autoclose: true
     });
    autosize($('textarea'));
    //  function ajaxFirstOnChange() {
    //   var x = document.getElementById("provedor").value;
    //   document.getElementById("demo").innerHTML = "You selected: " + x;
    // };
  </script>
{% endblock javascripts %}
