{% extends "base_site.html" %}

{% block content %}

<div class="block-header">
</div>
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Porfavor registre el ingreso llenando el siguiente formulario</h2>
      </div>
      <div class="body">
        <div class="row">
          <form class="form-horizontal form-label-left" id="user_inputs" method="POST" action="{{ url_for('ingresos_blueprint.captura_ingresos') }}">
            <div class="col-sm-12 col-md-12">
                <div class="input-group">
                    <label for="tipo_ingreso"> Tipo de Ingreso </label><br>
                  <select class="selectpicker" id="tipo_ingreso" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" name="tipo_ingreso" title="Seleccione un tipo de ingreso..." data-width="50%">
                      {% for w in tipo_ingreso %}
                      <option> {{ w | safe }} </option>
                      {% endfor %}
                    </select>
                  </div>
          
            <br></br>
              <div class="input-group">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                <label for="cliente"> Cliente </label><br>
                <select class="selectpicker" id="cliente" name="cliente" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" title="Seleccione un Cliente..." data-width="50%">
                  {% for c in clientes %}
                  <option> {{ c | safe }} </option>
                  {% endfor %}
                </select>
                <a href="/administracion/clientes" >
                    <button class="btn btn-default" style="margin-left: 50px;" type="button">Agregar Nuevo</button>
                </a>
              </div>
            </div>

              <div class="input-group nomargin">
                <div class="row">
                  <div class="col-sm-12 col-md-6 nomargin">
                    <label> Fecha de Vencimiento </label>
                    <div class='input-group date mydatepicker' data-provide="datepicker">
                      <input type='text' class="form-control" name="fecha_vencimiento"/>
                      <span class="input-group-addon">
                        <i class="material-icons mydate">date_range</i>
                      </span>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6">
                    <label> Fecha programada de pago </label>
                    <div class='input-group date mydatepicker' data-provide="datepicker">
                      <input type='text' class="form-control" name="fecha_programada_pago" />
                      <span class="input-group-addon">
                        <i class="material-icons mydate">date_range</i>
                      </span>
                    </div>
                  </div </div> </div> <div class="input-group">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 nomargin">
                      <label for="numero_documento"># de documento</label>
                      <input class="form-control" type="text" id="numero_documento" name="numero_documento">
                    </div>
                    <div class="col-sm-12 col-md-6 nomargin">
                      <label for="ref">Monto total</label>
                      <input disabled class="form-control" type="number" id="monto_total" name="monto_total">
                    </div>
                  </div>
                </div>


            <br></br>
                <div class="caracteristicas">

                  <div style="padding:10px;" class="header">
                    <h2>Detalles de ingreso</h2>
                    <button id="delete-row" type="button" class="add-btn btn btn-danger btn-circle waves-effect waves-circle waves-float">
                      <i class="material-icons">remove</i>
                    </button>

                    <button id="add-row" type="button" class="add-btn btn btn-info btn-circle waves-effect waves-circle waves-float">
                      <i class="material-icons">add</i>
                    </button>
                  </div>
                  <div style="padding:10px;" class="body">
                    <table id="table" style="table-layout: fixed;" class="table table-striped">
                      <thead>
                        <tr>
                          <th>Categoría</th>
                          <th>Concepto</th>
                          <th>Centro Negocio</th>
                          <th>Monto</th>
                          <th># de Control</th>
                          <th>Descripcíon</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <select class="selectpicker" id="categoria" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" name="categoria" title="Seleccione una Categoria de Gasto..." data-width="80%">
                              {% for w in categorias %}
                              <option> {{ w | safe }} </option>
                              {% endfor %}
                            </select>
                          </td>

                          <td>
                            <select class="selectpicker" id="concepto" onchange='ajaxFirstOnChange()' data-live-search="true" name="concepto" title="Seleccione un Concepto..." data-width="80%">
                              {% for w in conceptos %}
                              <option> {{ w | safe }} </option>
                              {% endfor %}
                            </select>
                          </td>
                          
                          <td>
                            <select class="selectpicker" id="centro_negocios" onchange='ajaxFirstOnChange()' data-live-search="true" name="centro_negocios" title="Seleccione un Centro de Negocio..." data-width="80%">
                              {% for w in centros_negocios %}
                              <option> {{ w | safe }} </option>
                              {% endfor %}
                            </select>
                          </td>

                          <td>
                            <input class="form-control" type="number" id="monto" name="monto">
                          </td>

                          <td>
                              <input class="form-control" type="text" id="numero_control" name="numero_control">
                            </td>
  

                          <td style="width: 30%;"><input type="text" id="descripcion" name="descripcion"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="input-group ">
                    <label for="lname">Comentario</label>
                    <textarea class="form-control" type="text" id="comentario" name="comentario" placeholder=""></textarea>
                  </div>

                  <div class="switch">
                    <h2 class="subtitle">Recibido</h2>
                    <label style="margin-top: 10px"><input id="pagado" type="checkbox"><span class="lever"></span></label>
                  </div>


                  <div id="pagado-form">
                    <hr>
                    <div class="input-group">
                      <div class="row">
                        <div class="col-sm-12 col-md-6 nomargin">
                          <label for="beneficiario"> Cuenta de banco </label><br>
                          <select class="selectpicker" multiple id="concepto" onchange='ajaxFirstOnChange()' data-live-search="true" name="concepto" title="Seleccione un Concepto..." data-width="100%">
                            {% for w in cuentas_banco %}
                            <option> {{ w | safe }} </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-sm-12 col-md-6 nomargin">
                          <label> Fecha de pago </label>
                          <div class='input-group date mydatepicker' data-provide="datepicker">
                            <input type='text' class="form-control" name="fecha de vencimiento" />
                            <span class="input-group-addon">
                              <i class="material-icons mydate">date_range</i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="input-group">
                      <div class="row">
                        <div class="col-sm-12 col-md-6 nomargin">
                          <label for="beneficiario"> Forma de pago </label><br>
                          <select class="selectpicker" multiple id="forma_pago" onchange='ajaxFirstOnChange()' data-live-search="true" name="concepto" title="Seleccione un Concepto..." data-width="100%">
                            {% for w in formas_pago %}
                            <option> {{ w | safe }} </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-sm-12 col-md-6 nomargin">
                          <label> Referencia de pago </label>
                          <input class="form-control" type="text" id="referencia_pago" name="referencia_pago">
                        </div>
                      </div>
                    </div>

                    <div class="input-group">
                      <div class="row">
                        <div class="col-sm-12 col-md-6 nomargin">
                          <label style="margin-top: 7px;" for="fname">Monto</label>
                          <input class="form-control" type="number" id="monto_pagado" name="monto_pagado">
                        </div>
                        <div class="col-sm-12 col-md-6 nomargin">
                          <input type="checkbox" id="conciliado_check" name="conciliado_check" class="filled-in"  />
                          <label class="grey-font" for="conciliado_check">Movimiento conciliado</label>
                          <input disabled placeholder="Referencia" class="form-control" type="text" id="referencia_conciliacion"
                            name="referencia_conciliacion"> </div>
                      </div>
                    </div>

                    <div class="input-group ">
                      <label for="comentario_pago">Comentario del Pago</label>
                      <textarea class="form-control" type="text" id="comentario_pago" name="comentario_pago"></textarea>
                    </div>
                  </div>

                  <div class="input-group">
                    <button class="btn btn-primary" style="float: right;">Registrar Ingreso
                      </button 
                    </div> 
                    </form> 
                    </div> 
                    </div> 
                    </div> 
                    </div> 
                    </div> 
                    {% endblock content %} 
                    {% block javascripts %} 
                    {{ super()}} 
                    <script>
                    $(document).ready(function () {

                    $("#add-row").click(function () {
                    var $tableBody = $('#table').find("tbody"),
                    $trLast = $tableBody.find("tr:last"),
                    $trNew = $trLast.clone();
                    // Find by attribute 'id'
                    // $trNew.find('[id]').each(function () {
                    // var num = this.id.replace(/\D/g, '');
                    // if (!num) {
                    // num = 0;
                    // }
                    // // Remove numbers by first regexp
                    // this.id = this.id.replace(/\d/g, '')
                    // // increment number
                    // + (1 + parseInt(num, 10));
                    // });

                    $trLast.after($trNew);
                    });

                    $("#delete-row").click(function () {
                    if($('#table tr:last').index() != 0)
                    $('#table tr:last').remove();
                    });
                    });

                    $("#pagado").change(function() {
                    if(this.checked) {
                    $("#pagado-form").fadeIn();
                    } else{
                    $("#pagado-form").fadeOut();
                    }
                    });



                    $("#conciliado_check").change(function () {
                      if (this.checked) {
                        $("#referencia_conciliacion").prop('disabled', false);
                      } else {
                        $("#referencia_conciliacion").prop('disabled', true);
                      }
                    });


                    $('.select').selectpicker();
                    $('.mydatepicker').datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true
                    });
                    autosize($('textarea'));
                    // function ajaxFirstOnChange() {
                    // var x = document.getElementById("provedor").value;
                    // document.getElementById("demo").innerHTML = "You selected: " + x;
                    // };
                    </script>
                    {% endblock javascripts %}
