{% extends "base_site.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">

    <!-- INFO CARD -->
    <div class="card">
      <div class="header bg-black">
        <h2 class="font-24">Detalle de Ingreso: {{ingreso.id}}</h2>

        {% if ingreso.pagos_ingresos|length > 0 %}
        <div class="select-btn-group">
            <span class="btn bg-red cancel-ingreso" data-type="confirm"
                data-url="{{ url_for('ingresos_blueprint.cancelar_ingreso', ingreso_id=ingreso.id) }}">Cancelar
                Ingresos</span>
        </div>
        {% endif %}
        {% if ingreso.pagos_ingresos|length == 0 %}
        <div class="select-btn-group">
            <span id="cancelar-pago" class="btn bg-red delete-ingreso" data-type="confirm"
                data-url="{{ url_for('ingresos_blueprint.borrar_ingreso', ingreso_id=ingreso.id) }}">Borrar
                Ingreso</span>
        </div>
        {% endif %}

        </div>


      <div class="body">
        <div class="row mycontainer">
          <div class="col-sm-12 col-md-8">
            <b>
              <p class="font-18">Cliente: <span class="font-bold">
                      <a class="btn btn-xs btn-info waves-effect"
                          href='/administracion/perfil_de_cliente/{{ingreso.cliente.id}}'
                          data-toggle="tooltip" data-placement="top" title="Ver Cliente">
                          {{ingreso.cliente}}</a></span> </p>
            </b>
            <p class="font-18">Id: <span class="font-bold">{{ingreso.id}}</span></p>
            <p class="font-18"># de Documento: <span class="font-bold">{{ingreso.numero_documento}}</span></p>
            <p class="font-18">Fecha de Vencimento: <span class="font-bold">{{ingreso.fecha_vencimiento}}</span></p>
            <p class="font-18">Fecha programada de pago: <span class="font-bold">{{ingreso.fecha_programada_pago}}</span></p>
            <p class="font-18">Empresa: <span class="font-bold">{{ingreso.empresa}}</span></p>
            <p class="font-18">Referencia / Orden de Venta: <span class="font-bold">{{ingreso.referencia}}</span></p>
          </div>
          <div class="col-sm-12 col-md-4 align-left">
            <b>
              <p class="font-18">Status: 
                  {% if ingreso.status == 'pendiente'%}
                  <span class="badge bg-pendiente">Pendiente</span>
                  {% endif %}
                  {% if ingreso.status == 'solicitado'%}
                  <span class="badge bg-solicitado">Solicitado</span>
                  {% endif %}
                  {% if ingreso.status == 'parcial'%}
                  <span class="badge bg-parcial">Parcial</span>
                  {% endif %}
                  {% if ingreso.status == 'conciliado'%}
                  <span class="badge bg-liquidado">Conciliado</span>
                  {% endif %}
                  {% if ingreso.status == 'cancelado'%}
                  <span class="badge bg-cancelado">Cancelado</span>
                  {% endif %}
                  {% if ingreso.status == 'por_conciliar'%}
                  <span class="badge bg-por-conciliar">Por conciliar</span>
                  {% endif %}
              </p>
            </b>
            <b>
              <p class="font-18">Monto total: <span class="font-bold">{{"${:,.2f}".format(ingreso.monto_total)}}</span></p>
            </b>
            <p class="font-18">Monto Cobrado: <span class="font-bold">{{"${:,.2f}".format(ingreso.monto_pagado)}}</span></p>
            <p class="font-18">Monto Pendiente: <span class="font-bold">{{"${:,.2f}".format(ingreso.monto_total - ingreso.monto_pagado)}}</span></p>
            <p class="font-18">Monto por Conciliar: <span class="font-bold">{{"${:,.2f}".format(ingreso.monto_por_conciliar)}}</span></p>


          </div>
        </div>
        <div class="row mycontainer">
          <div class="col-sm-12">
            <div class="border-box">
              <p class="font-18 font-bold">Comentarios</p>
              <p class="font-18">{{ingreso.comentario}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Pagos de Ingresos por Conciliar -->

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header bg-black">
        <h2> Pagos Pendientes</h2>
        <div class="select-btn-group">
          <span id="generar-pago" class="btn js-modal-buttons bg-green open-cobrar" data-toggle="modal" 
                data-url="{{ url_for('ingresos_blueprint.get_data_pagar', ingreso_id=ingreso.id) }}"> 
            Generar Pago</span>
        </div>
  
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Forma</th>
                    <th>Cuenta</th>
                    <th>Descripcion</th>
                    <th>Monto</th>
                    <th>Status</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Forma</th>
                    <th>Cuenta</th>
                    <th>Descripcion</th>
                    <th>Monto</th>
                    <th>Status</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>

            <tbody>
              {% for pago in ingreso.pagos_ingresos %}
              {% if (pago.status != 'conciliado' and pago.status != 'cancelado')  %}
              <tr>
                <td>{{pago.id}}</td>
                <td>{{pago.forma_pago}}</td>
                <td>{{pago.cuenta.nombre}}</td>
                <td>{{pago.descripcion}}</td>
                <td>{{"${:,.2f}".format(pago.monto_total)}}</td>
                <td> {% if pago.status == 'conciliado' %}
                  <span class="badge bg-liquidado">Liquidado</span>
                  {% endif %}
                  {% if pago.status == 'por_conciliar' %}
                  <span class="badge bg-por-conciliar">Por conciliar</span>
                  {% endif %}
                  {% if pago.status == 'cancelado' %}
                  <span class="badge bg-cancelado">Cancelado</span>
                  {% endif %}
                </td>
                <td>
                  <a class="btn btn-xs btn-info waves-effect" href='/ingresos/perfil_pago_ingreso/{{pago.id}}' data-toggle="tooltip"
                    data-placement="top" title="Ver detalle">
                    <i class="material-icons">visibility</i>
                  </a>
                  <a class="btn btn-xs bg-deep-purple waves-effect open-conciliar" data-url="{{ url_for('ingresos_blueprint.get_data_conciliar_pago_ingreso', pago_id = pago.id) }}">
                  <i data-toggle="tooltip" data-placement="top" title="Conciliar Movimiento" class="material-icons">assignment_turned_in</i>
                  </a>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
   
    
 
    

    <!-- Ingresos Completados TABLE -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header bg-black">
            <h2>
              Pagos Completados
            </h2>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha de pago</th>
                        <th>Forma</th>
                        <th>Cuenta</th>
                        <th>Descripcion</th>
                        <th>Monto Venta</th>
                        <th>Status</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Fecha de pago</th>
                        <th>Forma</th>
                        <th>Cuenta</th>
                        <th>Descripcion</th>
                        <th>Monto Venta</th>
                        <th>Status</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
                    
                    
                <tbody>
                  {% for pago in ingreso.pagos_ingresos %}
                  {% if pago.status == 'conciliado' or pago.status == 'cancelado' %}
                  <tr>

                    <td>{{pago.id}}</td>
                    <td>{{pago.fecha_pago}}</td>
                    <td>{{pago.forma_pago}}</td>
                    <td>{{pago.cuenta.nombre}}</td>
                    <td>{{pago.descripcion}}</td>
                    <td>{{"${:,.2f}".format(pago.monto_total)}}</td>
                    <td> {% if pago.status == 'conciliado' %}
                      <span class="badge bg-liquidado">Liquidado</span>
                      {% endif %}  
                      {% if pago.status == 'cancelado' %}
                      <span class="badge bg-cancelado">Cancelado</span>
                      {% endif %}
                    </td>
                    <td>
                      <a class="btn btn-xs btn-info waves-effect" href='/ingresos/perfil_pago_ingreso/{{pago.id}}' data-toggle="tooltip"
                        data-placement="top" title="Ver detalle">
                        <i class="material-icons">visibility</i>
                      </a>
                      {% if pago.status == 'por_conciliar' %}
                      <a class="btn btn-xs bg-deep-purple waves-effect open-conciliar" data-url="{{ url_for('ingresos_blueprint.get_data_conciliar', pago_id=pago.id) }}">
                        <i data-toggle="tooltip" data-placement="top" title="Mandar a Cobrar" class="material-icons">assignment_turned_in</i>
                      </a>
                      {% endif %}
                      </a>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
      
    <!-- DETALLES TABLE -->

    <div class="card">
      <div class="header bg-black">
        <h2>Detalles</h2>
        <div class="select-btn-group">
          <span id="open-agregar-detalle" class="btn bg-green" data-type="confirm" data-toggle="modal" data-target="#modal_agregar_detalle_ingresos">Agregar
            detalle</span>
        </div>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Centro de Negocios</th>
                <th>Cuenta de Mayor</th>
                <th>Cuenta de Menor</th>
                <th>Monto</th>
                <th>Descripcíon</th>
                <th># control</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Cliente</th>
                <th>Centro de Negocios</th>
                <th>Cuenta de Mayor</th>
                <th>Cuenta de Menor</th>
                <th>Monto</th>
                <th>Descripcíon</th>
                <th># control</th>
                <th>Editar</th>
              </tr>
            </tfoot>
            <tbody>
              {% for detalle in ingreso.detalles %}
              <tr>
                <td>{{detalle.cliente}}</td>
                <td>{{detalle.centro_negocios}}</td>
                <td>{{detalle.categoria}}</td>
                <td>{{detalle.concepto}}</td>
                <td>{{"${:,.2f}".format(detalle.monto)}}</td>
                <td>{{detalle.descripcion}}</td>
                <td>{{detalle.numero_control}}</td>
                <th>
                  <a class="btn btn-xs btn-info waves-effect editar-detalle"  
                    data-url="{{ url_for('ingresos_blueprint.get_data_editar_detalle', detalle_id=detalle.id) }}">
                    <i  data-toggle="tooltip"    data-placement="top" title="Editar" class="material-icons">edit</i>
                  </a>

                </th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% include "modal_conciliar_movimiento_ingreso.html" %}
  {% include "modal_reprogramar_fecha.html" %}
  {% include "modal_conciliar_ingreso.html" %}
  {% include "modal_reprogramar_fecha_multiple.html" %}
  {% include "modal_cobrar_cuentas_por_cobrar.html" %}
  {% include "modal_pagar_multiple.html" %}
  {% include "modal_agregar_detalle_ingresos.html" %}
  {% include "modal_editar_detalle_ingreso.html" %}
  {% include "modal_test.html" %}
  
  {% endblock content %}

  {% block javascripts %}
  {{ super() }}


    <!-- Jquery DataTable Plugin Js -->
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/sweetalert/sweetalert.min.js') }}"></script>

  <script>

    //solcitar pagar un ingreso
    $(".open-cobrar").on("click", function () {
      $.ajax({
          url: $(this).attr("data-url"),
          success: function (data) { 
            const html =
              `<div class="row mar-b-10" >
                        <div class="col-sm-12 col-md-6 ">
                          <p class="font-18">Cliente:  <span class="font-bold">${data.cliente}</span></p>
                        </div>
                        <div class="col-sm-12 col-md-6 ">
                          <p class="font-18"># de documento: <span class="font-bold">${data.numero_documento}</span></p>
                        </div>
                      </div>
                      <div class="row mar-b-10">
                        <div class="col-sm-12 col-md-6 ">
                          <p class="font-18">Monto pendiente:  <span class="font-bold">$ ${data.monto_total - data.monto_pagado - data.monto_por_conciliar}</span></p>
                        </div>
                      </div>
                      <input type="hidden" id="ingreso_id" name="ingreso_id" value="${data.ingreso_id}">
                      <hr>`
            let element = document.querySelector(".detalle-here");
            element.innerHTML = "";
            element.insertAdjacentHTML('beforeend', html);
            $('#modal_cobrar_cuentas_por_cobrar').modal('show');
          }
        });
      });




    //Modal Conciliar
    $(".open-conciliar").on("click", function () {
        $.ajax({
            url: $(this).attr("data-url"),
            success: function (data) {
                const html =
                    `<div class="row" style="margin-bottom:20px;">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cliente: <span class="font-bold">${data.cliente}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Monto a conciliar: <span class="font-bold">${money.format(data.monto_total)}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cuenta de banco: <span class="font-bold">${data.cuenta}</span></p>
                            </div>
                        </div>
                <input type="hidden" id="pago_id" name="pago_id" value="${data.pago_id}">
                <hr>`
                let element = document.querySelector(".here");
                element.innerHTML = "";
                element.insertAdjacentHTML('beforeend', html);
                $('.selectpicker').selectpicker('refresh');
                $('#modal_conciliar_movimiento_ingreso').modal('show');
            }
        });
      });

    //Modal Conciliar multiple
    $("#open-conciliar-multiple").on("click", function () {
        let pagos = []
        // Iterate over all checkboxes in the table
        $('.conciliar-table').each(function () {

            // If checkbox is checked
            if (this.checked) {
                pagos.push($(this).val())
            }
        })

        $.get({
            url: '/ingresos/get_data_conciliar_multiple',
            data: {
                pagos: pagos
            },
            success: function (data) {
                let element = document.querySelector(".here");
                element.innerHTML = "";
                data.forEach( pago => {
                    const html =
                    `<div class="row" style="margin-bottom:20px;">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cliente: <span class="font-bold">${pago.cliente}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Monto a conciliar: <span class="font-bold">${money.format(pago.monto_total)}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cuenta de banco: <span class="font-bold">${pago.cuenta}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Referencia de pago : <span class="font-bold">${pago.referencia}</span></p>
                            </div>
                        </div>
                <input type="hidden" id="pago_id" name="pago_id" value="${pago.pago_id}">
                <hr>`
                element.insertAdjacentHTML('beforeend', html);
                $('#modal_conciliar_movimiento').modal('show');
 
                });
                
            }
        });
    });


                
    //cancelar pago con sweer alert
    $('.cancel-ingreso').on('click', function () {
        var element = this;
        swal({
          title: "Estas seguro?",
          text: "Se cancelara el ingreso, en caso de tener pagos asiciados, debera de realizar los reembolsos correspondientes!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Si, Cancelar!",
          closeOnConfirm: false
        }, function () {
          console.log(element)
          $.ajax({
            url: $(element).attr("data-url"),
            success: function (data) {
              if (data) {
                swal("Cancelado!", "El ingreso ha sido cancelado.", "success");
                setTimeout(function () {
                  location.reload();
                }, 2000);
              }
            }
          })

        });
      });

    //Borrar egreso con sweet alert
    $('.delete-ingreso').on('click', function () {
        var element = this;
        swal({
            title: "Estas seguro?",
            text: "Se borrara el registro de esta cuenta por cobrar!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si, borrar!",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: $(element).attr("data-url"),
                success: function (data) {
                    if (data) {
                        swal("Borrado!", "El ingreso ha sido eliminado.", "success");
                        setTimeout(function () {
                            location.replace('/ingresos/cuentas_por_cobrar');
                        }, 2000);
                    }
                }
            })

        });
    });
 

    //Jquery table
    var pagar_table = $('.pagar_table').DataTable({
      dom: 'Bfrtip',
      responsive: true,
      "order": [
        [1, 'desc'],
        [2, 'asc']
      ],
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
      ],
      "columnDefs": [{
        "targets": 0,
        "orderable": false
      }]
    });


          
    //monto parcial checkbox
    $("#parcial").change(function () {
      if (this.checked) {
        $("#monto_parcial").fadeIn();
      } else {
        $("#monto_parcial").fadeOut();
      }
    });                


    // "Select all" control
    $('.select-all').on('click', function () {
      // Check/uncheck all checkboxes in the table
      var rows = table.rows({
        'search': 'applied'
      }).nodes();
      $('input[type="checkbox"]', rows).prop('checked', this.checked);
    });
                
            
    //Modal Editar Detalles de Ingreso                 
    $('.editar-detalle').on('click', function () {
        console.log('in')
        $.ajax({
            url: $(this).attr("data-url"),
            success: function (data) {
                const html =
                    `
            <form class="form-horizontal form-label-left" method="POST" action="{{ url_for('ingresos_blueprint.editar_detalle', ingreso_id=ingreso.id) }}">
                <input type="hidden" id="id" name="id" value="${data.id}">  
            <div class="row" style="margin-bottom:20px !important">
                            <div class="col-sm-12 col-md-6">
                                    <label for="beneficiario"> Centro de negocios </label><br>
                                    <select class="selectpicker"  data-live-search="true" 
                                    name="centro_negocios" title="Seleccione un Centro de Negocios..." data-width="100%">
                                    {% for centro in centros_negocio %}
                                    <option value="{{centro.id}}"> {{ centro.nombre }} </option>
                                    {% endfor %}
                                  </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                    <label for="cliente"> Cliente </label><br>
                                    <select class="selectpicker"  data-live-search="true" 
                                    name="cliente" title="Seleccione un Cliente..."
                                     data-width="100%">
                                     {% for cliente in clientes %}
                                     <option value="{{cliente.id}}"> {{cliente.nombre }} </option>
                                     {% endfor %}
                                   </select>
                                
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:20px !important">
                            <div class="col-sm-12 col-md-6">
                                <label for="categoria"> Cuenta de Mayor </label>
                                <select class="selectpicker" data-live-search="true" 
                                  name="categoria" title="Seleccione una Cuenta de Mayor..."
                                  data-width="100%">
                                  {% for categoria in categorias %}
                                  <option value="{{categoria.id}}"> {{ categoria.nombre }} </option>
                                  {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="concepto"> Cuenta de Menor</label>
                                <select class="selectpicker"  
                                data-live-search="true" name="concepto" title="Seleccione una Cuenta de Menor..." data-width="100%">
                                {% for concepto in conceptos %}
                                <option value="{{concepto.id}}"> {{ concepto.nombre }} </option>
                                {% endfor %}
                              </select>
                            </div>
                        </div>
                    
                        <div class="row" style="margin-bottom:20px !important">
                            <div class="col-sm-12 col-md-6">
                                <label for="monto">Monto</label>
                                <input type='number' class="form-control" name="montoh" value="${data.monto}"  disabled />
                                <input type='hidden' class="form-control" name="monto" value="${data.monto}"  />
                            </div>
                            <div class="col-sm-12 col-md-6">
                                    <label for="numero_control"># de control</label>
                                    <input type='text' class="form-control" name="numero_control" value="${data.numero_control}" />
                                </div>
                        </div>
    
                        <div class="row" style="margin-bottom:20px !important">
                                <div class="col-sm-12">
                                    <label for="arrendadora"> Detallea </label>
                                    <textarea name="comentario" id="comentario" style="width:100%" > ${data.descripcion}</textarea>
                                 </div>
                        </div>
                         </div>
        
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Editar Detalle</button>
                        <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                </form>`
                let element = document.querySelector(".detalle-here2");
                element.innerHTML = "";
                element.insertAdjacentHTML('beforeend', html);
                $('.selectpicker').selectpicker('refresh');
                $('#modal_editar_detalle_ingreso').modal('show');
            }
        });
    });   
    
    // Conciliado check for modal generar pago          
    $("#conciliado_check").change(function () {
        if (this.checked) {
          $("#referencia_conciliacion").prop('disabled', false);
        } else {
          $("#referencia_conciliacion").prop('disabled', true);
        }
      });

  </script>
  {% endblock javascripts %}