{% extends "base_site.html" %}

{% block title %} Page 403 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block sidebar %}{% endblock sidebar %}

{% block top_navigation %}{% endblock top_navigation %}

{% block content %}
<div class="four-zero-four-container center-page">
      <div class="error-code">403</div>
      <div class="error-message">Acceso denegado</div>
      <div class="button-place">
          <a href="/login" class="btn btn-default btn-lg waves-effect">Login</a>
      </div>
  </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}
