{% extends "base_site.html" %}

{% block title %} Page 500 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block sidebar %}{% endblock sidebar %}

{% block top_navigation %}{% endblock top_navigation %}

{% block content %}
<div class="four-zero-four-container">
      <div class="error-code">500</div>
      <div class="error-message">Problemas tecnicos</div>
  </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}
