<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/ico" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock meta %}

      <title>Rudos Finanzas | {% block title %}{% endblock %}</title>

      {% block stylesheets %}
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

        <!-- Bootstrap Core Css -->
        <link href="{{ url_for('static', filename='build/css/bootstrap.css') }}" rel="stylesheet">
        <!-- Waves Effect Css -->
        <link href="{{ url_for('static', filename='build/css/waves.css') }}" rel="stylesheet">
        <!-- Animation Css -->
        <link href="{{ url_for('static', filename='build/css/animate.css') }}" rel="stylesheet">
        <!-- Morris Chart Css-->
        <link href="{{ url_for('static', filename='build/css/morris.css') }}" rel="stylesheet">
        <!-- Main Css-->
        <link href="{{ url_for('static', filename='build/css/style.css') }}" rel="stylesheet">
        <!-- Font Awesome-->
        <link href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- Theme picker-->
        <link href="{{ url_for('static', filename='build/css/all-themes.css') }}" rel="stylesheet">
        <!-- select -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
        <!-- datepicker -->
        <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
      {% endblock stylesheets %}
      <!-- Custom Theme Style -->
      <link href="{{ url_for('static', filename='build/css/my.css') }}" rel="stylesheet">
    {% endblock head %}
  </head>

  <body class="theme-red">

    <!-- #END# Page Loader -->
    {% block body %}
      <div class="container-fluid">

          {% block sidebar %}
            <div class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
              {% include "site_template/sidebar.html" %}
            </div>
          {% endblock sidebar %}

          {% block top_navigation %}
            <div class="top_nav">
              {% include "site_template/top_navigation.html" %}
            </div>
          {% endblock top_navigation %}
          <!-- Page Loader -->
          <div class="page-loader-wrapper">
              <div class="loader">
                  <div class="preloader">
                      <div class="spinner-layer pl-red">
                          <div class="circle-clipper left">
                              <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                              <div class="circle"></div>
                          </div>
                      </div>
                  </div>
                  <p>Please wait...</p>
              </div>
          </div>
          <section class="content">
             <div class="container-fluid">
              {% block content %}
                <!-- {{ content }} -->
              {% endblock content %}
            </div>
          </section>

          {% block footer %}
            <footer>
              {% include "site_template/footer.html" %}
            </footer>
          {% endblock footer %}
        </div>
      </div>

      {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <!-- Autosize -->
        <script src="{{ url_for('static', filename='vendors/autosize/dist/autosize.min.js') }}"></script>
        <!-- datepicker -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <!-- Select -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
        <!-- Slimscroll Plugin Js -->
        <script src="{{ url_for('static', filename='vendors/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
        <!-- Waves Effect Plugin Js -->
        <script src="{{ url_for('static', filename='vendors/node-waves/waves.js') }}"></script>
        <!-- Custom Js -->
        <script src="{{ url_for('static', filename='build/js/admin.js') }}"></script>

      {% endblock %}
      <!-- Custom Theme Scripts -->
      <script src="{{ url_for('static', filename='build/js/custom.js') }}"></script>
    {% endblock body %}
  </body>
</html>
