{% extends "base_site.html" %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<!-- Basic Examples -->

<!-- #END# Basic Examples -->

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-black">
                <h2>
                    Notas de crédito
                    <span class="btn bg-teal nota-egreso" style="float:right;"  data-toggle="modal" 
			  data-target="#modal_nota_credito">Nota de crédito</span>
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover tabla-notas dataTable ">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Beneficiario</th>
                                <th># Nota de crédito</th>
                                <th># Documento origen</th>
                                <th># Documento destino</th>
                                <th>Monto</th>
                                <th>Aplicado</th>
                                <th>Ver</th>
				<th>Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Beneficiario</th>
                                <th># Nota de crédito</th>
                                <th># Documento origen</th>
                                <th># Documento destino</th>
                                <th>Monto</th>
                                <th>Aplicado</th>
                                <th>Ver</th>
				<th>Acciones</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for nota in notas %}
                            <tr>
                                <td>{{nota.id}}</td>
                                <td>{{nota.beneficiario}}</td>
                                <td>{{nota.numero_documento }}</td>
                                <td>{{nota.egreso_QB.numero_documento}}</td>
                                <td>{{nota.egreso_WR.numero_documento}}</td>
                                <td>{{"${:,.2f}".format(nota.monto)}}</td>
                                <td>   
                                    {% if nota.aplicado == True%}
                                        <span class="badge bg-liquidado">Aplicada</span>
                                       
                                    {% endif %}
                                    {% if nota.aplicado == False%}
                                        <span class="badge bg-solicitado">No aplicada</span>
                                    {% endif %} 
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-info waves-effect" href='/egresos/perfil_nota/{{nota.id}}'
                                        data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                </td>
				<td>
					{% if nota.aplicado == True%}
                                        	<a class="btn btn-xs btn-danger waves-effect" href='/egresos/cancel/{{nota.id}}'
                                        		data-toggle="tooltip" data-placement="top" title="Cancelar nota">
                                                	<i class="material-icons">not_interested</i>
						</a>
                                    	{% endif %}
                                    	{% if nota.aplicado == False%}
                                        	 <a class="btn btn-xs btn-success waves-effect" href='/egresos/active/{{nota.id}}'
                                                data-toggle="tooltip" data-placement="top" title="Aplicar nota">
                                                	<i class="material-icons">check</i>
                                        	</a>
                                   	 {% endif %}					
				</td>
                            </tr>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_nota_credito" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Generar nota de crédito</h4>
            </div>
            <form class="form-horizontal form-label-left" id="mandar_pagar_form" method="POST">

                <div class="modal-body">

                    <div class="margin-10">
                        <div class="row">
                        	<div class="col-sm-12 col-md-6 ">
                            	<label for="beneficiario"> Beneficiario </label><br>
                                <select class="beneficiario" data-live-search="true" name="beneficiario" id="beneficiario"
                                    title="Seleccione una Beneficiario..." data-width="100%" data-validation="required">
                                    {% for beneficiario in beneficiarios %}
                                         <option value="{{beneficiario.id}}"> {{ beneficiario }} </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-sm-12 col-md-6 ">
                            	<label for="egresoQb"> Egreso </label><br>
                                <select class="selectpicker" data-live-search="true" name="egresoQb" id="egresoQb"
                                    title="Seleccione una Egreso..." data-width="100%" data-validation="required">
                                    
                                </select>
                            </div>

                            <div class="col-sm-12 col-md-12 nomargin">
                                <label class="grey-font" for="numero_documento">Monto</label>
                                <input placeholder="Monto" class="form-control" type="text" id="monto" name="monto"
                                    data-validation="number" data-validation-allowing="float">
                            </div>
                        </div>
                    </div>

                    <div class="margin-10">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-sm-12 col-md-6">
                                <label class="grey-font" for="numero_documento">Numero de documento</label>
                                <input type="text" class="form-control" id="numero_documento" name="numero_documento"
                                    class="filled-in"  />
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <label> Fecha </label>
                                <div class='input-group date mydatepicker' data-provide="datepicker">
                                    <input type='text' name="fecha" autocomplete="off"
                                        class="form-control  set-today" />
                                    <span class="input-group-addon">
                                        <i class="material-icons mydate">date_range</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="margin-10">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-12 col-md-3 ">
                                <input type="checkbox" id="aplicar_check" name="aplicar_check" class="filled-in" />
                                <label class="grey-font" for="aplicar_check">Aplicar</label>
                            </div>

                            <span style="display: none" id="aplicar">
                                <div class="col-sm-12 col-md-3 ">
                                    <input type="checkbox" id="mismo_egreso" name="mismo_egreso"
                                        class="filled-in" />
                                    <label class="grey-font" for="mismo_egreso">Mismo egreso</label>
                                </div>
                                <div class="col-sm-12 col-md-6 ">
                                	<label for="egresoWR"> Egreso </label><br>
                                    <select class="selectpicker" data-live-search="true" name="egresoWR" id="egresoWR"
                                        title="Seleccione una Egreso..." data-width="100%" data-validation="required">
                                        
                                    </select>
                                </div>
                                <div style="padding:0px 5px;" class="margin-10 col-sm-12">
                                        <div class="row" style="margin-top:10px;">
                                                <div class="col-sm-12 col-md-3">
                                                        <input type="checkbox" id="generar_reembolso_check" name="generar_reembolso_check"  class="filled-in" />
                                                        <label class="grey-font" for="generar_reembolso_check">Generar reembolso</label>
                                                </div>
                                                <div style="display: none" id="generar_reembolso">
                                                        <div class="col-sm-12 col-md-4 ">
                                                        <label for="forma_pago"> Forma de pago </label><br>
                                                        <select class="selectpicker" id="forma_pago" data-live-search="true" name="forma_pago" title="Seleccione una Forma de Pago..." data-width="100%" data-validation="required">
                                                                {% for forma in formas_pago %}
                                                                        <option value="{{forma.id}}"> {{ forma }} </option>
                                                                 {% endfor %}
                                                        </select>
                                                </div>
                                                <div class="col-sm-12 col-md-4 ">
                                                        <label for="cuenta"> Cuenta </label><br>
                                                        <select class="selectpicker" id="cuenta" data-live-search="true" name="cuenta" title="Seleccione una Cuenta.." data-width="100%">
                                                                {% for cuenta in cuentas %}
                                                                        <option value="{{cuenta.id}}"> {{ cuenta }} </option>
                                                                {% endfor %}
                                                        </select>
                                                </div>
                                        </div>
                                </div>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="comentario">Comentario</label>
                                <textarea name="comentario" id="comentario" style="width:100%"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-link waves-effect ">Enviar</button>
                    <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
                        <i class="material-icons">close</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}
{{ super() }}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}">
</script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}">
</script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}">
</script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}">
</script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}">
</script>
<script src="{{ url_for('static', filename='vendors/sweetalert/sweetalert.min.js') }}"></script>

<script>
    //Jquery table
    var table1 = $('.tabla-notas').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        "order": [
            [1, 'desc'],
            [2, 'asc']
        ],
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "columnDefs": [{
            "targets": 0,
            "orderable": false
        }]
    });
    // "Select all" control
    $('.select-all1').on('click', function () {
        // Check/uncheck all checkboxes in the table
        var rows = table1.rows({
            'search': 'applied'
        }).nodes();
        $('input[type="checkbox"]', rows).prop('checked', this.checked);
    });

    var table2 = $('.tabla-realizados').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        "order": [
            [1, 'desc'],
            [2, 'asc']
        ],
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "columnDefs": [{
            "targets": 0,
            "orderable": false
        }]
    });
 
    $("#aplicar_check").change(function () {
        if (this.checked) {
            $("#aplicar").fadeIn()
        } else {
            $("#aplicar").fadeOut()
        }
    });

    $("#mismo_egreso").change(function () {
        if (this.checked) {
            let styleDisabled = {
                opacity: '0.5',
                pointerEvents: 'none'
            };

            $("#egresoWR").val($(this).attr("data-id"));
            $("#egresoWR").selectpicker('refresh');
            $('.bootstrap-select').css(styleDisabled)
        }else{
            let styleDisabled = {
                opacity: 1,
                pointerEvents: 'auto'
            };
            $('.bootstrap-select').css(styleDisabled)
        }
    });

    $("#generar_reembolso_check").change(function () {
        if (this.checked) {
            $("#generar_reembolso").fadeIn()
        } else {
            $("#generar_reembolso").fadeOut()
        }
    });

    $(".beneficiario").change(function () {
	let value = $(this).val()
	$.ajax({
      		type: 'POST',
      		url: "/_get_egresos",
      		data: {beneficiario_id: value},
      		dataType: "text",
      		success: function(data){
			console.log(data)
               	}
    	});
    });

</script>
{% endblock javascripts %}
