{% extends "base_site.html" %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<!-- Basic Examples -->

<!-- #END# Basic Examples -->

  <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header bg-black">
                  <h2>
                    Pagos Pendientes
                  </h2>
                  <div class="select-btn-group">
                      <span class="btn btn-primary">Pagar</span>
                      <span class="btn bg-deep-purple" >Reprogramar fecha</span>
                  </div>
              </div>
              <div class="body">
                  <div class="table-responsive">
                      <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                          <thead>
                              <tr>
                                  <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                                  <th>ID</th>
                                  <th>Beneficiario</th>
                                  <th>Fecha de pago</th>
                                  <th>Cuenta</th>
                                  <th>Forma de pago</th>
                                  <th>Monto</th>
                                  <th>Referencia</th>
                                  <th>Status</th>
                                  <th>Acciones</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                  <th></th>
                                  <th>ID</th>
                                  <th>Beneficiario</th>
                                  <th>Fecha de pago</th>
                                  <th>Cuenta</th>
                                  <th>Forma de pago</th>
                                  <th>Monto</th>
                                  <th>Referencia</th>
                                  <th>Status</th>
                                  <th>Acciones</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              <tr>
                                  <td></td>
                                  <td>1</td>
                                  <td>Felxi</td>
                                  <td>24/08/2018</td>
                                  <td>Bancomer</td>
                                  <td>Transferencia</td>
                                  <td>$320,800</td>
                                  <td>Abc138Gs</td>
                                  <td> <span class="badge bg-red">Por Pagar</span></td>
                                  <td>
                                    <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_pago" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                      <i class="material-icons">visibility</i>
                                    </a>
                                    <a class="btn btn-xs btn-success waves-effect" data-toggle="tooltip" data-placement="top" title="Generar pago">
                                      <i class="material-icons">payment</i>
                                    </a>
                                    <a class="btn btn-xs bg-purple waves-effect"  data-toggle="modal" data-target="#largeModal" >
                                      <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Conciliar movimiento">assignment_turned_in</i>
                                    </a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Modal pagos -->
            <div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Conciliar Pago </h4>
                            <button type="button" class="btn btn-link btn-circle waves-effect btn-close" data-dismiss="modal">
                                <i class="material-icons">close</i>
                              </button>
                        </div>
                        <div class="modal-body">
                          <div class="box">
                          <div class="row">
                            <div class="col-sm-12 col-md-6 nomargin">
                              <p class="font-18">Beneficiario: <span class="font-bold">Tom Brady</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 nomargin">
                              <p class="font-18">Monto a pagar: <span class="font-bold">$10343.00</span></p>
                            </div>
                          </div>


                          <div class="input-group nomargin">
                          <div class="row">
                            <div class="col-sm-12 col-md-6 nomargin">
                              <label> Fecha de Vencimiento </label>
                              <div class='input-group date mydatepicker' data-provide="datepicker">
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                  <i class="material-icons mydate">date_range</i>
                                </span>
                              </div>
                            </div>
                
                        </div>
                       
                         
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect ">Enviar</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

<script>
    $(function () {
    $('.js-modal-buttons .btn').on('click', function () {
            var color = $(this).data('color');
            $('#mdModal .modal-content').removeAttr('class').addClass('modal-content modal-col-' + color);
            $('#mdModal').modal('show');
        });
    })  
  $(function () {
      $('.js-modal-buttons .btn').on('click', function () {
          var color = $(this).data('color');
          $('#mdModal .modal-content').removeAttr('class').addClass('modal-content modal-col-' + color);
          $('#mdModal').modal('show');
      });
  });

  $(function () {
    //Tooltip
    $('[data-toggle="tooltip"]').tooltip({
        container: 'body'
    });

    //Popover
    $('[data-toggle="popover"]').popover();
  })

  var table = $('.js-basic-example').DataTable({
     'columnDefs': [{
         'targets': 0,
         'className': 'dt-body-center',
         'render': function (data, type, full, meta){
             return '<input type="checkbox" name="id[]" value="' 
                + $('<div/>').text(data).html() + '">';
         }
      }],
      'order': [1, 'asc'],

  });

     // Handle click on "Select all" control
     $('#example-select-all').on('click', function(){
      // Check/uncheck all checkboxes in the table
      var rows = table.rows({ 'search': 'applied' }).nodes();
      $('input[type="checkbox"]', rows).prop('checked', this.checked);
   });

    // Handle click on checkbox to set state of "Select all" control
    $('#example tbody').on('change', 'input[type="checkbox"]', function(){
      // If checkbox is not checked
      if(!this.checked){
         var el = $('#example-select-all').get(0);
         // If "Select all" control is checked and has 'indeterminate' property
         if(el && el.checked && ('indeterminate' in el)){
            // Set visual state of "Select all" control 
            // as 'indeterminate'
            el.indeterminate = true;
         }
      }
   });
    
   $('#frm-example').on('submit', function(e){
      var form = this;

      // Iterate over all checkboxes in the table
      table.$('input[type="checkbox"]').each(function(){
         // If checkbox doesn't exist in DOM
         if(!$.contains(document, this)){
            // If checkbox is checked
            if(this.checked){
               // Create a hidden element 
               $(form).append(
                  $('<input>')
                     .attr('type', 'hidden')
                     .attr('name', this.name)
                     .val(this.value)
               );
            }
         } 
      });

      // FOR TESTING ONLY
      
      // Output form data to a console
      $('#example-console').text($(form).serialize()); 
      console.log("Form submission", $(form).serialize()); 
       
      // Prevent actual form submission
      e.preventDefault();
   });
</script>
{% endblock javascripts %}
