{% extends "base_site.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">

    <!-- INFO CARD -->
    <div class="card">
      <div class="header bg-black">
        <h2 class="font-24">Detalle de Egreso</h2>
      </div>

      <div class="body">
        <div class="row mycontainer">
          <div class="col-sm-12 col-md-8">
            <b><p class="font-18">Beneficiario: <span class="font-bold">{{egreso.beneficiario}}</span></p></b>
            <p class="font-18">Id: <span class="font-bold">{{egreso.id}}</span></p>
            <p class="font-18"># de documento: <span class="font-bold">{{egreso.numero_documento}}</span></p>
            <p class="font-18">Fecha de Vencimento: <span class="font-bold">{{egreso.fecha_vencimiento}}</span></p>
            <p class="font-18">Fecha programada de pago: <span class="font-bold">{{egreso.fecha_programada_pago}}</span></p>
          </div>
          <div class="col-sm-12 col-md-4 align-left">
            <b><p class="font-18">Status: <span class="badge bg-red">Incompleto</span></p></b>
            <b><p class="font-18">Monto total: <span class="font-bold">{{egreso.monto_total}}</span></p></b>            
            <p class="font-18">Monto Pagado: <span class="font-bold">$0.00</span></p>
            <p class="font-18">Monto Pendiente: <span class="font-bold">$100,000.00</span></p>
            <p class="font-18">Empresa: <span class="font-bold">{{egreso.empresa}}</span></p>

          </div>
        </div>
        <div class="row mycontainer">
          <div class="col-sm-12">
            <div class="border-box">
              <p class="font-18 font-bold">Comentarios</p>
              <p class="font-18">{{egreso.comentario}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    
    <!-- PAGOS PROGRAMADOS TABLE -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-black">
                    <h2>
                      Pagos Programados
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Beneficiario</th>
                                    <th>Fecha de pago</th>
                                    <th>Cuenta</th>
                                    <th>Forma de Pago</th>
                                    <th>Monto</th>
                                    <th>Referencia</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>15</td>
                                    <td>Felxi</td>
                                    <td>15/01/2019</td>
                                    <td>Bancomer 1</td>
                                    <td></td>
                                    <td>$100,000.00</td>
                                    <td></td>
                                    
                                    <td> <span class="badge bg-red">Incompleto</span></td>
                                    <td>

                                      <a class="btn btn-xs btn-success waves-effect" data-toggle="tooltip" data-placement="top" title="Generar pago">
                                        <i class="material-icons">payment</i>
                                      </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- PAGOS COMPLETADOS TABLE -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-black">
                    <h2>
                      Pagos Realizados
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Beneficiario</th>
                                    <th>Fecha de pago</th>
                                    <th>Cuenta</th>
                                    <th>Monto</th>
                                    <th>Referencia</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>

                            <tbody>
                              {% for pago in pagos %}
                                <tr>
                                    <td>{{pago.id}}</td>
                                    <td>{{pago.beneficiario.nombre}}</td>
                                    <td>{{pago.fecha_pago}}</td>
                                    <td>{{pago.cuenta_banco}}</td>
                                    <td>{{"${:,.2f}".format(pago.monto_total)}}</td>
                                    <td>{{pago.referencia_pago}}</td>
                                    <td> </td>
                                    <td> 
                                      <a class="btn btn-xs btn-info waves-effect" href='/egresos/perfil_pago/{{pago.id}}' data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                        <i class="material-icons">visibility</i>
                                      </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- DETALLES TABLE -->
    
    <div class="card">
      <div class="header bg-black">
        <h2>Detalles</h2>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
            <thead>
              <tr>
                <th>Proveedor</th>
                <th>Centro de Negocios</th>
                <th>Categoría</th>
                <th>Concepto</th>
                <th>Monto</th>
                <th>Descripcíon</th>
                <th># control</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Proveedor</th>
                <th>Centro de Negocios</th>
                <th>Categoría</th>
                <th>Concepto</th>
                <th>Monto</th>
                <th>Descripcíon</th>
                <th># control</th>
                <th>Editar</th>
              </tr>
            </tfoot>
            <tbody>
                {% for detalle in detalles %}
              <tr>
                <td>{{detalle.proveedor}}</td>
                <td>{{detalle.centro_negocios}}</td>
                <td>{{detalle.categoria}}</td>
                <td>{{detalle.concepto}}</td>
                <td>{{"${:,.2f}".format(detalle.monto)}}</td>
                <td>{{detalle.descripcion}}</td>
                <td>{{detalle.numero_control}}</td>
                <th>
                  <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_egreso" data-toggle="tooltip" data-placement="top" title="Editar">
                    <i class="material-icons">edit</i>
                  </a>
                </th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock content %}

    {% block javascripts %}
    {{ super() }}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

    <script>
      $('.js-basic-example').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });
    </script>
    {% endblock javascripts %}

<table>
  <tr>

  </tr>
</table>