{% extends "base_site.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">

    <!-- INFO CARD -->
    <div class="card">
      <div class="header bg-black">
        <h2 class="font-24">Pago</h2>
        <div class="select-btn-group">

           <span class="btn btn-info editar_pago" data-cuenta = "{{pago.cuenta_id}}" data-forma_pago = "{{pago.forma_pago_id}}" data-toggle="modal" data-target="#modal_editar_pago">Editar pago</span>
          {% if pago.status == 'solicitado' and pago.forma_pago.nombre.lower() != 'cheque' %}
          <span class="btn btn-primary open-generar-pago" data-toggle="modal"
            data-url="{{ url_for('egresos_blueprint.get_data_generar_pago', pago_id=pago.id) }}">Generar
            pago</span>
          {% endif %}
          {% if pago.status == 'solicitado' and pago.forma_pago.nombre.lower() == 'cheque' %}
          <a  href="{{ url_for('egresos_blueprint.generar_cheque', pago_id=pago.id) }}" onclick="cheque()" class="btn btn-primary " > Generar Cheque</a>
          {% endif %}
          {% if pago.forma_pago.nombre.lower() == 'cheque' and pago.fecha_pago %}
          <a  href="{{ url_for('egresos_blueprint.imprimir_cheque', pago_id=pago.id) }}">
          <span class="btn btn-info" data-toggle="modal"> Imprimir cheque</span></a>
          {% endif %}
          {% if pago.status == 'por_conciliar'%}
          <span class=" btn bg-deep-purple open-conciliar"
            data-url="{{ url_for('egresos_blueprint.get_data_conciliar', pago_id=pago.id) }}">Conciliar</span>
          {% endif %}
          {% if pago.status == 'conciliado' %}
          <span id="desconciliar-pago" class=" btn bg-purple open-desconciliar" data-type="confirm"
            data-url="{{ url_for('egresos_blueprint.desconciliar_pago', pago_id=pago.id) }}">Desconciliar
            pago</span>
          {% endif %}
          {% if pago.status != 'solicitado' and pago.status != 'cancelado' %}
          <span id="open-conciliar-multiple" class="btn bg-red cancel-pago" data-type="confirm"
            data-url="{{ url_for('egresos_blueprint.cancelar_pago', pago_id=pago.id) }}">Cancelar
            pago</span>
          {% endif %}
          {% if pago.status == 'solicitado' and pago.status != 'cancelado' %}
          <span id="cancelar-pago" class="btn bg-red delete-pago" data-type="confirm"
            data-url="{{ url_for('egresos_blueprint.borrar_pago', pago_id=pago.id) }}">Borrar
            pago</span>
          {% endif %}
        </div>
      </div>


      <div class="body">
        <div class="row mycontainer">
          <div class="col-sm-12 col-md-6">
            <p class="font-18">Id: <span class="font-bold">{{pago.id}}</span></p>
            <p class="font-18">Beneficiario: 
              <span class="font-bold"><a class="btn btn-xs btn-info waves-effect"
                  href='/administracion/perfil_de_beneficiario/{{pago.beneficiario.id}}' data-toggle="tooltip"
                  data-placement="top" title="Ver beneficiario">
                  {{pago.beneficiario}}</a></span>
            </p>
            <p class="font-18">Referencia: <span class="font-bold">{{pago.referencia_pago}}</span></p>
            <p class="font-18">Forma de pago: <span class="font-bold">{{pago.forma_pago}}</span></p>
            <p class="font-18">Monto total: <span class="font-bold">{{"${:,.2f}".format(pago.monto_total)}}</span></p>
          </div>
          <div class="col-sm-12 col-md-6 align-left">

            <p class="font-18">Status:
              {% if pago.status == 'conciliado' %}
              <span class="badge bg-liquidado">Liquidado</span>
              {% endif %}
              {% if pago.status == 'por_conciliar' %}
              <span class="badge bg-por-conciliar">Por conciliar</span>
              {% endif %}
              {% if pago.status == 'solicitado' %}
              <span class="badge bg-solicitado">Solicitado</span>
              {% endif %}
              {% if pago.status == 'cancelado' %}
              <span class="badge bg-cancelado">Cancelado</span>
              {% endif %}
            </p>
            <p class="font-18">Empresa: <span class="font-bold">{{pago.cuenta.empresa}}</span></p>
            <p class="font-18">Fecha de pago: <span class="font-bold">{{pago.fecha_pago}}</span></p>
            <p class="font-18">Fecha de conciliacion: <span class="font-bold">{{pago.fecha_conciliacion}}</span></p>
            <p class="font-18">Cuenta de banco: <span class="font-bold">{{pago.cuenta}}</span></p>
          </div>
        </div>
        <div class="row mycontainer">
          <div class="col-sm-12">
            <div class="border-box">
              <span class="btn btn-info open-editar-comentario " style="float:right" data-type="Pago"  data-id="{{pago.id}}" data-value="{{pago.comentario}}">Editar</span>
              <p class="font-18 font-bold">Comentarios</p>
              <p class="font-18" style="white-space:pre;">{{pago.comentario}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- DETALLES TABLE -->
    <div class="card">
      <div class="header bg-black">
        <h2>Cuentas o Documentos pagados</h2>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Beneficiario</th>
                <th># Documento</th>
                <th>Monto</th>
                <th>Status</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Beneficiario</th>
                <th># Documento</th>
                <th>Monto</th>
                <th>Status</th>
                <th>Acciones</th>
              </tr>
            </tfoot>

            <tbody>
              {% for egreso in pago.egresos %}
              <tr>
                <td>{{egreso.id}}</td>
                <td>{{egreso.beneficiario}}</td>
                <td>{{egreso.numero_documento}}</td>
                <td>{{"${:,.2f}".format(egreso.monto_total)}}</td>
                <td>
                  {% if egreso.status == 'pendiente'%}
                  <span class="badge bg-pendiente">Pendiente</span>
                  {% endif %}
                  {% if egreso.status == 'solicitado'%}
                  <span class="badge bg-solicitado">Solicitado</span>
                  {% endif %}
                  {% if egreso.status == 'parcial'%}
                  <span class="badge bg-parcial">Parcial</span>
                  {% endif %}
                  {% if egreso.status == 'liquidado'%}
                  <span class="badge bg-liquidado">Liquidado</span>
                  {% endif %}
                  {% if egreso.status == 'cancelado'%}
                  <span class="badge bg-cancelado">Cancelado</span>
                  {% endif %}
                  {% if egreso.status == 'por_conciliar'%}
                  <span class="badge bg-por-conciliar">Por conciliar</span>
                  {% endif %}
                </td>
                <td>
                  <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_egreso/{{egreso.id}}"
                    data-toggle="tooltip" data-placement="top" title="Ver detalle">
                    <i class="material-icons">visibility</i>
                  </a>
                  {% if pago.egresos |length > 1 %}
                    <a class="btn btn-xs btn-danger waves-effect" href="/egresos/borrarEP/{{egreso.id}}/{{pago.id}}"
                    data-toggle="tooltip" data-placement="top" title="Borrar pago del documento">
                    <i class="material-icons">delete</i>
                  {% endif %}
                </a>
                  
                  <!-- <a class="btn btn-xs btn-danger waves-effect" data-toggle="tooltip" data-placement="top" title="Borrar">
                    <i class="material-icons">delete</i>
                  </a> -->
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% include "modal_generar_pago.html" %}
    {% include "modal_editar_pago.html" %}
    {% include "modal_editar_comentario.html" %}
    {% include "modal_conciliar_movimiento.html" %}

    {% endblock content %}

    {% block javascripts %}
    {{ super() }}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
    <script
      src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}">
    </script>
    <script
      src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='vendors/sweetalert/sweetalert.min.js') }}"></script>
    <script>

      $('.js-basic-example').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });

      //Borrar pago con sweer alert
      $('.delete-pago').on('click', function () {
        var element = this;
        swal({
          title: "Estas seguro?",
          text: "Se borrara el registro de esta solicitud del pago!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Si, borrar!",
          closeOnConfirm: false
        }, function () {
          $.ajax({
            url: $(element).attr("data-url"),
            success: function (data) {
              if (data) {
                swal("Borrado!", "El pago ha sido eliminado.", "success");
                setTimeout(function () {
                  location.replace('/egresos/cuentas_por_pagar');
                }, 2000);
              }
            }
          })

        });
      });

      //Cancelar pago con sweer alert
      $('.cancel-pago').on('click', function () {
        var element = this;
        swal({
          title: "Estas seguro?",
          text: "Se cancelara el pago y se restará de sus documentos asociados!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Si, Cancelar!",
          closeOnConfirm: false
        }, function () {
          $.ajax({
            url: $(element).attr("data-url"),
            success: function (data) {
              if (data) {
                swal("Listo!", "El pago ha sido cancelado.", "success");
                setTimeout(function () {
                  location.reload();
                }, 2000);
              }
            }
          })

        });
      });

    function cheque(){
    window.setTimeout(()=>{
      location.reload();
    }, 1000)
  }

      //Modal generar pago
      $(".open-generar-pago").on("click", function () {
        $.ajax({
          url: $(this).attr("data-url"),
          success: function (data) {
            const html =
              `<div class="row" style="margin-bottom:10px;">
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Beneficiario: <span class="font-bold">${data.beneficiario}</span></p>
                                </div>
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Monto a total: <span class="font-bold">${money.format(data.monto_total)}</span></p>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Cuenta de banco: <span class="font-bold">${data.cuenta}</span></p>
                                </div>
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Forma de pago: <span class="font-bold">${data.forma_pago}</span></p>
                                </div>
                            </div>
                    <input type="hidden" id="pago_id" name="pago_id" value="${data.pago_id}">
                    <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                    <hr>
                    `
            let element = document.querySelector(".generar_here");
            element.innerHTML = "";
            element.insertAdjacentHTML('beforeend', html);

            if (data.forma_pago.toLowerCase() == 'cheque') {
              $('#referencia_pago').val(data.numero_cheque);
              let element = document.querySelector(".alert-here");
              element.innerHTML = "";
              const ref =
                `<div class="alert alert-warning alert-dismissible" style="margin-bottom:0" role="alert">
                                Revisar que el folio del cheque sea correcto
                            </div>`
              element.insertAdjacentHTML('beforeend', ref);
            }

            if (data.forma_pago.toLowerCase() == 'transferencia') {
              let element = document.querySelector(".alert-here");
              element.innerHTML = "";
              const ref =
                `<div class="alert alert-info alert-dismissible" style="margin-bottom:0" role="alert">
                                Revisar que la cuenta del beneficiario sea ${data.cuenta_beneficiario}
                            </div>`
              element.insertAdjacentHTML('beforeend', ref);
            }
            $('#modal_generar_pago').modal('show');
          }
        });
      });


      //Modal Conciliar
      $(".open-conciliar").on("click", function () {
        $.ajax({
          url: $(this).attr("data-url"),
          success: function (data) {
            const html =
              `<div class="row" style="margin-bottom:20px;">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Beneficiario: <span class="font-bold">${data.beneficiario}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Monto a conciliar: <span class="font-bold">${money.format(data.monto_total)}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cuenta de banco: <span class="font-bold">${data.cuenta}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Referencia de pago : <span class="font-bold">${data.referencia}</span></p>
                            </div>
                        </div>
                <input type="hidden" id="pago_id" name="pago_id" value="${data.pago_id}">
                <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                <hr>`
            let element = document.querySelector(".here-conciliar");
            element.innerHTML = "";
            element.insertAdjacentHTML('beforeend', html);
            $('.selectpicker').selectpicker('refresh');
            $('#modal_conciliar_movimiento').modal('show');
          }
        });
      });


      //Desconciliar pago con sweer alert
      $('.open-desconciliar').on('click', function () {
        var element = this;
        swal({
          title: "Estas seguro?",
          text: "Se desconciliará el pago",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Si, desconciliar!",
          closeOnConfirm: false
        }, function () {
          console.log(element)
          $.ajax({
            url: $(element).attr("data-url"),
            success: function (data) {
              if (data) {
                swal("Listo!", "El pago ha sido desconciliado.", "success");
                setTimeout(function () {
                  location.reload();
                }, 2000);
              }
            }
          })

        });
      });

      $(".open-editar-comentario").on("click", function () {
        let element = document.querySelector(".editar-comentario-here");
        element.innerHTML = "";
        const html = `
                <div class="row" style="margin-bottom:20px !important">
                    <div class="col-sm-12">
                        <label for="comentario"> Comentario</label>
                        <textarea class="form-control" type="text" name="comentario">${ $(this).attr("data-value")}</textarea>
                    </div>
                    <input type='hidden' class="form-control" name="id" value="${ $(this).attr("data-id")}"/>
                    <input type='hidden' class="form-control" name="type" value="${ $(this).attr("data-type")}"/>
                    <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                </div>`
        element.insertAdjacentHTML('beforeend', html);
        $('#modal_editar_comentario').modal('show');
      });

//Editar Pago
      $('.editar_pago').on('click', function () {
        $('#forma_pago_select').val($(this).attr("data-forma_pago"))
        $('#cuenta_select').val($(this).attr("data-cuenta"))
        $('.selectpicker').selectpicker('refresh')
    });



    </script>
    {% endblock javascripts %}