{% extends "base_site.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">

    <!-- INFO CARD -->
    <div class="card">
      <div class="header bg-black">
        <h2 class="font-24">Detalle de Egreso</h2>
      </div>

      <div class="body">
        <div class="row mycontainer">
          <div class="col-sm-12 col-md-8">
            <b><p class="font-18">Beneficiario: <span class="font-bold">Flexi</span></p></b>
            <p class="font-18">Empresa: <span class="font-bold">1 Rudos</span></p>
            <p class="font-18">Id: <span class="font-bold">27</span></p>
            <p class="font-18"># de documento: <span class="font-bold">FA-004</span></p>
            <p class="font-18">Fecha de Vencimento: <span class="font-bold">30/01/2019</span></p>
            <p class="font-18">Fecha programada de pago: <span class="font-bold">15/01/2019</span></p>
          </div>
          <div class="col-sm-12 col-md-4 align-left">
            <b><p class="font-18">Status: <span class="badge bg-orange">Parcial</span></p></b>
            <br></br>
            <b><p class="font-18">Monto total: <span class="font-bold">$200,000.00</span></p></b>            
            <p class="font-18">Monto Pagado: <span class="font-bold">$25,000.00</span></p>
            <p class="font-18">Monto En Transito: <span class="font-bold">$125,000.00</span></p>
            <p class="font-18">Monto Pendiente: <span class="font-bold">$50,000.00</span></p>
            

          </div>
        </div>
        <div class="row mycontainer">
          <div class="col-sm-12">
            <div class="border-box">
              <p class="font-18 font-bold">Comentarios</p>
              <p class="font-18"> </p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- PAGOS PROGRAMADOS TABLE -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-black">
                    <h2>
                      Pagos Programados
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Beneficiario</th>
                                    <th>Fecha de pago</th>
                                    <th>Cuenta</th>
                                    <th>Forma de Pago</th>
                                    <th>Monto</th>
                                    <th>Referencia</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>15</td>
                                    <td>Felxi</td>
                                    <td>15/01/2019</td>
                                    <td>Bancomer 1</td>
                                    <td></td>
                                    <td>$50,000.00</td>
                                    <td></td>
                                    
                                    <td> <span class="badge bg-red">Incompleto</span></td>
                                    <td>

                                      <a class="btn btn-xs btn-success waves-effect" data-toggle="tooltip" data-placement="top" title="Mandar a Pagar">
                                        <i class="material-icons">payment</i>
                                      </a>

                                    </td>
                                </tr>
                                <td>16</td>
                                    <td>Felxi</td>
                                    <td>15/01/2019</td>
                                    <td>Bancomer 1</td>
                                    <td>Cheque</td>
                                    <td>$125,000.00</td>
                                    <td>CH-00121</td>
                                    
                                    <td> <span class="badge bg-yellow">En Transito</span></td>
                                    <td>
                                      <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_pago_2" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                        <i class="material-icons">visibility</i>
                                      </a>
                                      <a class="btn btn-xs bg-purple waves-effect" data-toggle="tooltip" data-placement="top" title="Conciliar movimiento">
                                        <i class="material-icons">assignment_turned_in</i>
                                      </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- PAGOS COMPLETADOS TABLE -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-black">
                    <h2>
                      Pagos Realizados
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Beneficiario</th>
                                    <th>Fecha de pago</th>
                                    <th>Cuenta</th>
                                    <th>Forma de Pago</th>
                                    <th>Monto</th>
                                    <th>Referencia</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>14</td>
                                    <td>Felxi</td>
                                    <td>15/01/2019</td>
                                    <td>Bancomer 1</td>
                                    <td>Cheque</td>
                                    <td>$25,000.00</td>
                                    <td>CH-00120</td>
                                    
                                    <td> <span class="badge bg-green">Liquidado</span></td>
                                    <td>

                                      <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_egreso_2" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                        <i class="material-icons">visibility</i>
                                      </a>
                                      

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- DETALLES TABLE -->
    
    <div class="card">
      <div class="header bg-black">
        <h2>Detalles</h2>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
            <thead>
              <tr>
                <th>Proveedor</th>
                <th>Centro de Negocios</th>
                <th>Categoría</th>
                <th>Concepto</th>
                <th>Monto</th>
                <th>Descipcíon</th>
                <th># de documento</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Proveedor</th>
                <th>Centro de Negocios</th>
                <th>Categoría</th>
                <th>Concepto</th>
                <th>Monto</th>
                <th>Descipcíon</th>
                <th># de documento</th>
                <th>Editar</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>Flexi</td>
                <td>Tienda 1</td>
                <td>Inventario</td>
                <td>Zapatos</td>
                <td>$200,000.00</td>
                <td></td>
                <td>OC-00123</td>
                <th>
                  <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_egreso_2" data-toggle="tooltip" data-placement="top" title="Editar">
                    <i class="material-icons">edit</i>
                  </a>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% endblock content %}

    {% block javascripts %}
    {{ super() }}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

    <script>
      $('.js-basic-example').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });
    </script>
    {% endblock javascripts %}
