{% extends "base_site.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">

    <!-- INFO CARD -->
    <div class="card">
      <div class="header bg-black">
        <h2 class="font-24">Pago</h2>
      </div>

      <div class="body">
        <div class="row mycontainer">
          <div class="col-sm-12 col-md-6">
            <p class="font-18">Id: <span class="font-bold">{{pago.id}}</span></p>
            <p class="font-18">Beneficiario: <span class="font-bold">{{pago.beneficiario}}</span></p>
            <p class="font-18">Referencia: <span class="font-bold">{{pago.referencia_pago}}</span></p>
            <p class="font-18">Forma de pago: <span class="font-bold">{{pago.forma_pago}}</span></p>
            <p class="font-18">Monto total: <span class="font-bold">{{pago.monto_total}}</span></p>
          </div>
          <div class="col-sm-12 col-md-6 align-left">
            <p class="font-18">Status: <span class="badge bg-green">Liquidado</span></p>
            <p class="font-18">Empresa: <span class="font-bold">1 Rudos</span></p>
            <p class="font-18">Fecha de pago: <span class="font-bold">{{pago.fecha_pago}}</span></p>
            <p class="font-18">Cuenta de banco: <span class="font-bold">{{pago.cuenta}}</span></p>
          </div>
        </div>
        <div class="row mycontainer">
          <div class="col-sm-12">
            <div class="border-box">
              <p class="font-18 font-bold">Comentarios</p>
              <p class="font-18">{{pago.comentario}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- DETALLES TABLE -->
    <div class="card">
      <div class="header bg-black">
        <h2>Cuentas o Documentos pagados</h2>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Beneficiario</th>
                <th># Documento</th>
                <th>Monto</th>
                <th>Status</th>
                <th>Accion</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Beneficiario</th>
                <th># Documento</th>
                <th>Monto</th>
                <th>Status</th>
                <th>Accion</th>
              </tr>
            </tfoot>
            
            <tbody>
              {% for egreso in pago.egresos %}
              <tr>
                <td>{{egreso.id}}</td>
                <td>{{egreso.beneficiario}}</td>
                <td>{{egreso.numero_documento}}</td>
                <td>{{egreso.monto_total}}</td>
                <td><span class="badge bg-green">Liquidado</span></td>
                <td>
                  <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_egreso/{{egreso.id}}" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                    <i class="material-icons">visibility</i>
                  </a>
                  <a class="btn btn-xs btn-danger waves-effect" data-toggle="tooltip" data-placement="top" title="Borrar">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>


    {% endblock content %}

    {% block javascripts %}
    {{ super() }}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

    <script>
      $('.js-basic-example').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });
    </script>
    {% endblock javascripts %}
