{% extends "base_site.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">

    <!-- INFO CARD -->
    <div class="card">
      <div class="header bg-black">
        <h2 class="font-24">Detalle de Egreso</h2>
      </div>

      <div class="body">
        <div class="row mycontainer">
          <div class="col-sm-12 col-md-8">
            <b>
              <p class="font-18">Beneficiario: <span class="font-bold">{{egreso.beneficiario}}</span></p>
            </b>
            <p class="font-18">Id: <span class="font-bold">{{egreso.id}}</span></p>
            <p class="font-18"># de documento: <span class="font-bold">{{egreso.numero_documento}}</span></p>
            <p class="font-18">Fecha de Vencimento: <span class="font-bold">{{egreso.fecha_vencimiento}}</span></p>
            <p class="font-18">Fecha programada de pago: <span class="font-bold">{{egreso.fecha_programada_pago}}</span></p>
          </div>
          <div class="col-sm-12 col-md-4 align-left">
            <b>
              <p class="font-18">Status: 
                  {% if egreso.status == 'pendiente'%}
                  <span class="badge bg-blue">Pendiente</span>
                  {% endif %}
                  {% if egreso.status == 'solicitado'%}
                  <span class="badge bg-green">Solicitado</span>
                  {% endif %}
                  {% if egreso.status == 'parcial'%}
                  <span class="badge bg-orange">Parcial</span>
                  {% endif %}
                  {% if egreso.status == 'liquidado'%}
                  <span class="badge bg-green">Liquidado</span>
                  {% endif %}
                  {% if egreso.status == 'cancelado'%}
                  <span class="badge bg-red">Cancelado</span>
                  {% endif %}
                  {% if egreso.status == 'por_conciliar'%}
                  <span class="badge bg-orange">Por conciliar</span>
                  {% endif %}
              </p>
            </b>
            <b>
              <p class="font-18">Monto total: <span class="font-bold">{{"${:,.2f}".format(egreso.monto_total)}}</span></p>
            </b>
            <p class="font-18">Monto Pagado: <span class="font-bold">{{"${:,.2f}".format(egreso.monto_pagado)}}</span></p>
            <p class="font-18">Monto Pendiente: <span class="font-bold">{{"${:,.2f}".format(egreso.monto_total -
                egreso.monto_pagado)}}</span></p>
            <p class="font-18">Empresa: <span class="font-bold">{{egreso.empresa}}</span></p>

          </div>
        </div>
        <div class="row mycontainer">
          <div class="col-sm-12">
            <div class="border-box">
              <p class="font-18 font-bold">Comentarios</p>
              <p class="font-18">{{egreso.comentario}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- PAGOS PROGRAMADOS TABLE -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header bg-black">
            <h2>
              Pagos Programados
            </h2>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Beneficiario</th>
                    <th>Cuenta</th>
                    <th>Forma de pago</th>
                    <th>Monto</th>
                    <th>Status</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Beneficiario</th>
                    <th>Cuenta</th>
                    <th>Forma de pago</th>
                    <th>Monto</th>
                    <th>Status</th>
                    <th>Acciones</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for pago in pagos %}
                  {% if pago.status == 'solicitado' %}
                  <tr>
                    <td></td>
                    <td>{{pago.id}}</td>
                    <td>{{pago.beneficiario}}</td>
                    <td>{{pago.cuenta.nombre}}</td>
                    <td>{{pago.forma_pago}}</td>
                    <td>{{"${:,.2f}".format(pago.monto_total)}}</td>
                    <td><span class="badge bg-blue">Solicitado</span> </td>
                    <td>
                      <a class="btn btn-xs btn-info waves-effect" href='/egresos/perfil_pago/{{pago.id}}' data-toggle="tooltip"
                        data-placement="top" title="Ver detalle">
                        <i class="material-icons">visibility</i>
                      </a>
                      <a class="btn btn-xs btn-success waves-effect open-generar-pago" data-url="{{ url_for('modales_blueprint.get_data_generar_pago', pago_id=pago.id) }}">
                        <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Generar pago">payment</i>
                      </a>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- PAGOS COMPLETADOS TABLE -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header bg-black">
            <h2>
              Pagos Realizados
              <div class="select-btn-group">
                <span id="open-conciliar-multiple" class="btn bg-deep-purple">Conciliar movimientos</span>
              </div>
            </h2>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                  <tr>
                    <th><input name="select_all" value="1" class="select-all table-check" type="checkbox" /></th>
                    <th>ID</th>
                    <th>Beneficiario</th>
                    <th>Fecha de pago</th>
                    <th>Cuenta</th>
                    <th>Monto</th>
                    <th>Referencia</th>
                    <th>Status</th>
                    <th>Acciones</th>
                  </tr>
                </thead>

                <tbody>
                  {% for pago in pagos %}
                  {% if pago.status != 'solicitado' %}
                  <tr>
                    <td>
                      {% if pago.status != 'conciliado' %}
                      <input name="select_all" value="{{pago.id}}" type="checkbox" class="table-check conciliar-table" />
                      {% endif %}
                    </td>
                    <td>{{pago.id}}</td>
                    <td>{{pago.beneficiario.nombre}}</td>
                    <td>{{pago.fecha_pago}}</td>
                    <td>{{pago.cuenta.nombre}}</td>
                    <td>{{"${:,.2f}".format(pago.monto_total)}}</td>
                    <td>{{pago.referencia_pago}}</td>
                    <td> {% if pago.status == 'conciliado' %}
                      <span class="badge bg-green">Liquidado</span>
                      {% endif %}
                      {% if pago.status == 'por_conciliar' %}
                      <span class="badge bg-orange">Por conciliar</span>
                      {% endif %}
                    </td>
                    <td>
                      <a class="btn btn-xs btn-info waves-effect" href='/egresos/perfil_pago/{{pago.id}}' data-toggle="tooltip"
                        data-placement="top" title="Ver detalle">
                        <i class="material-icons">visibility</i>
                      </a>
                      {% if pago.status != 'conciliado' %}
                      <a class="btn btn-xs bg-deep-purple waves-effect open-conciliar" data-url="{{ url_for('modales_blueprint.get_data_conciliar', pago_id=pago.id) }}">
                        <i data-toggle="tooltip" data-placement="top" title="Mandar a Pagar" class="material-icons">assignment_turned_in</i>
                      </a>
                      {% endif %}
                      </a>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DETALLES TABLE -->

    <div class="card">
      <div class="header bg-black">
        <h2>Detalles</h2>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
            <thead>
              <tr>
                <th>Proveedor</th>
                <th>Centro de Negocios</th>
                <th>Categoría</th>
                <th>Concepto</th>
                <th>Monto</th>
                <th>Descripcíon</th>
                <th># control</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Proveedor</th>
                <th>Centro de Negocios</th>
                <th>Categoría</th>
                <th>Concepto</th>
                <th>Monto</th>
                <th>Descripcíon</th>
                <th># control</th>
                <th>Editar</th>
              </tr>
            </tfoot>
            <tbody>
              {% for detalle in detalles %}
              <tr>
                <td>{{detalle.proveedor}}</td>
                <td>{{detalle.centro_negocios}}</td>
                <td>{{detalle.categoria}}</td>
                <td>{{detalle.concepto}}</td>
                <td>{{"${:,.2f}".format(detalle.monto)}}</td>
                <td>{{detalle.descripcion}}</td>
                <td>{{detalle.numero_control}}</td>
                <th>
                  <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_egreso" data-toggle="tooltip"
                    data-placement="top" title="Editar">
                    <i class="material-icons">edit</i>
                  </a>
                </th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% include "modal_conciliar_movimiento.html" %}
    {% include "modal_generar_pago.html" %}
    
    {% endblock content %}

    {% block javascripts %}
    {{ super() }}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

    <script>
      //Modal generar pago
      $(".open-generar-pago").on("click", function () {
        $.ajax({
          url: $(this).attr("data-url"),
          success: function (data) {
            const html =
              `<div class="row" style="margin-bottom:10px;">
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Beneficiario: <span class="font-bold">${data.beneficiario}</span></p>
                                </div>
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Monto a total: <span class="font-bold">${money.format(data.monto_total)}</span></p>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Cuenta de banco: <span class="font-bold">${data.cuenta}</span></p>
                                </div>
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Forma de pago: <span class="font-bold">${data.forma_pago}</span></p>
                                </div>
                            </div>
                    <input type="hidden" id="pago_id" name="pago_id" value="${data.pago_id}">
                    <hr>
                    `
            let element = document.querySelector(".generar_here");
            element.innerHTML = "";
            element.insertAdjacentHTML('beforeend', html);

            if (data.forma_pago.toLowerCase() == 'cheque') {
              $('#referencia_pago').val(data.numero_cheque);
              let element = document.querySelector(".alert-here");
              element.innerHTML = "";
              const ref =
                `<div class="alert alert-warning alert-dismissible" style="margin-bottom:0" role="alert">
                                Revisar que el folio del cheque sea correcto
                            </div>`
              element.insertAdjacentHTML('beforeend', ref);
            }

            if (data.forma_pago.toLowerCase() == 'transferencia') {
              let element = document.querySelector(".alert-here");
              element.innerHTML = "";
              const ref =
                `<div class="alert alert-info alert-dismissible" style="margin-bottom:0" role="alert">
                                Revisar que la cuenta del beneficiario sea ${data.cuenta_beneficiario}
                            </div>`
              element.insertAdjacentHTML('beforeend', ref);
            }
            $('#modal_generar_pago').modal('show');
          }
        });
      });


    // Conciliado check for modal generar pago
    $("#conciliado_check").change(function () {
        if (this.checked) {
            $("#referencia_conciliacion").fadeIn()
        } else {
            $("#referencia_conciliacion").fadeOut()
        }
    });



    //Modal Conciliar
    $(".open-conciliar").on("click", function () {
        $.ajax({
            url: $(this).attr("data-url"),
            success: function (data) {
                const html =
                    `<div class="row" style="margin-bottom:20px;">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Beneficiario: <span class="font-bold">${data.beneficiario}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Monto a conciliar: <span class="font-bold">${money.format(data.monto_total)}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cuenta de banco: <span class="font-bold">${data.cuenta}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Referencia de pago : <span class="font-bold">${data.referencia}</span></p>
                            </div>
                        </div>
                <input type="hidden" id="pago_id" name="pago_id" value="${data.pago_id}">
                <hr>`
                let element = document.querySelector(".here");
                element.innerHTML = "";
                element.insertAdjacentHTML('beforeend', html);
                $('.selectpicker').selectpicker('refresh');
                $('#modal_conciliar_movimiento').modal('show');
            }
        });
    });

    //Modal Conciliar multiple

    $("#open-conciliar-multiple").on("click", function () {
        let pagos = []
        // Iterate over all checkboxes in the table
        $('.conciliar-table').each(function () {

            // If checkbox is checked
            if (this.checked) {
                pagos.push($(this).val())
            }
        })

        $.get({
            url: '/modales/get_data_conciliar_multiple',
            data: {
                pagos: pagos
            },
            success: function (data) {
                let element = document.querySelector(".here");
                element.innerHTML = "";
                data.forEach( pago => {
                    const html =
                    `<div class="row" style="margin-bottom:20px;">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Beneficiario: <span class="font-bold">${pago.beneficiario}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Monto a conciliar: <span class="font-bold">${money.format(pago.monto_total)}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cuenta de banco: <span class="font-bold">${pago.cuenta}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Referencia de pago : <span class="font-bold">${pago.referencia}</span></p>
                            </div>
                        </div>
                <input type="hidden" id="pago_id" name="pago_id" value="${pago.pago_id}">
                <hr>`
                element.insertAdjacentHTML('beforeend', html);
                $('#modal_conciliar_movimiento').modal('show');
 
                });
                
            }
        });
    });

    //Jquery table
    var table = $('.js-basic-example').DataTable({
        'order': [1, 'asc'],
        "columnDefs": [ {
        "targets": 0,
        "orderable": false
        } ]
    });

    // "Select all" control
    $('.select-all').on('click', function () {
        // Check/uncheck all checkboxes in the table
        var rows = table.rows({
            'search': 'applied'
        }).nodes();
        $('input[type="checkbox"]', rows).prop('checked', this.checked);
    });
    </script>
    {% endblock javascripts %}