{% extends "base_site.html" %}

{% block content %}

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header bg-black">
                  <h2>
                      Lista de Beneficiarios
                  </h2> 
                  <div class="select-btn-group">
                      <span  data-toggle="modal" data-target="#modal_agregar_beneficiario" class="btn btn-warning" >Agregar Beneficiario</span>
                  </div>
              </div>
              <div class="body">
                  <div class="table-responsive">
                      <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                          <thead>
                              <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>RFC</th>
                                <th>Razon Social</th>
                                <th>Cuenta Banco</th>
                                <th>Saldo</th>
                                <th>Status</th>
                                <th>Acciones</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>RFC</th>
                                <th>Razon Social</th>
                                <th>Cuenta Banco</th>
                                <th>Saldo</th>
                                <th>Status</th>
                                <th>Acciones</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              {% for beneficiario in beneficiarios %}
                              <tr>
                                  <td>{{beneficiario.id}}</td>
                                  <td>{{beneficiario.nombre_corto}}</td>
                                  <td>{{beneficiario.RFC}}</td>
                                  <td>{{beneficiario.razon_social}}</td>
                                  <td>{{beneficiario.banco}} / {{beneficiario.cuenta_banco}}</td>
                                  <td>{{beneficiario.saldo}}</td>
                                  <td>
                                      {% if beneficiario.status == 'pendiente'%}
                                      <span class="badge bg-pendiente">Pendiente</span>
                                      {% endif %}
                                      {% if beneficiario.status == 'solicitado'%}
                                      <span class="badge bg-solicitado">Solicitado</span>
                                      {% endif %}
                                      {% if beneficiario.status == 'parcial'%}
                                      <span class="badge bg-parcial">Parcial</span>
                                      {% endif %}
                                      {% if beneficiario.status == 'liquidado'%}
                                      <span class="badge bg-liquidado">Liquidado</span>
                                      {% endif %}
                                      {% if beneficiario.status == 'cancelado'%}
                                      <span class="badge bg-cancelado">Cancelado</span>
                                      {% endif %}
                                      {% if beneficiario.status == 'por_conciliar'%}
                                      <span class="badge bg-por-conciliar">Por conciliar</span>
                                      {% endif %}
                                  </td>
                                  
                                  <td>
                                    <a class="btn btn-xs btn-info waves-effect" href="/administracion/perfil_de_beneficiario/{{beneficiario.id}}" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <a class="btn btn-xs bg-teal waves-effect editar-beneficiario" onclick="edit({{beneficiario.id}})">
                                      <i data-toggle="tooltip" data-placement="top" title="" class="material-icons" data-original-title="Editar">edit</i>
                                  </a>
                                  </td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- #END# Basic Examples -->

{% include "modal_agregar_beneficiario.html" %}
{% include "modal_editar_beneficiario.html" %}
{% endblock content %}

{% block javascripts %}
  {{ super() }}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

<script>
  $('.js-basic-example').DataTable({
    dom: 'Bfrtip',
     responsive: true,
     buttons: [
         'copy', 'csv', 'excel', 'pdf', 'print'
     ]
  });

  function edit(id){
    $.ajax({
              url: "/administracion/get_data_editar_beneficiario/" + id.toString(),
              success: function (data) {
                const html =
                  ` <div class="input-group" style="margin-bottom:20px !important">
                      <div class="row">
                          <div class="col-sm-12">
                              <h4 for="nombre"> Nombre </h4>
                              <input type='text' class="form-control" name="nombre" value="${data.nombre}" data-validation="required" />
                          </div>
                      </div>
                  </div>



                  <h4>Datos Generales</h4>
                  <hr class="mar-t-0">
                  <div class="row" style="margin-bottom:20px !important">
                      <div class="col-sm-12 col-md-6">
                          <label for="razon_social"> Razón Social </label>
                          <input type='text' class="form-control" value="${data.razon_social}" name="razon_social" />
                      </div>
                      <div class="col-sm-12 col-md-6">
                          <label for="RFC"> RFC </label>
                          <input type='text' class="form-control" value= "${data.RFC}"  name="RFC" />
                      </div>
                  </div>

                  <div class="row" style="margin-bottom:20px !important">
                      <div class="col-sm-12">
                          <label for="direccion">Dirección </label>
                          <input type='text' class="form-control" value="${data.direccion}"  name="direccion" />
                      </div>
                  </div>

                  <h4>Datos Bancarios</h4>
                  <hr class="mar-t-0">

                  <div class="row" style="margin-bottom:20px !important">
                      <div class="col-sm-12 col-md-6">
                          <label for="cuenta_banco"> Cuenta de Banco </label>
                          <input type='text' class="form-control"  value="${data.cuenta_banco}" name="cuenta_banco" />
                      </div>
                      <div class="col-sm-12 col-md-6">
                          <label for="banco"> Banco </label>
                          <input type='text' class="form-control" value="${data.banco}" name="banco" />
                      </div>
                  </div>

                  <div style="padding:10px;" class="header">
                      <h4>Contactos del Beneficiario</h4>
                  </div>
                  <div style="padding:10px;" class="body" id="clone">
                  <div class="contactos-here"></div>
                  </div>
                <input type="hidden" id="id" name="id" value="${data.id}">
                <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                <hr>`
                let element = document.querySelector(".beneficiario-here");
                element.innerHTML = "";
                element.insertAdjacentHTML('beforeend', html);
                var head =`<table style="table-layout: fixed;" class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Nombre</th>
                                  <th>Correo</th>
                                  <th>Teléfono</th>
                                  <th>Extensión</th>
                                  <th>Puesto</th>
                              </tr>
                          </thead>
                          <tbody>`
                data.contacto.forEach(contacto => {
                  let data =` <tr>
                                  <td>
                                      <input type="text" value="${contacto.nombre}" name="nombre_contacto" style="width:100%">
                                  </td>
                                  <td>
                                      <input type="email" value="${contacto.correo}" name="correo_contacto" style="width:100%">
                                  </td>
                                  <td>
                                      <input type="tel" value="${contacto.telefono}" name="telefono_contacto" style="width:100%">
                                  </td>
                                  <td>
                                      <input type="number" value="${contacto.extension}" name="extension_contacto" style="width:100%">
                                  </td>
                                  <td>
                                      <input class="form-control" value="${contacto.puesto}" type="text" name="puesto_contacto">
                                  </td>
                              </tr>`
                              head +=data
                });
                const final = head + '</tbody></table>' 
                let elemen = document.querySelector(".contactos-here");
                  elemen.insertAdjacentHTML('beforeend', final);
                $('#modal_editar_beneficiario').modal('show');
              }
            });

  }

           
</script>
{% endblock javascripts %}
