{% extends "base_site.html" %}

{% block content %}

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header bg-black">
                  <h2>
                      Lista de Cientes
                  </h2> 
                  <div class="select-btn-group">
                      <span data-toggle="modal" data-target="#modal_agregar_cliente" class="btn btn-warning f-right"> Agregar Cliente </span>
                  </div>
              </div>
              <div class="body">
                  <div class="table-responsive">
                      <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                          <thead>
                              <tr>
                                <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Banco</th> 
                                <th>Saldo Pendiente</th>
                                <th>Saldo por Conciliar</th>
                                <th>Saldo Cobrado</th>
                                <th>Status</th>
                                <th>Acciones</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Banco</th> 
                                <th>Saldo Pendiente</th>
                                <th>Saldo en Transito</th>
                                <th>Saldo en Cobrado</th>
                                <th>Status</th>
                                <th>Acciones</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              {% for cliente in clientes %}
                              <tr>
                                  <td></td>
                                  <td>{{cliente.id}}</td>
                                  <td>{{cliente.nombre}}</td>
                                  <td>{{cliente.banco}}</td>
                                  <td>{{cliente.saldo_pendiente}}</td>
                                  <td>{{cliente.saldo_por_conciliar}}</td>
                                  <td>{{cliente.saldo_cobrado}}</td>
                                  <td>
                                      {% if cliente.status == 'pendiente'%}
                                      <span class="badge bg-blue">Pendiente</span>
                                      {% endif %}
                                      {% if cliente.status == 'solicitado'%}
                                      <span class="badge bg-green">Solicitado</span>
                                      {% endif %}
                                      {% if cliente.status == 'parcial'%}
                                      <span class="badge bg-orange">Parcial</span>
                                      {% endif %}
                                      {% if cliente.status == 'liquidado'%}
                                      <span class="badge bg-green">Liquidado</span>
                                      {% endif %}
                                      {% if cliente.status == 'cancelado'%}
                                      <span class="badge bg-red">Cancelado</span>
                                      {% endif %}
                                      {% if cliente.status == 'por_conciliar'%}
                                      <span class="badge bg-orange">Por conciliar</span>
                                      {% endif %}
                                  </td>
                                  
                                  <td>
                                    <a class="btn btn-xs btn-info waves-effect" href="/administracion/perfil_de_cliente/{{cliente.id}}" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <a class="btn btn-xs btn-info waves-effect editar-cliente" data-url="/administracion/get_data_editar_cliente/{{cliente.id}}">
                                        <i data-toggle="tooltip" data-placement="top" title="" class="material-icons" data-original-title="Editar">edit</i>
                                    </a>
                                  </td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- #END# Basic Examples -->

{% include "modal_agregar_cliente.html" %}
{% include "modal_editar_cliente.html" %}

{% endblock content %}

{% block javascripts %}
  {{ super() }}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

<script>
  $('.js-basic-example').DataTable({
    dom: 'Bfrtip',
     responsive: true,
     buttons: [
         'copy', 'csv', 'excel', 'pdf', 'print'
     ]
  });


  $(".editar-cliente").on("click", function () {
            $.ajax({
              url: $(this).attr("data-url"),
              success: function (data) {
                console.log(data)
                const html =
                  ` <div class="input-group" style="margin-bottom:20px !important">
                      <div class="row">
                          <div class="col-sm-12">
                              <h4 for="nombre"> Nombre </h4>
                              <input type='text' class="form-control" name="nombre" value=${data.nombre} data-validation="required" />
                          </div>
                      </div>
                  </div>



                  <h4>Datos Generales</h4>
                  <hr class="mar-t-0">
                  <div class="row" style="margin-bottom:20px !important">
                      <div class="col-sm-12 col-md-6">
                          <label for="razon_social"> Razón Social </label>
                          <input type='text' class="form-control" name="razon_social" value=${data.razon_social}  />
                      </div>
                      <div class="col-sm-12 col-md-6">
                          <label for="RFC"> RFC </label>
                          <input type='text' class="form-control" name="RFC" value=${data.RFC}   />
                      </div>
                  </div>

                  <div class="row" style="margin-bottom:20px !important">
                      <div class="col-sm-12">
                          <label for="direccion">Dirección </label>
                          <input type='text' class="form-control" value=${data.direccion}  name="direccion" />
                      </div>
                  </div>

                  <h4>Datos Bancarios</h4>
                  <hr class="mar-t-0">

                  <div class="row" style="margin-bottom:20px !important">
                      <div class="col-sm-12 col-md-6">
                          <label for="cuenta_banco"> Cuenta de Banco </label>
                          <input type='text' class="form-control"  value=${data.cuenta_banco} name="cuenta_banco" />
                      </div>
                      <div class="col-sm-12 col-md-6">
                          <label for="banco"> Banco </label>
                          <input type='text' class="form-control" value=${data.banco} name="banco" />
                      </div>
                  </div>

                  <div style="padding:10px;" class="header">
                      <h4>Contactos del Cliente</h4>
                  </div>
                  <div style="padding:10px;" class="body" id="clone">
                  <div class="contactos-here"></div>
                  </div>
                <input type="hidden" id="id" name="id" value="${data.id}">
                <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                <hr>`
                let element = document.querySelector(".cliente-here");
                element.innerHTML = "";
                element.insertAdjacentHTML('beforeend', html);
                var head =`<table style="table-layout: fixed;" class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Nombre</th>
                                  <th>Correo</th>
                                  <th>Teléfono</th>
                                  <th>Extensión</th>
                                  <th>Puesto</th>
                              </tr>
                          </thead>
                          <tbody>`
                data.contacto.forEach(contacto => {
                  let data =` <tr>
                                  <td>
                                      <input type="text" value="${contacto.nombre}" name="nombre_contacto" style="width:100%">
                                  </td>
                                  <td>
                                      <input type="email" value="${contacto.correo}" name="correo_contacto" style="width:100%">
                                  </td>
                                  <td>
                                      <input type="tel" value="${contacto.telefono}" name="telefono_contacto" style="width:100%">
                                  </td>
                                  <td>
                                      <input type="number" value="${contacto.extension}" name="extension_contacto" style="width:100%">
                                  </td>
                                  <td>
                                      <input class="form-control" value="${contacto.puesto}" type="text" name="puesto_contacto">
                                  </td>
                              </tr>`
                              head +=data
                });
                const final = head + '</tbody></table>' 
                let elemen = document.querySelector(".contactos-here");
                  elemen.insertAdjacentHTML('beforeend', final);
                $('#modal_editar_cliente').modal('show');
              }
            });
          });
</script>
{% endblock javascripts %}
