{% extends "base_site.html" %}

{% block content %}

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header bg-black">
                  <h2>
                      Lista de Cientes
                  </h2> 
                  <div class="select-btn-group">
                      <span data-toggle="modal" data-target="#modal_agregar_cliente" class="btn btn-warning f-right"> Agregar Cliente </span>
                  </div>
              </div>
              <div class="body">
                  <div class="table-responsive">
                      <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                          <thead>
                              <tr>
                                <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Banco</th> 
                                <th>Saldo</th>
                                <th>Status</th>
                                <th>Acciones</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Banco</th> 
                                <th>Saldo</th>
                                <th>Status</th>
                                <th>Acciones</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              {% for cliente in clientes %}
                              <tr>
                                  <td></td>
                                  <td>{{cliente.id}}</td>
                                  <td>{{cliente.nombre}}</td>
                                  <td>{{cliente.banco}}</td>
                                  <td>{{cliente.saldo}}</td>
                                  <td>
                                      {% if cliente.status == 'pendiente'%}
                                      <span class="badge bg-blue">Pendiente</span>
                                      {% endif %}
                                      {% if cliente.status == 'solicitado'%}
                                      <span class="badge bg-green">Solicitado</span>
                                      {% endif %}
                                      {% if cliente.status == 'parcial'%}
                                      <span class="badge bg-orange">Parcial</span>
                                      {% endif %}
                                      {% if cliente.status == 'liquidado'%}
                                      <span class="badge bg-green">Liquidado</span>
                                      {% endif %}
                                      {% if cliente.status == 'cancelado'%}
                                      <span class="badge bg-red">Cancelado</span>
                                      {% endif %}
                                      {% if cliente.status == 'por_conciliar'%}
                                      <span class="badge bg-orange">Por conciliar</span>
                                      {% endif %}
                                  </td>
                                  
                                  <td>
                                    <a class="btn btn-xs btn-info waves-effect" href="/administracion/perfil_de_cliente/{{cliente.id}}" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    </a>
                                  </td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- #END# Basic Examples -->

{% include "modal_agregar_cliente.html" %}

{% endblock content %}

{% block javascripts %}
  {{ super() }}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

<script>
  $('.js-basic-example').DataTable({
    dom: 'Bfrtip',
     responsive: true,
     buttons: [
         'copy', 'csv', 'excel', 'pdf', 'print'
     ]
  });
</script>
{% endblock javascripts %}
