{% extends "base_site.html" %}

{% block content %}


<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="header">
                <span data-toggle="modal" data-target="#modal_agregar_empresa" class="btn btn-warning f-right">Agregar</span>
                <h2>Empresas</h2>
            </div>
            <div class="body">
                <ul>
                    {%for empresa in empresas%}
                    <li>{{empresa}} 
                        <span style="float: right;">  
                            <a class="btn btn-xs btn-info waves-effect open-editar" data-type="Empresa" data-id="{{empresa.id}}" data-value="{{empresa}}" >
                                <i data-toggle="tooltip" data-placement="top" title="Editar" class="material-icons">edit</i>
                            </a>
                        </span>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="header">
                <span data-toggle="modal" data-target="#modal_agregar_forma_pago" class="btn btn-warning f-right">Agregar</span>
                <h2>Formas de pago</h2>
            </div>
            <div class="body">
                <ul>
                    {%for forma_pago in formas_pago%}
                    <li>{{forma_pago}} 
                        <span style="float: right;">  
                            <a class="btn btn-xs btn-info waves-effect open-editar" data-type="Forma de pago" data-id="{{forma_pago.id}}" data-value="{{forma_pago}}" >
                                <i data-toggle="tooltip" data-placement="top" title="Editar" class="material-icons">edit</i>
                            </a>
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="header">
                <span data-toggle="modal" data-target="#modal_agregar_tipo_ingreso" class="btn btn-warning f-right">Agregar</span>
                <h2>Tipo de Ingreso</h2>
            </div>
            <div class="body">
                <ul>
                    {%for tipo_ingreso in tipo_ingresos%}
                    <li>{{tipo_ingreso}} 
                        <span style="float: right;">  
                            <a class="btn btn-xs btn-info waves-effect open-editar" data-type="Tipo de ingreso" data-id="{{tipo_ingreso.id}}" data-value="{{tipo_ingreso}}" >
                                <i data-toggle="tooltip" data-placement="top" title="Editar" class="material-icons">edit</i>
                            </a>
                        </span>
                    </li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="header">
                <span data-toggle="modal" data-target="#modal_agregar_categoria" class="btn btn-warning f-right">Agregar Cuenta de Mayor</span>
                <span data-toggle="modal" data-target="#modal_agregar_concepto" style="margin-right:10px;"  class="btn btn-warning f-right">Agregar Cuenta de Menor</span>
                <h2>Cuentas Mayores y Menores</h2>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <h5>Egresos </h5>
                        <ul>
                            {%for categoria in categorias%}
                              {% if categoria.tipo == "egreso" %}
                                <li> <b>{{categoria.nombre}} </b>
                                    <span style="float: right;">  
                                            <a class="btn btn-xs btn-info waves-effect open-editar" data-type="Categoria" data-id="{{categoria.id}}" data-value="{{categoria}}" >
                                                <i data-toggle="tooltip" data-placement="top" title="Editar" class="material-icons">edit</i>
                                            </a>
                                        </span>
                                    <ul>
                                        {%for concepto in categoria.conceptos%}
                                           
                                            <a class="btn btn-xs btn-info waves-effect open-editar"  data-toggle="tooltip" data-placement="top" title="Editar" 
                                            data-type="Concepto" data-id="{{concepto.id}}" data-value="{{concepto}}"  data-categoria-id="{{categoria.id}}">
                                                <li style="padding:0;">{{concepto}}</li>
                                            </a>
                                        {% endfor %}
                                    </ul>
                                    
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                      </div>
                      <div class="col-sm-12 col-md-6">
                          <h5>Ingresos </h5>
                          <ul>
                              {%for categoria in categorias%}
                              {%if categoria.tipo == "ingreso" %}
                                  <li> <b>{{categoria.nombre}} </b>
                                      <span style="float: right;">  
                                              <a class="btn btn-xs btn-info waves-effect open-editar" data-type="Categoria" data-id="{{categoria.id}}" data-value="{{categoria}}" >
                                                  <i data-toggle="tooltip" data-placement="top" title="Editar" class="material-icons">edit</i>
                                              </a>
                                          </span>
                                      <ul>
                                          {%for concepto in categoria.conceptos%}
                                             
                                              <a class="btn btn-xs btn-info waves-effect open-editar"  data-toggle="tooltip" data-placement="top" title="Editar" 
                                              data-type="Concepto" data-id="{{concepto.id}}" data-value="{{concepto}}"  data-categoria-id="{{categoria.id}}">
                                                  <li style="padding:0;">{{concepto}}</li>
                                              </a>
                                          {% endfor %}
                                      </ul>
                                      
                                  </li>
                                  {% endif %}
                              {% endfor %}
                          </ul>
                      </div>
                  </div>

               
            </div>
        </div>
    </div>
</div>
{% include "modal_editar_multiple.html" %}
{% include "modal_agregar_categoria.html" %}
{% include "modal_agregar_centro.html" %}
{% include "modal_agregar_concepto.html" %}
{% include "modal_agregar_empresa.html" %}
{% include "modal_agregar_forma_pago.html" %}
{% include "modal_agregar_tipo_ingreso.html" %}

{% endblock content %}

{% block stylesheets %} 
{{ super() }}
<style>
   .body li{
        padding: 10px 0;
    }
</style>
{% endblock %}

{% block javascripts %}
{{ super() }}
<script>
    $(".open-editar").on("click", function () {
        let element = document.querySelector(".editar-multiple-here");
        element.innerHTML = "";
        const html = `
                <div class="row" style="margin-bottom:20px !important">
                    <div class="col-sm-12">
                        <label for="nombre"> ${ $(this).attr("data-type")} </label>
                        <input type='text' class="form-control" name="value" value="${ $(this).attr("data-value")}"/>
                    </div>
                    <input type='hidden' class="form-control" name="id" value="${ $(this).attr("data-id")}"/>
                    <input type='hidden' class="form-control" name="type" value="${ $(this).attr("data-type")}"/>
                </div>`
        element.insertAdjacentHTML('beforeend', html);
        if ($(this).attr("data-categoria-id")){
            console.log($(this).attr("data-categoria-id")) 
            const html2 = 
            `<div class="row" style="margin-bottom:20px !important">
                <div class="col-sm-12">
                    <label for="categoria-id"> Cuenta de Mayor</label>
                    <select class="selectpicker" data-live-search="true" 
                        name="categoria-id" title="Seleccione una Cuenta de Mayor..."
                        data-width="100%"  data-validation="required" >
                        {% for categoria in categorias %}
                        <option value="{{categoria.id}}"> {{categoria.nombre }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>`
            element.insertAdjacentHTML('beforeend', html2);
            $('.selectpicker').selectpicker('refresh');
            $('.selectpicker').selectpicker('val', $(this).attr("data-categoria-id"));
        }
        $('#modal_editar_multiple').modal('show');
      
      });

      $('#select-tipo').change(function(){
        if ($(this).val() == "egreso"){
          $('#select-egreso').fadeIn()
          $('#select-ingreso').hide()
        } else{
          $('#select-ingreso').fadeIn()
          $('#select-egreso').hide()
        };
      })
</script>
{% endblock javascripts %}
