{% extends "base_site.html" %}

{% block content %}


<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="header">
                <span data-toggle="modal" data-target="#modal_agregar_empresa" class="btn btn-warning f-right">Agregar</span>
                <h2>Empresas</h2>
            </div>
            <div class="body">
                <ul>
                    {%for empresa in empresas%}
                    <li>{{empresa}}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="header">
                <span data-toggle="modal" data-target="#modal_agregar_forma_pago" class="btn btn-warning f-right">Agregar</span>
                <h2>Formas de pago</h2>
            </div>
            <div class="body">
                <ul>
                    {%for forma_pago in formas_pago%}
                    <li>{{forma_pago}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="header">
                <span data-toggle="modal" data-target="#modal_agregar_tipo_ingreso" class="btn btn-warning f-right">Agregar</span>
                <h2>Tipo de Ingreso</h2>
            </div>
            <div class="body">
                <ul>
                    {%for tipo_ingreso in tipo_ingresos%}
                    <li>{{tipo_ingreso}}</li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="header">
                <span data-toggle="modal" data-target="#modal_agregar_categoria" class="btn btn-warning f-right">Agregar categoría</span>
                <span data-toggle="modal" data-target="#modal_agregar_concepto" style="margin-right:10px;"  class="btn btn-warning f-right">Agregar concepto</span>
                <h2>Categorías</h2>
            </div>
            <div class="body">
                <ul>
                    {%for categoria in categorias%}
                        <li> <b>{{categoria}} </b>
                            <ul>
                                {%for concepto in categoria.conceptos%}
                                    <li>{{concepto}}</li>
                                {% endfor %}
                            </ul>

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% include "modal_agregar_categoria.html" %}
{% include "modal_agregar_centro.html" %}
{% include "modal_agregar_concepto.html" %}
{% include "modal_agregar_empresa.html" %}
{% include "modal_agregar_forma_pago.html" %}
{% include "modal_agregar_tipo_ingreso.html" %}

{% endblock content %}

{% block javascripts %}
{{ super() }}
{% endblock javascripts %}