{% extends "base_site.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
      
            <!-- INFO CARD -->
        <div class="card">
          <div class="header bg-black">
            <h2 class="font-24">{{cliente.nombre}}</h2>
          </div>

          <div class="body">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
              <li role="presentation" class="active"><a href="#datos" data-toggle="tab">Datos generales</a></li>
              <li role="presentation"><a href="#contactos" data-toggle="tab">Contactos</a></li>
              <li role="presentation"><a href="#categorias" data-toggle="tab">Categorías</a></li>
              <li role="presentation"><a href="#comentarios" data-toggle="tab">Comentarios</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="datos">
                <div class="row mycontainer">
                  <div class="col-sm-12 col-md-4">
                    <p class="font-18">Cliente: <span class="font-bold">{{cliente.nombre}}</span></p>
                    <p class="font-18">RFC: <span class="font-bold">{{cliente.RFC}}</span></p>
                    <p class="font-18">Direccion: <span class="font-bold">{{cliente.direccion}}</span></p>
                    <p class="font-18">Razón social: <span class="font-bold">{{cliente.razon_social}}</span></p>


                  </div>
                  <div class="col-sm-12 col-md-4 align-left">

                    <p class="font-18">Status:
                      {% if cliente.status == 'pendiente'%}
                      <span class="badge bg-orange">Pendiente</span>
                      {% endif %}
                      {% if cliente.status == 'conciliado'%}
                      <span class="badge bg-green">Liquidado</span>
                      {% endif %}
                      {% if cliente.status == 'cancelado'%}
                      <span class="badge bg-red">Cancelado</span>
                      {% endif %}
                      {% if cliente.status == 'por_conciliar'%}
                      <span class="badge bg-blue">Por conciliar</span>
                      {% endif %}
                    </p>
                    <p class="font-18">Banco: <span class="font-bold">{{cliente.banco}}</span></p>
                    <p class="font-18">Cuenta: <span class="font-bold">{{cliente.cuenta_banco}}</span></p>
                  </div>
                  
                  <div class="col-sm-12 col-md-4 align-left">

                    <p class="font-18">Saldo Pendiente:  <span class="font-bold"> $ {{cliente.saldo_pendiente}}</span></p>
                    <p class="font-18">Saldo por Conciliar:  <span class="font-bold"> $ {{cliente.saldo_por_conciliar}}</span></p>
                    <p class="font-18">Saldo Cobrado:  <span class="font-bold"> $ {{cliente.saldo_cobrado}}</span></p>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="contactos">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Correo</th>
                      <th>Teléfono</th>
                      <th>Extensión</th>
                      <th>Puesto</th>
                      <th>Editar</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for contacto in cliente.contacto %}
                    <tr>
                      <td>{{contacto.nombre}}</td>
                      <td>{{contacto.correo}}</td>
                      <td>{{contacto.telefono}}</td>
                      <td>{{contacto.extension}}</td>
                      <td>{{contacto.puesto}}</td>

                      <td>
                        <a class="btn btn-xs btn-info waves-effect" href="/" data-toggle="tooltip" data-placement="top"
                          title="Editar Contacto">
                          <i class="material-icons">visibility</i>
                        </a>
                      </td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="categorias">
                <span data-toggle="modal" data-target="#modal_agregar_categoria_cliente" class="btn btn-success f-right">Asignar
                  categoría</span>
                <ul>
                  {%for categoria in cliente.categorias%}
                  <li> <b>{{categoria}} </b>
                    <ul>
                      {%for concepto in categoria.conceptos%}
                      <li>{{concepto}}</li>
                      {% endfor %}
                    </ul>

                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="comentario">
                <span data-toggle="modal" data-target="#modal_agregar_categoria_cliente" class="btn btn-success f-right">Asignar
                  categoría</span>
                <ul>
                  {%for categoria in cliente.categorias%}
                  <li> <b>{{categoria}} </b>
                    <ul>
                      {%for concepto in categoria.conceptos%}
                      <li>{{concepto}}</li>
                      {% endfor %}
                    </ul>

                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="comentarios">
                <div class="row mycontainer">
                  <div class="col-sm-12">
                    <div class="border-box">
                      <span class="btn btn-info open-editar-comentario " style="float:right" data-type="Cliente"  data-id="{{cliente.id}}" data-value="{{cliente.comentarios}}">Editar</span>
                      <p class="font-18 font-bold">Comentarios</p>
                      <p class="font-18" style="white-space:pre;">{{cliente.comentarios}} </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


    <!-- PAGOS -->
    
    <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="header bg-black">
                <h2>
                  Documentos Enviados
                </h2>
                <div class="select-btn-group">
                  <span class="btn btn-primary" id="open-pagar-multiple" data-toggle="modal" data-target="#modal_solicitar_multiple">Pagar</span>
                  <span class="btn btn-warning" data-toggle="modal" data-target="#modal_reprogramar_fecha_multiple">Reprogramar
                    fecha</span>
                </div>
              </div>
              <div class="body">

                <div class="table-responsive">

                  <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0"
                    width="100%">

                    <thead>
                      <tr>
                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox" class="table-check " /></th>
                        <th>ID</th>
                        <th>Fecha programada</th>
                        <th>Fecha de vencimiento</th>
                        <th>Monto</th>
                        <th># de documento</th>
                        <th>Status</th>
                        <th style="width: 132px;">Acciones</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>
                        </th>
                        <th>ID</th>
                        <th>Fecha programada</th>
                        <th>Fecha de vencimiento</th>
                        <th>Monto</th>
                        <th># de documento</th>
                        <th>Status</th>
                        <th>Acciones</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for ingreso in cliente.ingresos %}
                      <tr>
                        <td>
                          {% if ingreso.status == 'pendiente' or ingreso.status == 'parcial' %}
                          <input name="select_all" value="{{ingreso.id}}" type="checkbox" class="table-check pendientes-table" />
                          {% endif %}

                        </td>
                        <td>{{ingreso.id}}</td>
                        <td>{{ingreso.fecha_programada_pago}}</td>
                        <td>{{ingreso.fecha_vencimiento}}</td>
                        <td>{{"${:,.2f}".format(ingreso.monto_total)}}</td>
                        <td>{{ingreso.numero_documento}}</td>
                        <td>
                          {% if ingreso.status == 'conciliado'%}
                          <span class="badge bg-green">Liquidado</span>
                          {% endif %}
                          {% if ingreso.status == 'cancelado'%}
                          <span class="badge bg-red">Cancelado</span>
                          {% endif %}
                          {% if ingreso.status == 'por_conciliar'%}
                          <span class="badge bg-orange">Por conciliar</span>
                          {% endif %}
                          {% if ingreso.status == 'pendiente'%}
                          <span class="badge bg-blue">Pendiente</span>
                          {% endif %}
                          {% if ingreso.status == 'solicitado'%}
                          <span class="badge bg-green">Solicitado</span>
                          {% endif %}
                          {% if ingreso.status == 'parcial'%}
                          <span class="badge bg-orange">Parcial</span>
                          {% endif %}
                        </td>
                        <td>
                          <a class="btn btn-xs btn-info waves-effect" href="/ingresos/perfil_ingreso/{{ingreso.id}}"
                            data-toggle="tooltip" data-placement="top" title="Ver detalle">
                            <i class="material-icons">visibility</i>
                          </a>
                          {% if ingreso.status == 'pendiente' or ingreso.status == 'parcial' %}
                          <a class="btn js-modal-buttons btn-xs btn-success waves-effect open-cobrar" data-toggle="modal"
                            data-url="{{ url_for('ingresos_blueprint.get_data_pagar', ingreso_id=ingreso.id) }}">
                            <i data-toggle="tooltip" data-placement="top" title="Marcar como Recibido" class="material-icons">payment</i>
                          </a>
                          <a class="btn btn-xs btn-warning waves-effect open-reprogramar" data-toggle="modal"
                            data-target="#modal_reprogramar_fecha" data-id="{{ingreso.id}}">
                            <i data-toggle="tooltip" data-placement="top" title="Reprogramar fecha de pago" class="material-icons">update</i>
                          </a>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>



    <!-- PAGOS TABLE -->
    <div class="card">
          <div class="header bg-black">
            <h2>Pagos de Cliente</h2>
            <div class="select-btn-group">
              <span id="open-conciliar-multiple" class="btn bg-deep-purple">Conciliar movimientos</span>
            </div>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                  <tr>
                    <th><input name="select_all2" value="1" class="select-all table-check" type="checkbox" /></th>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Forma</th>
                    <th>Cuenta</th>
                    <th>Referencia</th>
                    <th>Monto</th>
                    <th>Status</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Forma</th>
                    <th>Cuenta</th>
                    <th>Referencia</th>
                    <th>Monto</th>
                    <th>Status</th>
                    <th>Acciones</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for pago in cliente.pagos_ingresos %}
                  <tr>
                    <td>
                      {% if pago.status == 'por_conciliar' %}
                      <input name="select_all" value="{{pago.id}}" type="checkbox" class="table-check conciliar-table" />
                      {% endif %}
                    </td>
                    <td>{{pago.id}}</td>
                    <td>{{pago.fecha_pago}}</td>
                    <td>{{pago.forma_pago}}</td>
                    <td>{{pago.cuenta}}</td>
                    <td>{{pago.referencia_pago}}</td>
                    <td>{{"${:,.2f}".format(pago.monto_total)}}</taltd>
                    <td>
                      {% if pago.status == 'solicitado' %}
                      <span class="badge bg-blue">Solicitado</span>
                      {% endif %}
                      {% if pago.status == 'conciliado' %}
                      <span class="badge bg-green">Liquidado</span>
                      {% endif %}
                      {% if pago.status == 'por_conciliar' %}
                      <span class="badge bg-orange">Por conciliar</span>
                      {% endif %}
                      {% if pago.status == 'cancelado' %}
                      <span class="badge bg-red">Cancelado</span>
                      {% endif %}
                    </td>
                    <td>
                      <a class="btn btn-xs btn-info waves-effect" href='/ingresos/perfil_pago_ingreso/{{pago.id}}' data-toggle="tooltip"
                        data-placement="top" title="Ver detalle">
                        <i class="material-icons">visibility</i>
                      </a>
                      {% if pago.status == 'solicitado' %}
                      <a class="btn btn-xs btn-success waves-effect open-cobrar" data-url="{{ url_for('ingresos_blueprint.get_data_generar_pago', pago_id=pago.id) }}">
                        <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Generar pago">payment</i>
                      </a>
                      <a class="btn btn-xs btn-danger waves-effect delete-pago" data-type="confirm" data-url="{{ url_for('ingresos_blueprint.borrar_pago', pago_id=pago.id) }}">
                        <i data-toggle="tooltip" data-placement="top" title="Borrar" class="material-icons">delete</i>
                      </a>
                      {% endif %}
                      {% if pago.status == 'por_conciliar' %}
                      <a class="btn btn-xs bg-deep-purple waves-effect open-conciliar" data-url="{{ url_for('ingresos_blueprint.get_data_conciliar_pago_ingreso', pago_id=pago.id) }}">
                        <i data-toggle="tooltip" data-placement="top" title="Conciliar Movimiento" class="material-icons">assignment_turned_in</i>
                      </a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>



{% include "modal_cobrar_cuentas_por_cobrar.html" %}
{% include "modal_pagar_multiple.html" %}
{% include "modal_reprogramar_fecha.html" %}
{% include "modal_reprogramar_fecha_multiple.html" %}
{% include "modal_conciliar_movimiento_ingreso.html" %}
{% include "modal_conciliar_ingreso.html" %}
{% include "modal_agregar_categoria_cliente.html" %}
{% include "modal_editar_comentario.html" %}


{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/sweetalert/sweetalert.min.js') }}"></script>
    
    <script> 
    

  //solcitar pagar un ingreso
  $(".open-cobrar").on("click", function () {
    $.ajax({
      url: $(this).attr("data-url"),
      success: function (data) {  
        const html =
          `<div class="row mar-b-10" >
                    <div class="col-sm-12 col-md-6 ">
                      <p class="font-18">Cliente:  <span class="font-bold">${data.cliente}</span></p>
                    </div>
                    <div class="col-sm-12 col-md-6 ">
                      <p class="font-18"># de documento: <span class="font-bold">${data.numero_documento}</span></p>
                    </div>
                  </div>
                  <div class="row mar-b-10">
                    <div class="col-sm-12 col-md-6 ">
                      <p class="font-18">Monto pendiente:  <span class="font-bold">$ ${data.monto_total - data.monto_pagado}</span></p>
                    </div>
                  </div>
                  <input type="hidden" id="ingreso_id" name="ingreso_id" value="${data.ingreso_id}">
                  <hr>`
        let element = document.querySelector(".detalle-here");
        element.innerHTML = "";
        element.insertAdjacentHTML('beforeend', html);
        $('#modal_cobrar_cuentas_por_cobrar').modal('show');
      }
    });
  });


//Modal Conciliar
    $(".open-conciliar").on("click", function () {
        $.ajax({
            url: $(this).attr("data-url"),
            success: function (data) {
                const html =
                    `<div class="row" style="margin-bottom:20px;">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cliente: <span class="font-bold">${data.cliente}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Monto a conciliar: <span class="font-bold">${money.format(data.monto_total)}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cuenta de banco: <span class="font-bold">${data.cuenta}</span></p>
                            </div>
                        </div>
                <input type="hidden" id="pago_id" name="pago_id" value="${data.pago_id}">
                <hr>`
                let element = document.querySelector(".here");
                element.innerHTML = "";
                element.insertAdjacentHTML('beforeend', html);
                $('.selectpicker').selectpicker('refresh');
                $('#modal_conciliar_movimiento_ingreso').modal('show');
            }
        });
    });


      //monto parcial checkbox
      $("#parcial").change(function () {
        if (this.checked) {
          $("#monto_parcial").fadeIn();
        } else {
          $("#monto_parcial").fadeOut();
        }
      });




      // Conciliado check for modal generar pago
    $("#conciliado_check").change(function () {
    if (this.checked) {
          $("#referencia_conciliacion").prop('disabled', false);
        } else {
          $("#referencia_conciliacion").prop('disabled', true);
        }
      });


 

      //Jquery table
      var table2 = $('.js-basic-example2').DataTable({
        'order': [1, 'asc'],
        "columnDefs": [{
          "targets": 0,
          "orderable": false
        }]
      });

      // "Select all" control
      $('.select-all2').on('click', function () {
        // Check/uncheck all checkboxes in the table
        var rows = table2.rows({
          'search': 'applied'
        }).nodes();
        $('input[type="checkbox"]', rows).prop('checked', this.checked);
      });

      $(".open-editar-comentario").on("click", function () {
        let element = document.querySelector(".editar-comentario-here");
        element.innerHTML = "";
        const html = `
                <div class="row" style="margin-bottom:20px !important">
                    <div class="col-sm-12">
                        <label for="comentario"> Comentario</label>
                        <textarea class="form-control" type="text" name="comentario">${ $(this).attr("data-value")}</textarea>
                    </div>
                    <input type='hidden' class="form-control" name="id" value="${ $(this).attr("data-id")}"/>
                    <input type='hidden' class="form-control" name="type" value="${ $(this).attr("data-type")}"/>
                    <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                </div>`
        element.insertAdjacentHTML('beforeend', html);
        $('#modal_editar_comentario').modal('show');
      });


    </script>
{% endblock javascripts %}
  