{% extends "base_site.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">


    <div class="row">
      <div class="col-sm-12">

        <!-- INFO CARD -->
        <div class="card">
          <div class="header bg-black">
            <h2 class="font-24">{{beneficiario.nombre}}</h2>
            <div class="select-btn-group">
                <span class="btn btn-info editar-beneficiario" style="margin-right: 10px;" data-url="/administracion/get_data_editar_beneficiario/{{beneficiario.id}}">Editar</span>
              </div>
          </div>

          <div class="body">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
              <li role="presentation" class="active"><a href="#datos" data-toggle="tab">Datos generales</a></li>
              <li role="presentation"><a href="#saldos" data-toggle="tab">Saldos</a></li>
              <li role="presentation"><a href="#contactos" data-toggle="tab">Contactos</a></li>
              <li role="presentation"><a href="#categorias" data-toggle="tab">Categorías</a></li>
              <li role="presentation"><a href="#comentarios" data-toggle="tab">Comentarios</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="datos">
                <div class="row mycontainer">
                  <div class="col-sm-12 col-md-6">
                    <p class="font-18">Beneficiario: <span class="font-bold">{{beneficiario.nombre}}</span></p>
                    <p class="font-18">RFC: <span class="font-bold">{{beneficiario.RFC}}</span></p>
                    <p class="font-18">Direccion: <span class="font-bold">{{beneficiario.direccion}}</span></p>
                    <p class="font-18">Razón social: <span class="font-bold">{{beneficiario.razon_social}}</span></p>


                  </div>
                  <div class="col-sm-12 col-md-6 align-left">

                    <p class="font-18">Status:
                      {% if beneficiario.status == 'pendiente'%}
                      <span class="badge bg-pendiente">Pendiente</span>
                      {% endif %}
                      {% if beneficiario.status == 'solicitado'%}
                      <span class="badge bg-solicitado">Solicitado</span>
                      {% endif %}
                      {% if beneficiario.status == 'parcial'%}
                      <span class="badge bg-parcial">Parcial</span>
                      {% endif %}
                      {% if beneficiario.status == 'liquidado'%}
                      <span class="badge bg-liquidado">Liquidado</span>
                      {% endif %}
                      {% if beneficiario.status == 'cancelado'%}
                      <span class="badge bg-cancelado">Cancelado</span>
                      {% endif %}
                      {% if beneficiario.status == 'por_conciliar'%}
                      <span class="badge bg-por-conciliar">Por conciliar</span>
                      {% endif %}
                    </p>
                    <p class="font-18">Banco: <span class="font-bold">{{beneficiario.banco}}</span></p>
                    <p class="font-18">Cuenta: <span class="font-bold">{{beneficiario.cuenta_banco}}</span></p>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="saldos">
                <div class="row mycontainer">
                  <div class="col-sm-12 col-md-6">
                    <p class="font-18">Documentos recibidos: <span
                        class="font-bold">{{documentos_recibidos}}</span></p>
                    <p class="font-18">Docuemtos liquidados: <span
                        class="font-bold">{{documentos_liquidados}}</span></p>
                    <p class="font-18">Docuemtos cancelados: <span
                      class="font-bold">{{documentos_cancelados}}</span></p>
                    <p class="font-18">Docuemtos pendientes: <span
                      class="font-bold">{{documentos_pendientes}}</span></p>
                      <p class="font-18">Docuemtos solicitados: <span
                        class="font-bold">{{documentos_solicitados}}</span></p>
                        <p class="font-18">Docuemtos parciales: <span
                          class="font-bold">{{documentos_parciales}}</span></p>
                  </div>
                  <div class="col-sm-12 col-md-6 align-left">
                      <p class="font-18">Saldo Total: <span
                        class="font-bold">{{"${:,.2f}".format(saldo_total)}}</span></p>
                    <p class="font-18">Saldo pendiente: <span
                        class="font-bold">{{"${:,.2f}".format(saldo_pendiente)}}</span></p>
                    <p class="font-18">Saldo en solicitado: <span
                        class="font-bold">{{"${:,.2f}".format(saldo_solicitado)}}</span></p>
                    <p class="font-18">Saldo en tránsito: <span
                        class="font-bold">{{"${:,.2f}".format(saldo_transito)}}</span></p>
                    <p class="font-18">Saldo pagado: <span
                      class="font-bold">{{"${:,.2f}".format(saldo_pagado)}}</span></p>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="contactos">
                  <span data-toggle="modal" data-target="#modal_agregar_contacto" class="btn btn-success f-right">Agregar</span>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Correo</th>
                      <th>Teléfono</th>
                      <th>Extensión</th>
                      <th>Puesto</th>
                      <th>Borrar</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for contacto in beneficiario.contacto %}
                    <tr>
                      <td>{{contacto.nombre}}</td>
                      <td>{{contacto.correo}}</td>
                      <td>{{contacto.telefono}}</td>
                      <td>{{contacto.extension}}</td>
                      <td>{{contacto.puesto}}</td>

                      <td>
                        <a class="btn btn-xs btn-danger waves-effect delete-contacto" data-toggle="tooltip" data-placement="top"
                          title="Borrar Contacto"  data-url="{{ url_for('administracion_blueprint.borrar_contacto', contacto_id=contacto.id) }}">
                          <i class="material-icons">delete</i>
                        </a>
                      </td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="categorias">
                <span data-toggle="modal" data-target="#modal_agregar_categoria_beneficiario" class="btn btn-success f-right">Asignar
                  categoría</span>
                <ul>
                  {%for categoria in beneficiario.categorias%} 
                  
                  <li > <b class="btn bg-red delete-categoria" data-toggle="tooltip" data-placement="top" title="Desasignar categoría"
                    data-type="confirm" data-url="{{ url_for('administracion_blueprint.borrar_categoria_beneficiario', categoria_id=categoria.id, beneficiario_id=beneficiario.id) }}">{{categoria}} </b>
                    <ul  >
                      {%for concepto in categoria.conceptos%}
                      <li>{{concepto}}</li>
                      {% endfor %}
                    </ul>

                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="comentarios">
                <div class="row mycontainer">
                  <div class="col-sm-12">
                    <div class="border-box">
                      <span class="btn btn-info open-editar-comentario " style="float:right" data-type="Beneficiario"  data-id="{{beneficiario.id}}" data-value="{{beneficiario.comentarios}}">Editar</span>
                      <p class="font-18 font-bold">Comentarios</p>
                      <p class="font-18" style="white-space:pre;">{{beneficiario.comentarios}} </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Egresos Pendientes y parciales -->
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="header bg-pendiente ">
                <h2>
                    Documentos por Pagar 
                </h2>
                <div class="select-btn-group">
                  <span class="btn btn-primary" id="open-pagar-multiple" data-toggle="modal" data-target="#modal_solicitar_multiple">Pagar</span>
                  <span class="btn btn-warning" data-toggle="modal" data-target="#modal_reprogramar_fecha_multiple">Reprogramar
                    fecha</span>
                </div>
              </div>
              <div class="body">

                <div class="table-responsive">

                  <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0"
                    width="100%">

                    <thead>
                      <tr>
                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox" class="table-check" /></th>
                        <th>ID</th>
                        <th>Fecha programada</th>
                        <th>Fecha de vencimiento</th>
                        <th>Monto</th>
                        <th># de documento</th>
                        <th>Status</th>
                        <th style="width: 132px;">Acciones</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>
                        </th>
                        <th>ID</th>
                        <th>Fecha programada</th>
                        <th>Fecha de vencimiento</th>
                        <th>Monto</th>
                        <th># de documento</th>
                        <th>Status</th>
                        <th>Acciones</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for egreso in beneficiario.egresos %}
                      {% if egreso.status == 'pendiente' or egreso.status == 'parcial' %}
                      <tr>
                        <td>
                          <input name="select_all" value="{{egreso.id}}" type="checkbox" class="table-check pendientes-table" />
                        </td>
                        <td>{{egreso.id}}</td>
                        <td>{{egreso.fecha_programada_pago}}</td>
                        <td>{{egreso.fecha_vencimiento}}</td>
                        <td>{{"${:,.2f}".format(egreso.monto_total)}}</td>
                        <td>{{egreso.numero_documento}}</td>
                        <td>
                          {% if egreso.status == 'pendiente'%}
                          <span class="badge bg-pendiente">Pendiente</span>
                          {% endif %}
                          {% if egreso.status == 'parcial'%}
                          <span class="badge bg-parcial">Parcial</span>
                          {% endif %}
                        </td>
                        <td>
                          <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_egreso/{{egreso.id}}"
                            data-toggle="tooltip" data-placement="top" title="Ver detalle">
                            <i class="material-icons">visibility</i>
                          </a>
                          {% if egreso.status == 'pendiente' or egreso.status == 'parcial' %}
                          <a class="btn js-modal-buttons btn-xs btn-success waves-effect open-pagar" data-toggle="modal"
                            data-url="{{ url_for('egresos_blueprint.get_data_pagar', egreso_id=egreso.id) }}">
                            <i data-toggle="tooltip" data-placement="top" title="Solicitar pago" class="material-icons">payment</i>
                          </a>
                          <a class="btn btn-xs btn-warning waves-effect open-reprogramar" data-toggle="modal"
                            data-target="#modal_reprogramar_fecha" data-id="{{egreso.id}}">
                            <i data-toggle="tooltip" data-placement="top" title="Reprogramar fecha de pago" class="material-icons">update</i>
                          </a>
                          {% endif %}
                        </td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Egresos Solicitados -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="header bg-solicitado">
                  <h2>
                      Documentos con Pago Programado
                  </h2>
                </div>
                <div class="body">
  
                  <div class="table-responsive">
  
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0"
                      width="100%">
  
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Fecha programada</th>
                          <th>Fecha de vencimiento</th>
                          <th>Monto</th>
                          <th># de documento</th>
                          <th>Status</th>
                          <th style="width: 132px;">Acciones</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>ID</th>
                          <th>Fecha programada</th>
                          <th>Fecha de vencimiento</th>
                          <th>Monto</th>
                          <th># de documento</th>
                          <th>Status</th>
                          <th>Acciones</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        {% for egreso in beneficiario.egresos %}
                        {% if egreso.status == 'solicitado'  %}
                        <tr>
                          <td>{{egreso.id}}</td>
                          <td>{{egreso.fecha_programada_pago}}</td>
                          <td>{{egreso.fecha_vencimiento}}</td>
                          <td>{{"${:,.2f}".format(egreso.monto_total)}}</td>
                          <td>{{egreso.numero_documento}}</td>
                          <td>
                            <span class="badge bg-solicitado">Solicitado</span>
                          </td>
                          <td>
                            <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_egreso/{{egreso.id}}"
                              data-toggle="tooltip" data-placement="top" title="Ver detalle">
                              <i class="material-icons">visibility</i>
                            </a>
                          </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- Egresos Pagados -->
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="header bg-liquidado ">
                <h2>
                    Documentos Pagados
                </h2>
              </div>
              <div class="body">

                <div class="table-responsive">

                  <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0"
                    width="100%">

                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Fecha programada</th>
                        <th>Fecha de vencimiento</th>
                        <th>Monto</th>
                        <th># de documento</th>
                        <th>Status</th>
                        <th style="width: 132px;">Acciones</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>ID</th>
                        <th>Fecha programada</th>
                        <th>Fecha de vencimiento</th>
                        <th>Monto</th>
                        <th># de documento</th>
                        <th>Status</th>
                        <th>Acciones</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for egreso in beneficiario.egresos %}
                      {% if egreso.status == 'liquidado' or egreso.status == 'cancelado' or egreso.status == 'por_conciliar'%}
                      <tr>
                        <td>{{egreso.id}}</td>
                        <td>{{egreso.fecha_programada_pago}}</td>
                        <td>{{egreso.fecha_vencimiento}}</td>
                        <td>{{"${:,.2f}".format(egreso.monto_total)}}</td>
                        <td>{{egreso.numero_documento}}</td>
                        <td>
                          {% if egreso.status == 'liquidado'%}
                          <span class="badge bg-liquidado ">Liquidado</span>
                          {% endif %}
                          {% if egreso.status == 'cancelado'%}
                          <span class="badge bg-cancelado">Cancelado</span>
                          {% endif %}
                          {% if egreso.status == 'por_conciliar'%}
                          <span class="badge bg-por-conciliar">Por conciliar</span>
                          {% endif %}
                        </td>
                        <td>
                          <a class="btn btn-xs btn-info waves-effect" href="/egresos/perfil_egreso/{{egreso.id}}"
                            data-toggle="tooltip" data-placement="top" title="Ver detalle">
                            <i class="material-icons">visibility</i>
                          </a>
                        </td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- #END# Basic Examples -->


        <!-- PAGOS TABLE -->
        <div class="card">
          <div class="header">
            <h2>Pagos a Beneficiario</h2>
            <div class="select-btn-group">
              <span id="open-conciliar-multiple" class="btn bg-deep-purple">Conciliar movimientos</span>
            </div>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example2 dataTable">
                <thead>
                  <tr>
                    <th><input name="select_all2" value="1" class="select-all2 table-check" type="checkbox" /></th>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Forma</th>
                    <th>Cuenta</th>
                    <th>Referencia</th>
                    <th>Monto</th>
                    <th>Status</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Forma</th>
                    <th>Cuenta</th>
                    <th>Referencia</th>
                    <th>Monto</th>
                    <th>Status</th>
                    <th>Acciones</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for pago in beneficiario.pagos %}
                  <tr>
                    <td>
                      {% if pago.status == 'por_conciliar' %}
                      <input name="select_all" value="{{pago.id}}" type="checkbox" class="table-check conciliar-table" />
                      {% endif %}
                    </td>
                    <td>{{pago.id}}</td>
                    <td>{{pago.fecha_pago}}</td>
                    <td>{{pago.forma_pago}}</td>
                    <td>{{pago.cuenta}}</td>
                    <td>{{pago.referencia_pago}}</td>
                    <td>{{"${:,.2f}".format(pago.monto_total)}}</taltd>
                    <td>
                      {% if pago.status == 'solicitado' %}
                      <span class="badge bg-solicitado">Solicitado</span>
                      {% endif %}
                      {% if pago.status == 'conciliado' %}
                      <span class="badge bg-liquidado">Liquidado</span>
                      {% endif %}
                      {% if pago.status == 'por_conciliar' %}
                      <span class="badge bg-por-conciliar">Por conciliar</span>
                      {% endif %}
                      {% if pago.status == 'cancelado' %}
                      <span class="badge bg-cancelado">Cancelado</span>
                      {% endif %}
                    </td>
                    <td>
                      <a class="btn btn-xs btn-info waves-effect" href='/egresos/perfil_pago/{{pago.id}}' data-toggle="tooltip"
                        data-placement="top" title="Ver detalle">
                        <i class="material-icons">visibility</i>
                      </a>
                      {% if pago.status == 'solicitado' %}
                      <a class="btn btn-xs btn-success waves-effect open-generar-pago" data-url="{{ url_for('egresos_blueprint.get_data_generar_pago', pago_id=pago.id) }}">
                        <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Generar pago">payment</i>
                      </a>
                      <a class="btn btn-xs btn-danger waves-effect delete-pago" data-type="confirm" data-url="{{ url_for('egresos_blueprint.borrar_pago', pago_id=pago.id) }}">
                        <i data-toggle="tooltip" data-placement="top" title="Borrar" class="material-icons">delete</i>
                      </a>
                      {% endif %}
                      {% if pago.status == 'por_conciliar' %}
                      <a class="btn btn-xs bg-deep-purple waves-effect open-conciliar" data-url="{{ url_for('egresos_blueprint.get_data_conciliar', pago_id=pago.id) }}">
                        <i data-toggle="tooltip" data-placement="top" title="Conciliar Movimiento" class="material-icons">assignment_turned_in</i>
                      </a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        


        {% include "modal_pagar.html" %}
        {% include "modal_pagar_multiple.html" %}
        {% include "modal_reprogramar_fecha.html" %}
        {% include "modal_reprogramar_fecha_multiple.html" %}
        {% include "modal_conciliar_movimiento.html" %}
        {% include "modal_generar_pago.html" %}
        {% include "modal_agregar_categoria_beneficiario.html" %}
        {% include "modal_editar_comentario.html" %}
        {% include "modal_agregar_contacto.html" %}
        {% include "modal_editar_beneficiario.html" %}
        {% endblock content %}

        {% block javascripts %}
        {{ super() }}
        <!-- Jquery DataTable Plugin Js -->
        <script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/sweetalert/sweetalert.min.js') }}"></script>
        <script>
          //reprogramar un egreso
          $("#open-reprogramar").on("click", function () {
            const html =
              `  <input type="hidden" id="egreso_id" name="egreso_id" value="${$(this).attr("data-id")}">`
            let element = document.querySelector(".egreso_id_here");
            element.innerHTML = "";
            element.insertAdjacentHTML('beforeend', html);
          });


          //reprogramar multiple
          $('#reprogramar_multiple').on('submit', function (e) {
            // Iterate over all checkboxes in the table
            let egresos = []
            $('.pendientes-table').each(function () {
              // If checkbox is checked
              if (this.checked) {
                egresos.push($(this).val())
              }
            })
            $.get({
              url: '/egresos/reprogramar_fecha_multiple',
              data: {
                egresos: egresos,
                fecha: $('#fecha').val()
              },
              success: function (data) {
                location.reload();
              }
            });
            // Prevent actual form submission
            e.preventDefault();
          });

          //solcitar pagar un egreso
          $(".open-pagar").on("click", function () {
            $.ajax({
              url: $(this).attr("data-url"),
              success: function (data) {

                const html =
                  `<div class="row mar-b-10" >
                              <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Beneficiario:  <span class="font-bold">${data.beneficiario}</span></p>
                              </div>
                              <div class="col-sm-12 col-md-6 ">
                                <p class="font-18"># de documento: <span class="font-bold">${data.numero_documento}</span></p>
                              </div>
                            </div>
                            <div class="row mar-b-10">
                              <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Monto pendiente:  <span class="font-bold">$ ${data.monto_total}</span></p>
                              </div>
                            </div>
                            <input type="hidden" id="egreso_id" name="egreso_id" value="${data.egreso_id}">
                            <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                            <hr>`
                let element = document.querySelector(".here");
                element.innerHTML = "";
                element.insertAdjacentHTML('beforeend', html);
                $('#modal_pagar').modal('show');
              }
            });
          });


          //Solicitar Multiple get modal info
          $('#open-pagar-multiple').on("click", function () {
            let egresos = []
            // Iterate over all checkboxes in the table
            $('.pendientes-table').each(function () {

              // If checkbox is checked
              if (this.checked) {
                egresos.push($(this).val())
              }
            })
            $.get({
              url: '/egresos/get_data_pagar_multiple',
              data: {
                egresos: egresos
              },
              success: function (data) {
                // Clean modal
                document.querySelector(".multiple-here").innerHTML = "";
                //group by beneficiarios
                data = _.mapValues(_.groupBy(data, 'beneficiario'), clist => clist.map(egreso => _.omit(
                  egreso,
                  'beneficiario')));

                var counter = 0;
                var monto_total = 0;
                //for each beneficiario
                Object.keys(data).forEach(function (beneficiario) {
                  var total = data[beneficiario].map(data => Number(data.monto_total)).reduce((prev, next) =>
                    prev + next);
                  monto_total += total;
                  const html =
                    `<div class="box">
                          <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-12 col-md-6">
                              <p class="font-18" id="id">Beneficiario: <span class="font-bold">${beneficiario}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6">
                              <p class="font-18">Monto a pagar: <span class="font-bold">${money.format(total)}</span></p>
                              <input type="hidden" id="monto_total_${counter}" name="monto_total_${counter}" value="${total}">
                            </div>
                          </div>
          
                          <div class="input-group">
                            <div class="row" style="margin-bottom: 10px;">
                              <div class="col-sm-12 col-md-6">
                                  <label for="beneficiario"> Forma de pago </label><br>
                                  <select class="selectpicker" id="forma_pago" data-live-search="true" name="forma_pago_id_${counter}" title="Seleccione una Forma de Pago..." data-width="100%">
                                    {% for forma in formas_pago %} 
                                    <option value="{{forma.id}}"> {{ forma }} </option>
                                    {% endfor %} 
                                  </select>
                              </div>
                              <div class="col-sm-12 col-md-6">
                                  <label for="beneficiario"> Cuenta </label><br>
                                  <select class="selectpicker" id="cuenta" data-live-search="true" name="cuenta_id_${counter}" title="Seleccione una Cuenta.." data-width="100%">
                                    {% for cuenta in cuentas %} 
                                    <option value="{{cuenta.id}}"> {{ cuenta }} </option>
                                    {% endfor %} 
                                  </select>
                              </div>
                            </div>
                          </div>
          
                          <table id="table" style="table-layout: fixed;" class="table table-striped">
                            <thead>
                              <tr>
                                <th>ID egreso</th>
                                <th>Monto</th>
                                <th># de documento</th>
                              </tr>
                            </thead>
                            <tbody class="table${counter}">
                            </tbody>
                          </table>
                        </div>`
                  //insert beneficiario group
                  document.querySelector(".multiple-here").insertAdjacentHTML('beforeend', html);
                  //for each egreso in beneficiario
                  data[beneficiario].forEach(data => {
                    const table_data =
                      `
                            <tr>
                              <th>${data.egreso_id}</th>
                              <th>${money.format(data.monto_total)}</th>
                              <th>${data.numero_documento}</th>
                            </tr>
                            <input type="hidden" id="egreso${counter}" name="egreso_${counter}" value="${data.egreso_id}">
                            `
                    //insert row to table
                    document.querySelector('.table' + counter).insertAdjacentHTML('beforeend',
                      table_data);
                  })
                  counter++;
                  $('.selectpicker').selectpicker('refresh');
                });

                //clean monto
                document.querySelector(".monto-here").innerHTML = "";
                //insert monto total
                document.querySelector(".monto-here").insertAdjacentHTML('beforeend',
                  `<p class="font-18 right">Monto total a pagar: <span class="font-bold">${money.format(monto_total)}</span></p>
                    <input type="hidden" id="cantidad" name="cantidad" value=${counter}>
                    <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                    `
                );
              }
            });
            //show modal  
            $('#modal_pagar_multiple').modal('show');
          });



          //monto parcial checkbox
          $("#parcial").change(function () {
            if (this.checked) {
              $("#monto_parcial").fadeIn();
            } else {
              $("#monto_parcial").fadeOut();
            }
          });



          //Jquery table

          var table = $('.js-basic-example').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            "order": [
              [1, 'desc'],
              [2, 'asc']
            ],
            buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "columnDefs": [{
              "targets": 0,
              "orderable": false
            }]
          });

          // "Select all" control
          $('.table-check').on('click', function () {
            // Check/uncheck all checkboxes in the table
            var rows = table.rows({
              'search': 'applied'
            }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
          });


          //Modal generar pago
          $(".open-generar-pago").on("click", function () {
            $.ajax({
              url: $(this).attr("data-url"),
              success: function (data) {
                const html =
                  `<div class="row" style="margin-bottom:10px;">
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Beneficiario: <span class="font-bold">${data.beneficiario}</span></p>
                                </div>
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Monto a total: <span class="font-bold">${money.format(data.monto_total)}</span></p>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Cuenta de banco: <span class="font-bold">${data.cuenta}</span></p>
                                </div>
                                <div class="col-sm-12 col-md-6 ">
                                    <p class="font-18">Forma de pago: <span class="font-bold">${data.forma_pago}</span></p>
                                </div>
                            </div>
                    <input type="hidden" id="pago_id" name="pago_id" value="${data.pago_id}">
                    <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                    <hr>
                    `
                let element = document.querySelector(".generar_here");
                element.innerHTML = "";
                element.insertAdjacentHTML('beforeend', html);

                if (data.forma_pago.toLowerCase() == 'cheque') {
                  $('#referencia_pago').val(data.numero_cheque);
                  let element = document.querySelector(".alert-here");
                  element.innerHTML = "";
                  const ref =
                    `<div class="alert alert-warning alert-dismissible" style="margin-bottom:0" role="alert">
                                Revisar que el folio del cheque sea correcto
                            </div>`
                  element.insertAdjacentHTML('beforeend', ref);
                }

                if (data.forma_pago.toLowerCase() == 'transferencia') {
                  let element = document.querySelector(".alert-here");
                  element.innerHTML = "";
                  const ref =
                    `<div class="alert alert-info alert-dismissible" style="margin-bottom:0" role="alert">
                                Revisar que la cuenta del beneficiario sea ${data.cuenta_beneficiario}
                            </div>`
                  element.insertAdjacentHTML('beforeend', ref);
                }
                $('#modal_generar_pago').modal('show');
              }
            });
          });

          // Conciliado check for modal generar pago
          $("#conciliado_check").change(function () {
            if (this.checked) {
              $("#referencia_conciliacion").fadeIn()
            } else {
              $("#referencia_conciliacion").fadeOut()
            }
          });



          //Modal Conciliar
          $(".open-conciliar").on("click", function () {
            $.ajax({
              url: $(this).attr("data-url"),
              success: function (data) {
                const html =
                    `<div class="row" style="margin-bottom:20px;">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Beneficiario: <span class="font-bold">${data.cbeneficiario}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Monto a conciliar: <span class="font-bold">$ ${data.monto_total}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cuenta de banco: <span class="font-bold">${data.cuenta}</span></p>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Referencia de pago : <span class="font-bold">${data.referencia}</span></p>
                        </div>
                <input type="hidden" id="pago_id" name="pago_id" value="${data.pago_id}">
                <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                <hr>`
                let element = document.querySelector(".here-conciliar");
                element.innerHTML = "";
                element.insertAdjacentHTML('beforeend', html);
                $('.selectpicker').selectpicker('refresh');
                $('#modal_conciliar_movimiento').modal('show');
              }
            });
          });

          //Modal Conciliar multiple

          $("#open-conciliar-multiple").on("click", function () {
            let pagos = []
            // Iterate over all checkboxes in the table
            $('.conciliar-table').each(function () {

              // If checkbox is checked
              if (this.checked) {
                pagos.push($(this).val())
              }
            })

            $.get({
              url: '/egresos/get_data_conciliar_multiple',
              data: {
                pagos: pagos
              },
              success: function (data) {
                let element = document.querySelector(".here-conciliar");
                element.innerHTML = "";
                data.forEach(pago => {
                  const html =
                    `<div class="row" style="margin-bottom:20px;">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Beneficiario: <span class="font-bold">${pago.beneficiario}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Monto a conciliar: <span class="font-bold">${money.format(pago.monto_total)}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Cuenta de banco: <span class="font-bold">${pago.cuenta}</span></p>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <p class="font-18">Referencia de pago : <span class="font-bold">${pago.referencia}</span></p>
                            </div>
                        </div>
                <input type="hidden" id="pago_id" name="pago_id" value="${pago.pago_id}">
                <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                <hr>`
                  element.insertAdjacentHTML('beforeend', html);
                  $('#modal_conciliar_movimiento').modal('show');

                });

              }
            });
          });

          //Jquery table
          var table2 = $('.js-basic-example2').DataTable({
            'order': [1, 'asc'],
            "columnDefs": [{
              "targets": 0,
              "orderable": false
            }]
          });

          // "Select all" control
          $('.select-all2').on('click', function () {
            // Check/uncheck all checkboxes in the table
            var rows = table2.rows({
              'search': 'applied'
            }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
          });



          //Borrar pago con sweer alert
          $('.delete-pago').on('click', function () {
            var element = this;
            swal({
              title: "Estas seguro?",
              text: "Se borrara el registro de esta solicitud de pago!",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Si, borrar!",
              closeOnConfirm: false
            }, function () {
              console.log(element)
              $.ajax({
                url: $(element).attr("data-url"),
                success: function (data) {
                  if (data) {
                    swal("Borrado!", "El pago ha sido eliminado.", "success");
                    setTimeout(function () {
                      location.reload();
                    }, 2000);


                  }
                }
              })

            });
          });


          $('.delete-categoria').on('click', function () {
            var element = this;
            swal({
              title: "Estas seguro?",
              text: "Se va a desasignar la categoría del beneficiario!",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Si, borrar!",
              closeOnConfirm: false
            }, function () {
              console.log(element)
              $.ajax({
                url: $(element).attr("data-url"),
                success: function (data) {
                  if (data) {
                    swal("Borrado!", "El pago ha sido eliminado.", "success");
                    setTimeout(function () {
                      location.reload();
                    }, 2000);


                  }
                }
              })

            });
          });


    $(".open-editar-comentario").on("click", function () {
        let element = document.querySelector(".editar-comentario-here");
        element.innerHTML = "";
        const html = `
                <div class="row" style="margin-bottom:20px !important">
                    <div class="col-sm-12">
                        <label for="comentario"> Comentario</label>
                        <textarea class="form-control" type="text" name="comentario">${ $(this).attr("data-value")}</textarea>
                    </div>
                    <input type='hidden' class="form-control" name="id" value="${ $(this).attr("data-id")}"/>
                    <input type='hidden' class="form-control" name="type" value="${ $(this).attr("data-type")}"/>
                    <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                </div>`
        element.insertAdjacentHTML('beforeend', html);
        $('#modal_editar_comentario').modal('show');
      });


    //Borrar egreso con sweet alert
    $('.delete-contacto').on('click', function () {
        var element = this;
        swal({
            title: "Estas seguro?",
            text: "Se borrara el contacto de este beneficiario!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si, borrar!",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: $(element).attr("data-url"),
                success: function (data) {
                    if (data) {
                        swal("Borrado!", "El contacto ha sido eliminado.", "success");
                        setTimeout(function () {
                          location.reload();
                        }, 2000);
                    }
                }
            })

        });
    });


  $(".editar-beneficiario").on("click", function () {
            $.ajax({
              url: $(this).attr("data-url"),
              success: function (data) {
                console.log(data)
                const html =
                  ` <div class="input-group" style="margin-bottom:20px !important">
                      <div class="row">
                          <div class="col-sm-12">
                              <h4 for="nombre"> Nombre </h4>
                              <input type='text' class="form-control" name="nombre" value=${data.nombre} data-validation="required" />
                          </div>
                      </div>
                  </div>



                  <h4>Datos Generales</h4>
                  <hr class="mar-t-0">
                  <div class="row" style="margin-bottom:20px !important">
                      <div class="col-sm-12 col-md-6">
                          <label for="razon_social"> Razón Social </label>
                          <input type='text' class="form-control" value=${data.razon_social} name="razon_social" />
                      </div>
                      <div class="col-sm-12 col-md-6">
                          <label for="RFC"> RFC </label>
                          <input type='text' class="form-control" value=${data.RFC}  name="RFC" />
                      </div>
                  </div>

                  <div class="row" style="margin-bottom:20px !important">
                      <div class="col-sm-12">
                          <label for="direccion">Dirección </label>
                          <input type='text' class="form-control" value=${data.direccion}  name="direccion" />
                      </div>
                  </div>

                  <h4>Datos Bancarios</h4>
                  <hr class="mar-t-0">

                  <div class="row" style="margin-bottom:20px !important">
                      <div class="col-sm-12 col-md-6">
                          <label for="cuenta_banco"> Cuenta de Banco </label>
                          <input type='text' class="form-control"  value=${data.cuenta_banco} name="cuenta_banco" />
                      </div>
                      <div class="col-sm-12 col-md-6">
                          <label for="banco"> Banco </label>
                          <input type='text' class="form-control" value=${data.banco} name="banco" />
                      </div>
                  </div>

                  <div style="padding:10px;" class="header">
                      <h4>Contactos del Beneficiario</h4>
                  </div>
                  <div style="padding:10px;" class="body" id="clone">
                  <div class="contactos-here"></div>
                  </div>
                <input type="hidden" id="id" name="id" value="${data.id}">
                <input type='hidden' class="form-control" name="url" value="${window.location}"/>
                <hr>`
                let element = document.querySelector(".beneficiario-here");
                element.innerHTML = "";
                element.insertAdjacentHTML('beforeend', html);
                var head =`<table style="table-layout: fixed;" class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Nombre</th>
                                  <th>Correo</th>
                                  <th>Teléfono</th>
                                  <th>Extensión</th>
                                  <th>Puesto</th>
                              </tr>
                          </thead>
                          <tbody>`
                data.contacto.forEach(contacto => {
                  let data =` <tr>
                                  <td>
                                      <input type="text" value="${contacto.nombre}" name="nombre_contacto" style="width:100%">
                                  </td>
                                  <td>
                                      <input type="email" value="${contacto.correo}" name="correo_contacto" style="width:100%">
                                  </td>
                                  <td>
                                      <input type="tel" value="${contacto.telefono}" name="telefono_contacto" style="width:100%">
                                  </td>
                                  <td>
                                      <input type="number" value="${contacto.extension}" name="extension_contacto" style="width:100%">
                                  </td>
                                  <td>
                                      <input class="form-control" value="${contacto.puesto}" type="text" name="puesto_contacto">
                                  </td>
                              </tr>`
                              head +=data
                });
                const final = head + '</tbody></table>' 
                let elemen = document.querySelector(".contactos-here");
                  elemen.insertAdjacentHTML('beforeend', final);
                $('#modal_editar_beneficiario').modal('show');
              }
            });
          });

        </script>
        {% endblock javascripts %}